{# TODO: make this general to be used anywhere #}
{# TODO: add a third card state that shows when people are logged in #}
<div x-cloak x-show="!$store.auth.token" class="w-full h-72 sm:h-36 my-base" :class="{'flipper-flipped': $store.auth.isFlipped}" style="perspective: 2000px;">
    <div class="w-full h-full flip-content" style="transition: transform 0.5s; transform-style: preserve-3d;">
        {# Front Panel #}
        <div class="absolute w-full h-full rounded-md shadow flip-front px-base pt-sm pb-base bg-primary">
            <h2 class="font-serif text-2xl font-extrabold text-secondary">Login</h2>
            <form action="post" class="flex flex-col sm:items-end sm:flex-row mb-sm text-body gap-sm sm:gap-base" @submit.prevent="$store.auth.submitLogin()">
                <div>
                    <label for="username" class="text-xs uppercase">User Name</label>
                    <input class="w-48" id="username" name="username" required type="text" x-model="$store.auth.username" value=""/>
                </div>
                <div>
                    <label for="password" class="text-xs uppercase">Password</label>
                    <input class="w-48" id="password" name="password" required type="password" x-model="$store.auth.password" value=""/>
                </div>

                <div>
                    <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Login</button>
                </div>

            </form>
            <div class="flex justify-start text-sm text-body gap-base">
                {# TODO: get lost password working #}
                {# <button class="font-bold text-highlight" type="button">Lost Your Password?</button> #}
                <div>If you do not have an account, <button @click="$store.auth.toggleFlip()" class="font-bold text-highlight" type="button">Create an Account</button>
                </div>
            </div>
        </div>
        {# TODO: get register working #}
        {# Back Panel #}
        <div class="absolute w-full h-full rounded-md shadow flip-back px-base pt-sm pb-base bg-primary">
            <h2 class="font-serif text-2xl font-extrabold text-secondary">Create an Account</h2>
            <form action="post" class="flex flex-col items-end sm:flex-row mb-sm text-body gap-base" @submit.prevent="">
                <div>
                    <label for="username" class="text-xs uppercase">User Name</label>
                    <input class="w-48" id="reg-username" name="username" required type="text" x-model="$store.auth.username" value=""/>
                </div>
                <div>
                    <label for="email" class="text-xs uppercase">Email</label>
                    <input class="w-48" id="email" name="email" required type="email" x-model="$store.auth.email" value=""/>
                </div>
                <div>
                    <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Register</button>
                </div>
            </form>
            <div class="text-sm text-body">
                If you have an account, <button @click="$store.auth.toggleFlip()" class="font-bold text-highlight" type="button">Login Here</button>
            </div>
        </div>
    </div>
</div>

<div x-show="$store.auth.token && $store.auth.user.displayName" class="flex justify-between rounded-md shadow p-base bg-primary my-base">
    <div>
        <p class="text-lg font-semibold text-body">Welcome <span x-text="$store.auth.user.displayName"></span> (<span x-text="$store.auth.user.userNicename"></span>)!</p>
    </div>
    <div>
        <button class="button" @click="$store.auth.logout()">Logout</button>
    </div>
</div>