{% macro login() %}
    <div x-cloak x-show="!$store.auth.isAuth">
        <h2 class="font-serif text-2xl font-extrabold text-secondary">Login</h2>
        <form action="post" class="flex flex-col sm:items-end sm:flex-row mb-sm text-body gap-sm sm:gap-base" @submit.prevent="$store.auth.submitLogin()">
            <div>
                <label for="username" class="text-xs uppercase">User Name</label>
                <input class="w-48" id="username" name="username" required type="text" x-model="$store.auth.username" value=""/>
            </div>
            <div>
                <label for="password" class="text-xs uppercase">Password</label>
                <input class="w-48" id="password" name="password" required type="password" x-model="$store.auth.password" value=""/>
            </div>
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Login</button>
            </div>
        </form>
        <div class="flex justify-start text-sm text-body gap-base">
            {# TODO: get lost password working #}
            {# <button class="font-bold text-highlight" type="button">Lost Your Password?</button> #}
            <div>If you do not have an account, <button @click="$store.auth.toggleFlip()" class="font-bold text-highlight" type="button">Create an Account</button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro createAccount() %}
    {# TODO: get register working #}
    <div x-cloak x-show="!$store.auth.isAuth">
        <h2 class="font-serif text-2xl font-extrabold text-secondary">Create an Account</h2>
        <form action="post" class="flex flex-col items-end sm:flex-row mb-sm text-body gap-base" @submit.prevent="">
            <div>
                <label for="username" class="text-xs uppercase">User Name</label>
                <input class="w-48" id="reg-username" name="username" required type="text" x-model="$store.auth.username" value=""/>
            </div>
            <div>
                <label for="email" class="text-xs uppercase">Email</label>
                <input class="w-48" id="email" name="email" required type="email" x-model="$store.auth.email" value=""/>
            </div>
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Register</button>
            </div>
        </form>
        <div class="text-sm text-body">
            If you have an account, <button @click="$store.auth.toggleFlip()" class="font-bold text-highlight" type="button">Login Here</button>
        </div>
    </div>
{% endmacro %}

{% macro spinner() %}
    <div x-cloak x-show="$store.auth.isAuth && !$store.auth.user" class="text-body">Loading...</div>
{% endmacro %}

{% macro userInfo() %}
    <div x-cloak x-show="$store.auth.isAuth && $store.auth.user" class="flex flex-col justify-between sm:flex-row gap-base">
        <div>
            <p class="text-lg font-semibold text-body">Welcome <span x-text="$store.auth.user.displayName"></span> (<span x-text="$store.auth.user.userNicename"></span>)!</p>
        </div>
        {# Somehow include signup info here. Might need to turn this into a macro #}
        <div>
            <button class="button" @click="$store.auth.logout()">Logout</button>
            <button class="button" @click="$store.auth.toggleFlip()">My Events</button>
        </div>
    </div>
{% endmacro %}

{% macro userEventsInfo() %}
    <div x-cloak x-show="$store.auth.isAuth && $store.auth.user" class="">
        <div>
            <p class="text-lg font-semibold text-body">Welcome <span x-text="$store.auth.user.displayName"></span> (<span x-text="$store.auth.user.userNicename"></span>)!</p>
        </div>
        <div class="prose">
            <ul>
                <template x-for="event in $store.user.userEvents">
                    <li>
                        <span x-html="event.eventName"></span>
                    </li>
                </template>
            </ul>
        </div>
        {# Somehow include signup info here. Might need to turn this into a macro #}
        <div class="flex mt-xs gap-sm">
            <button class="button" @click="$store.auth.toggleFlip()">Event Booking</button>
            <button class="button" @click="$store.auth.logout()">Logout</button>
        </div>
    </div>
{% endmacro %}

{% macro eventInfo(eventId) %}
    <div x-cloak x-show="$store.auth.isAuth && $store.auth.user" class="">
        <div class="text-body">
            <h3 class="text-lg font-semibold" x-html="event.eventName"></h3>
            <p>
                <span>Event Owner:</span>
                <span x-text="owner"></span>
            </p>
            <p>
                <span>Spaces Open:</span>
                <span x-text="spaces"></span> out of <span x-text="maxPlayers"></span>
            </p>
            <p class="flex mt-xs gap-sm">
                <button class="button" x-show="spaces > 0 && !$store.user.isBooked({{eventId}})">Book Event</button>
                <span x-show="spaces <= 0 && !$store.user.isBooked({{eventId}})" class="font-bold">Event is full</span>
                <button class="button" x-show="$store.user.isBooked({{eventId}}) && $store.auth.user.displayName !== owner">Cancel Booking</span>
                <button class="button" @click="$store.auth.toggleFlip()">My Events</button>
            </p>
        </div>
    </div>
{% endmacro %}

{# Simple Auth Panel #}

{% macro authPanel() %}
    <div 
    class="flip-wrapper" 
    :class="{'flip-wrapper--flipped': $store.auth.isFlipped}">
        <div class="flip-content">
            {# Front Panel #}
            <div class="flip-front">
                {{ login() }}
                {{ spinner() }}
                {{ userInfo() }}
            </div>
            {# Back Panel #}
            <div class="flip-back">
                {{ createAccount() }}
            </div>
        </div>
    </div>
{% endmacro %}

{# Event Page Panel #}

{% macro eventAuthPanel(eventId) %}
    <div 
    class="flip-wrapper" 
    :class="{'flip-wrapper--flipped': $store.auth.isFlipped}" 
    x-data="eventInfo" 
    x-init="getEvent({{eventId}}); $store.user.getUserEvents()">
        <div class="flip-content">
            {# Front Panel #}
            <div class="flip-front">
                {{ login() }}
                {{ spinner() }}
                {{ eventInfo(eventId) }}
            </div>
            {# Back Panel #}
            <div class="flip-back">
                {{ createAccount() }}
                {{ userEventsInfo() }}
            </div>
        </div>
    </div>
{% endmacro %}