{% macro card(person) %}
    <article class="shadow rounded-xl bg-card" id="{{ person.data.title | slugify }}">
        <header class="grid gap-6 sm:grid-cols-3 bg-gradient-to-br from-primary to-primary-2 p-base rounded-t-xl">
            <div>
                <figure class="aspect-w-1 aspect-h-1" style="clip-path: circle(50% at 50% 50%);" >
                    <img class="block object-cover object-center w-full h-full rounded-md "  src="{{person.data.image}}" alt="image of {{ person.data.name }}">
                </figure>
            </div>
            <div class="sm:col-span-2">
                <h2 class="space-x-xs mb-2xs">
                    <span class="font-serif text-4xl text-header">{{ person.data.title }}</span>
                    <span class="font-bold text-body">{{person.data.gender}}</span></h2>
                <h3 class="font-serif text-3xl leading-none text-subheader mb-base">{{ person.data.position }}</h3>
                {% if person.data.twitter %}
                    <a href="https://twitter.com/{{person.data.twitter}}" class="icon-twitter mb-xs">@{{person.data.twitter}}</a>
                {% endif %}
                {% if person.data.website_url %}
                    <a href="{{person.data.website_url}}" class="icon-website">{{person.data.website_name}}</a>
                {% endif %}
            </div>
        </header>
        <div class="py-base px-base">
            <div class="prose ">{{ person.templateContent | safe }}</div>
        </div>
    </article>
{% endmacro %}