{%- if global.eventType === "online" -%}{%- dateRange global.onlineEventStartDate, global.onlineEventEndDate -%}
{%- endif -%}
{%- if global.eventType === "in person" -%}{%- dateRange global.conEventStartDate, global.conEventEndDate -%}
{%- endif -%}