{%- if global.onlineEventStartDate | isBeforeDate -%}{%- dateRange global.onlineEventStartDate, global.onlineEventEndDate -%}
{%- endif -%}
{%- if global.conEventStartDate | isBeforeDate -%}{%- dateRange global.conEventStartDate, global.conEventEndDate -%}
{%- endif -%}