<div class="text-lg prose border-t-2 border-b-2 text-body mb-base space-y-xs border-hr py-sm" x-data="eventFilter">
    {# Event Day #}
    <div class="flex flex-wrap justify-between">
        <div>
            <strong>Date:</strong>
            <span x-data="{ date: '{{event.eventStartDateTime}}' }" x-text="eventFormat(date)">{{ event.eventStartDateTime | formatEventDate }}</span>
        </div>
        <div>{% include 'components/timezone-select.njk' %}</div>
    </div>
    {# Event Time #}
    <div class="">
        <strong>Duration:</strong>
        {% eventDuration event.eventStartDateTime,
        event.eventEndDateTime %} hrs
    </div>
</div>