{# x-data="eventInfo" on event page #}
{% set isAllAges = false %}
{% if ('All Ages' in event.categories) %}
    {% set isAllAges = true %}
{% endif %}
<div class="rounded-md shadow mt-md text-body p-base bg-card" x-data="{isAllAges: {{isAllAges}} }">
    <h2 class="-mt-1 font-serif text-2xl font-bold leading-none md:text-4xl text-header mb-sm">Event Booking</h2>
    {# Event Name, spaces open, and list of players; only show if logged in and has event data #}
    <div x-cloak x-show="isAuth" class="flex flex-col gap-sm">
        <div class="flex flex-wrap justify-between">
            {# timezone data is in x-data="eventFilter" in wrapping div in base.njk #}
            {# formatEventDate() is in scripts.js and returns html with date and time in seperate span tags #}
            <div>
                <strong>Date:</strong>
                <span x-cloak x-show="timezone" x-html="formatEventDate('{{event.eventStartDateTime}}',timezone)">{{ event.eventStartDateTime | formatEventDate | safe }}</span>
                <span>
                    ({{event.metadata.Length}} hour)</span>
            </div>
        </div>
        <div>
            <strong>Spaces Open:</strong>
            <span x-text="spacesOpen"></span> out of {{event.metadata.Players}}
        </div>

        <div x-cloak x-show="bookings && bookings.length">
            <h4 class="font-serif text-2xl font-semibold">Attendee/Player List</h4>
            <ul class="list-disc pl-md">
                <template x-for="booking in bookings">
                    <li class="mb-xs" x-text="booking && booking.user.displayName"></li>
                </template>
            </ul>
        </div>
        {# Booking buttons #}
        <div class="flex mt-base gap-sm" x-show="(isTeen && !isAllAges) ? false : true">
            <button class="button" x-show="spacesOpen > 0 && !isBooked({{event.eventId}})" @click="bookEvent({{event.eventId}})">Book Event</button>
            <span x-show="spacesOpen <= 0 && !isBooked({{event.eventId}})" class="font-bold">Event is full</span>
            {# Show Cancel #}
            <button class="button" x-show="isBooked({{event.eventId}}) && user && user.id !== gm.id" @click="cancelBooking({{event.eventId}})">Cancel Booking</span>
        </div>
        <div x-show="user && user.id === gm.id">
            You are the person running this event. If you need to cancel this event please contact us at <a href="mailto:info@bigbadcon.com">info@bigbadcon.com</a>.
        </div>
        <div x-show="(isTeen && !isAllAges) ? true : false" class="italic mt-base">
            This is an 18+ only event. Teens are only allowed in All Ages events.
        </div>
    </div>
    {# Message for people not logged in #}
    <div x-cloak x-show="!isAuth">
        You must be <button @click="modal = 'login'" class="underline text-highlight">logged in</button> to sign up.
    </div>
</div>