<div x-cloak class="flex items-center justify-start border-t-2 border-b-2 mb-base text-body gap-sm py-sm border-hr" x-show="$store.auth.isAuth">
    <span class="font-bold">Filter:</span>
    <button @click="favsOnly = !favsOnly" class="flex items-center transition-colors rounded group gap-x-xs bg-main-gradient-bottom px-sm py-2xs hover:bg-primary">
        <svg class="w-4 h-4 fill-body group-hover:fill-highlight">
            <use xlink:href="/static/images/icons.svg#star"></use>
        </svg>
        <span x-text="(favsOnly) ? 'Show All' : 'Show Favs Only'">Show Favs Only</span>
    </button>
</div>