<section class="mt-md" x-data="eventsTable">
    <h2 class="font-serif text-3xl font-bold leading-none md:text-4xl text-header mb-2xs">Events List</h2>
    {% include 'components/event-table-filter.njk' %}
    <button @click="getFavEvents">load favs</button>
    <table class="w-full text-sm text-body">
        <thead>
            <tr>
                <th class="text-lg text-left pb-sm">Event</th>
                <th class="text-left pb-sm">Date Time</th>
                <th class="text-center pb-sm max-w-max">Dur</th>
                {# <th class="text-left pb-sm">System</th> #}
                {# <th class="text-left pb-sm">Categories</th> #}
                {# <th class="w-8 text-center pb-sm">
                    <span class="flex items-center justify-end pl-xs">{% icon 'square-check', 'fill-body' %}</span>
                </th> #}
                <th class="w-8 text-center pb-sm" x-cloak x-show="user">
                    <span class="flex items-center justify-end pl-xs">{% icon 'star', 'fill-body' %}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for event in eventData.events %}
            {# filterEvent script in Alpine.data("eventsTable") and isFav is in Alpine.data("global") #}
                <tr x-show="filterEvent({{event.eventId}},isFav({{event.eventId}}))">
                    {# Event Name #}
                    <td class="py-sm pr-sm">
                        <h3>
                            <a href="/events/{{event.eventSlug}}" class="font-bold transition-colors text-header hover:text-highlight">{{event.eventName | safe }}</a>
                        </h3>
                        <p>{{event.metadata.GM | safe}}</p>
                    </td>
                    {# Event Start Date/Time #}
                    {# formatEventDate() is in scripts.js and returns html with date and time in seperate span tags #}
                    {# formatEventDate filter is in eleventy.js and returns html with date and time in seperate span tags #}
                    <td class="flex flex-col py-sm gap-x-2xs" x-cloak x-show="timezone" x-html="formatEventDate('{{event.eventStartDateTime}}', timezone)">{{ event.eventStartDateTime | formatEventDate | safe }}</td>
                    {# Event Duration #}
                    <td class="font-bold text-center align-top py-sm px-xs">
                        {% eventDuration event.eventStartDateTime,
                        event.eventEndDateTime %}
                    </td>
                    {# System #}
                    {# <td class="py-sm pr-sm">{{event.metadata.System}}</td> #}
                    {# Event Categories #}
                    {# <td class="py-sm pr-sm">
                        {% for category in event.categories %}
                            {% if loop.last %}
                                <span>{{category.name}}</span>
                            {% else %}
                                <span>{{category.name}}</span>,
                            {% endif %}
                        {% endfor %}
                    </td class="py-sm pr-sm"> #}
                    {# Fav Event Icon #}
                    <td x-cloak x-show="user">
                    {# TODO: refactor toggleFav and isFav #}
                        <span @click="toggleFav({{event.eventId}})" class="flex justify-end cursor-pointer opacity-40 hover:opacity-100" :class="isFav({{event.eventId}}) && 'favved'">{% icon 'star', 'fill-body' %}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>