{# x-data="eventInfo" on event page #}
{% set isAllAges = false %}
{% if ('All Ages' in event.categories) %}
    {% set isAllAges = true %}
{% endif %}
{% set isQuotaExempt = false %}
{# TODO: add 'Panel' in event.categories or 'Vending' in event.categories to if statement when Jerry has this working #}
{% if event.metadata.exempt %}
    {% set isQuotaExempt = true %}
{% endif %}
<div class="rounded-md shadow mt-md text-body p-base bg-card" 
x-data="{ isAllAges: {{isAllAges}}, isQuotaExempt: {{isQuotaExempt}} }"
>
    <h2 class="-mt-1 font-serif text-2xl font-bold leading-none md:text-4xl text-header mb-sm">Event Booking</h2>

    {# Only show if logged in and has event data #}
    <div x-cloak x-show="isAuth && hasBadge" class="flex flex-col gap-sm">
        {% include 'components/event-date.njk' %}
        {% include 'components/event-spaces.njk' %}

        <div x-cloak x-show="bookings && bookings.length">
            <h4 class="font-serif text-2xl font-semibold">Attendee/Player List</h4>
            <ul class="list-disc pl-md">
                <template x-for="booking in bookings">
                    <li class="mb-xs" x-text="booking && booking.user.displayName"></li>
                </template>
            </ul>
        </div>

        {# Only show if age appropriate#}
        <div x-show="(isAllAges || !isTeen)">
            {# only show if user is not gm #}
            <div x-show="gm && !gm.some(gm => gm.user.id === user.id)" class="space-y-sm">
                {# Quota information #}
                {% if sitemeta.context === 'dev' or sitemeta.context === 'branch-deploy' %}
                    {# DEV AREA #}
                    <div class="border-2 border-header p-sm">
                        <p>
                            <strong>DEV Quota:</strong> You have <span x-text="availableSlots"></span> available game event slots left.</p>
                        <p class="text-sm italic mb-sm">Dev version shows regardless of how high quote is. Production version only shows if quota is less than 100</p>
                    </div>
                {% endif %}
                <div x-show="!isQuotaExempt && availableSlots < 100">
                    <strong>Quota:</strong> You have <span x-text="availableSlots"></span> available game event slots left.
                </div>

                <div x-show="isQuotaExempt" class="italic">
                    This event does not count towards your quota.
                </div>
                {# Show if not booked #}
                <div x-show="!isBooked({{event.eventId}})">
                    {# Show if no overlap #}
                    <div x-show="!doesEventOverlap('{{event.eventStartDateTime}}', {{event.eventDuration}})">
                        {# Show if event has spaces open #}
                        <div x-show="(maxSpaces === 'Any' || $store.events.spaces[id] > 0)" class="space-y-sm">
                            {# Booking button; show if they have available slots or if it is quota exempt #}
                            {# TODO: add loading spinner after pressing button and waiting on response #}
                            <button class="button" :disabled="!(isQuotaExempt || availableSlots > 0)" @click="bookEvent({{event.eventId}})">Book Event</button>
                        </div>
                        {# Show if event is full #}
                        <div x-show="!(maxSpaces === 'Any' || $store.events.spaces[id] > 0)" class="font-bold">Event is full</div>
                    </div>
                    {# Show if overlap #}
                    <div x-show="doesEventOverlap('{{event.eventStartDateTime}}', {{event.eventDuration}})" class="italic rounded bg-card py-sm px-base">The timing of this event overlaps with one of your booked events.</div>
                </div>
                <div x-show="isBooked({{event.eventId}})">
                    <button class="button" @click="cancelBooking({{event.eventId}})">Cancel Booking</span>
                </div>
            </div>
            {# Show if you are a GM/Speaker #}
            <div x-show="user && gm && gm.some(gm => gm.user.id === user.id)" class="prose rounded bg-card py-sm px-base">
                You are running this event. If you need to cancel, please contact us at <a href="mailto:info@bigbadcon.com">info@bigbadcon.com</a>.
            </div>
        </div>

        {# Show if you are a teen and this is not an all ages event #}
        <div x-show="(isTeen && !isAllAges) ? true : false" class="italic prose mt-base">
            This is an 18+ only event. Teens are only allowed in All Ages events.
        </div>
    </div>

    {# Message for people not logged in #}
    <div x-cloak x-show="!isAuth" class="prose">
        You must be <button @click="modal = 'login'">logged in</button> to sign up.
    </div>
    {# Message for people logged in but without a badge #}
    <div x-cloak x-show="isAuth && !hasBadge" class="prose">
        You must have a <a href="/buy-a-badge">badge</a> to sign up for events.
    </div>

</div>