{% if (event.eventDuration > 0) %}
    <span class="whitespace-nowrap" x-ref="date{{event.eventId}}">{{ event.eventStartDateTime | formatDate }}</span>
    <span class="whitespace-nowrap">{{ event.eventStartDateTime | formatTime }}
        <b class="whitespace-nowrap">{{ event.eventDuration | hoursToHHMM }}</b>
    </span>
{% else %}
    <span class="opacity-50" x-ref="date{{event.eventId}}">TBD</span>
{% endif %}