<div class="flex flex-wrap justify-between">
    <div>
        <strong>Date:</strong>
        {% if (event.eventDuration > 0) %}
            <span class="whitespace-nowrap">{{ event.eventStartDateTime | formatDate }}</span>
            <span class="whitespace-nowrap">{{ event.eventStartDateTime | formatTime }}
                <span class="whitespace-nowrap">({{ event.eventDuration }} hours)</span>
            </span>
        {% else %}
            <span class="opacity-50">TBD</span>
        {% endif %}
    </div>
</div>