<div class="text-lg prose border-t-2 border-b-2 text-body mb-base space-y-xs border-hr py-sm">
    {# Event Day #}
    <div class="flex flex-wrap justify-between">
        {# timezone data is in x-data="eventFilter" in wrapping div in base.njk #}
        {# formatEventDate() is in scripts.js and returns html with date and time in seperate span tags #}
        <div>
            <strong>Date:</strong>
            <span x-cloak x-show="timezone" x-html="formatEventDate('{{event.eventStartDateTime}}',timezone)">{{ event.eventStartDateTime | formatEventDate | safe }}</span>
        </div>
        <div>{% include 'components/timezone-select.njk' %}</div>
    </div>
    {# Event Time #}
    <div class="">
        <strong>Duration:</strong>
        {% eventDuration event.eventStartDateTime,
        event.eventEndDateTime %} hrs
    </div>
    {# Spaces #}
    {# spacesOpen is in eventInfo which is in event.njk #}
    {% if event.metadata.Players %}
        <div>
            <strong>Spaces:</strong>
            <span x-text="(spacesOpen) ? spacesOpen + ' out of {{event.metadata.Players}}' : '{{event.metadata.Players}}'">{{event.metadata.Players}}</span>
        </div>
    {% endif %}
</div>