{% if (event.eventDuration > 0) %}
    <span class="whitespace-nowrap">{{ event.eventStartDateTime | formatDate }}</span>
    <span class="whitespace-nowrap">{{ event.eventStartDateTime | formatTime }}
        <b class="whitespace-nowrap">{{ event.eventDuration }}hr</b>
    </span>
{% else %}
    <span class="opacity-50">TBD</span>
{% endif %}