<section class="mt-md">
    <h2 class="font-serif text-3xl font-bold leading-none md:text-4xl text-header mb-2xs">{{year}} Events</h2>
    <table class="w-full text-sm text-body">
        <tbody>
            {% for event in eventsArchive[year] | sortEvents %}
                <tr x-show="filterEvent({{event.eventId}})">
                    {# Event Name #}
                    <td class="py-sm pr-sm">
                        <h3>
                            <a href="/events/{{event.eventSlug}}" class="font-bold transition-colors text-header hover:text-highlight">{{event.eventName | safe }}</a>
                        </h3>
                        <p>{% metaValue event.metadata,
                            "GM" %}</p>
                        {% set vidlink = "https://www.youtube.com/watch?=" + event.youtubeId %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>