<div class="spacer h-36"></div>
<div class="bg-gradient-to-br from-primary to-primary-2 fixed bottom-0 z-0 w-full h-36">
<div class="max-w-hero mx-auto text-body px-base py-lg">Footer Stuff goes here</div>
</div>