<div class="footer-wrapper">
<footer>
<div x-data="{height: 500}" x-init="setTimeout(() => { height = $refs.footer.offsetHeight }, 200); " x-on:resize.window.debounce="height = $refs.footer.offsetHeight" >
    {# TODO: add no javascript fallback #}
    <div style="height: 500px" :style="`height: ${height}px`">
        <div class="fixed bottom-0 w-full">
            <div class="mx-auto max-w-hero grid bg-primary">
            <div x-ref="footer" class="z-0 w-1/6 grid px-base">
                <div class="relative flex flex-col justify-end mx-auto max-w-hero text-body px-base pt-md md:flex-row md:justify-between space-y-sm md:space-y-0 md:space-x-base">
                    {% for card in collections.footer123ABC %}
                        <div class="relative z-10 pb-base">
                            <h2 class="font-serif text-2xl text-header mb-xs">{{ card.data.title }}</h2>
                            <div class="text-sm leading-snug prose">{{ card.templateContent | safe }}</div>
                        </div>
                    {% endfor %}
                    <div class="w-1/2 md:w-1/4 align-self-end">
                    </div>
                </div>
            </div>
            </div>
            <div class="bg-backdrop">
            <div id="footer-2" class="mx-auto max-w-hero">
                <div id="copyright" class="prose max-w-content2">
                Go Play NW is a 501(c)(7) Non-Profit Organization
                &copy; {% currentYear %} Go Play NW. All rights reserved.
                </div>
                <div id="attribution" class="mx-auto">
                Contact Us | Privacy Policy | Attribution
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</footer>
</div>