{% macro input(id, label, description, type = "text") %}
    <div class="mb-sm">
        <label for="{{id}}">{{ label }}</label>
        {% if description %}
            <p class="text-xs mb-sm text-body">{{ description }}</p>
        {% endif %}
        <input id="{{id}}" name="{{id}}" type="{{type}}" value=""/>
    </div>
{% endmacro %}

{% macro textarea(id, label, description, rows = 3) %}
    <div class="mb-sm">
        <label for="{{id}}">{{ label }}</label>
        {% if description %}
            <p class="text-xs mb-sm text-body">{{ description }}</p>
        {% endif %}
        <textarea cols="30" id="{{id}}" name="{{id}}" rows="{{rows}}"></textarea>
    </div>
{% endmacro %}