{% macro input(id, label, description) %}
    <div class="mb-sm">
        <label for="{{id}}">{{ label }}</label>
        {% if description %}
            <p class="text-xs mb-sm text-body">{{ description }}</p>
        {% endif %}
        <input id="{{id}}" name="{{name}}" type="text" value="" x-model="event.{{id}}"/>
    </div>
{% endmacro %}

{% macro textarea(id, label, description, rows = 3) %}
    <div class="mb-sm">
        <label for="{{id}}">{{ label }}</label>
        {% if description %}
            <p class="text-xs mb-sm text-body">{{ description }}</p>
        {% endif %}
        <textarea cols="30" id="{{id}}" name="{{id}}" rows="{{rows}}" x-model="event.{{id}}"></textarea>
    </div>
{% endmacro %}