<picture class="wolf-detective">
    <source type="image/webp" srcset="/static/images/go_candy-corn.webp">
    <source type="image/png" media="(min-width: 1000px)" srcset="/static/images/go_candy-corn.png">
    <img src="/static/images/go_candy-corn.png" class="w-full h-full object-contain object-bottom" alt="Go wearing a witch's hat and holding a giant candy corn.">
</picture>