<div id="theme-toggle" class="relative" data-state="auto">
    <div class="relative z-10 flex items-center h-4">
      <label class="w-16 h-6 pr-4 relative flex items-center justify-end" />
      <input value="light" name="state-d" type="radio" class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" /> <span class="uppercase opacity-50 transition-opacity cursor-pointer text-sm">Light</span>
      </label>
      <label class="w-6 h-6 relative">
        <input value="auto" name="state-d" type="radio" checked class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" /> <span class="absolute block text-2xs font-bold -top-3 left-1/2 transform -translate-x-1/2 uppercase opacity-50 transition-opacity cursor-pointer">Auto</span>
      </label>
      <label class="w-16 h-6 pl-4 relative flex items-center">
        <input value="dark" name="state-d" type="radio" class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" /> <span class="uppercase opacity-50 transition-opacity cursor-pointer text-sm">Dark</span>
      </label>
    </div>
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2">
        <div class="track w-12 h-4 bg-gray-500 bg-opacity-80 rounded-full shadow-inner"></div>
        <div
            class="thumb transition-all duration-300 ease-in-out absolute top-0 left-4 w-4 h-4  bg-white border-2 border-primary-4 rounded-full">
        </div>
    </div>

</div>

<style>
    input:checked ~ span {
        opacity: 1;
    }
    .light .thumb {
        left: 0;
    }
    .dark .thumb {
        left: 2rem;
    }
</style>