{# Light Dark Switch #}
{# setTheme() function calls a global function in the html_head.njk which sets data-theme on the html tag  #}
<div id="theme-toggle" class="relative" x-data="{theme: 'auto'}" @click="if ($event.target.checked) { theme = $event.target.value; setTheme(theme) }" >
  <div class="relative z-10 flex items-center h-4">
    <label class="relative flex items-center justify-end w-6 h-6 pr-sm text-body">
      <input value="light" name="state-d" type="radio" :checked="theme === 'light'" class="absolute inset-0 block w-full h-full opacity-0 cursor-pointer"/>
      <svg class="w-4 h-4 fill-current">
        <title>Light Mode</title>
        <use xlink:href="/static/images/icons.svg#sun"></use>
      </svg>
    </label>
    <label class="relative w-6 h-6">
      <input value="auto" name="state-d" type="radio" checked :checked="theme === 'auto'" class="absolute inset-0 block w-full h-full opacity-0 cursor-pointer"/>
      <span class="absolute block font-bold tracking-tight uppercase transition-opacity transform -translate-x-1/2 cursor-pointer text-2xs -top-3 left-1/2">Auto</span>
    </label>
    <label class="relative flex items-center w-6 h-6 pl-sm text-body">
      <input value="dark" name="state-d" type="radio" :checked="theme === 'dark'" class="absolute inset-0 block w-full h-full opacity-0 cursor-pointer"/>
      <svg class="w-4 h-4 fill-current">
        <title>Dark Mode</title>
        <use xlink:href="/static/images/icons.svg#moon"></use>
      </svg>
    </label>
  </div>
  <div class="absolute top-0 transform -translate-x-1/2 left-1/2">
    <div class="w-10 h-4 bg-gray-500 rounded-full shadow-inner track bg-opacity-80"></div>
    <div class="absolute top-0 w-4 h-4 transition-all duration-300 ease-in-out bg-white border-2 rounded-full thumb border-primary-4"></div>
  </div>
</div>

<style>
  .thumb {
    left: 0.75rem;
  }
  [data-theme='light'] .thumb {
    left: 0;
  }
  [data-theme='dark'] .thumb {
    left: 1.5rem;
  }
  input:checked + svg {
    fill: var(--fill-highlight);
  }
  input:checked + span {
    color: var(--highlight);
  }
</style>