<div id="theme-toggle" class="relative" data-state="auto">
    <div class="relative z-10 flex items-center h-4">
      <label class="w-6 h-6 pr-sm relative flex items-center justify-end text-body" />
        <input value="light" name="state-d" type="radio" class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" /> 
        <svg class="fill-current w-4 h-4"><title>Light Mode</title><use xlink:href="/static/images/icons.svg#sun"></use></svg>
      </label>
      <label class="w-6 h-6 relative">
        <input value="auto" name="state-d" type="radio" checked class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" /> <span class="absolute block text-2xs font-bold -top-3 left-1/2 transform -translate-x-1/2 uppercase transition-opacity cursor-pointer tracking-tight">Auto</span>
      </label>
      <label class="w-6 h-6 pl-sm relative flex items-center text-body">
        <input value="dark" name="state-d" type="radio" class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" />
        <svg class="fill-current w-4 h-4"><title>Dark Mode</title><use xlink:href="/static/images/icons.svg#moon"></use></svg>
      </label>
    </div>
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2">
        <div class="track w-10 h-4 bg-gray-500 bg-opacity-80 rounded-full shadow-inner"></div>
        <div
            class="thumb transition-all duration-300 ease-in-out absolute top-0 w-4 h-4  bg-white border-2 border-primary-4 rounded-full">
        </div>
    </div>

</div>

<style>
    .thumb {
      left: .75rem;
    }
    .light .thumb {
        left: 0;
    }
    .dark .thumb {
        left: 1.5rem;
    }
    input:checked + svg {
      fill: var(--fill-highlight);
    }
    input:checked + span {
      color: var(--highlight);
    }
</style>