{# lilRed auto checks on pageload and dispatches result to 'lil-red-status' #}
{# If it fails then it keeps trying #}
<div class="fixed bottom-0 z-40 w-full"
    x-data="{ lilRedStatus: 'roll plus login', async delay() {return new Promise((resolve) => setTimeout(resolve, 1000));}, async checkStatus() { this.lilRedStatus = await lilRed.status(); if (this.lilRedStatus !== 'roll plus login') { await delay(); checkStatus() } } }"
    x-cloak x-show="lilRedStatus !== 'roll plus login'" x-transition
    @lil-red-status.window="lilRedStatus = $event.detail; if (lilRedStatus !== 'roll plus login') { await delay(); checkStatus()}"
    >
    <div class="flex justify-between border-t-4 shadow-lg gap-base bg-primary text-body px-base pt-xs border-highlight">
        <img src="/static/images/red-portrait-2017-sm.png" alt="Illustration of Little Red" class="self-end h-16">
        <div class="self-center flex-grow text-sm pb-sm">
            <p>
                <strong class="text-secondary">Little Red Event Manager is down!</strong> Booking and forms are not available. <em>Please wait...</em> This message will disappear once Little Red is back.</p>
        </div>
    </div>
</div>