<nav class="">
    <ul class="flex sm:space-x-base md:space-x-md">
      {% for item in navigation %}
          <li class="relative">
            <button class="font-bold" >
              {{ item.title }}
            </button>
            <ul class="absolute t-4 bg-primary rounded shadow-md h-96 w-96">
            {% for link in item.subnav %}
              <li><a href="{{link.url}}" class="block">{{link.title}}</a></li>
            {% endfor %}
            </ul>
          </li>
      {% endfor %}
    </ul>
</nav>