<picture class="red-2022">
    <source type="image/webp" srcset="/static/images/red-2022-sm.webp">
    <img src="/static/images/red-2022-sm.png" style="width: 100%;" alt="The Wolf, showing off his new spells!">
</picture>
<picture class="wolf-2022">
    <source type="image/webp" srcset="/static/images/wolf-2022-sm.webp">
    <img src="/static/images/red-2022-sm.png" style="width: 100%;" alt="Little Red, lassoing up some varmints!">
</picture>

<style>
    .red-2022 {
        display: block;
    }
    .wolf-2022 {
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        html:not([data-theme='light']) .wolf-2022 {
            display: block;
        }
        html:not([data-theme='light']) .red-2022 {
            display: none;
        }
    }

    [data-theme='dark'] .wolf-2022 {
        display: block;
    }
    [data-theme='dark'] .red-2022 {
        display: none;
    }
</style>