{# TODO: add focus trapping #}
{# TODO: Add account management panel or link to page for that #}
{# Backdrop #}
<div x-cloak x-show="modal" x-transition
    x-init="$watch('modal',val => { if (val && isAuth) { getUserData(); getBookedEvents() } })"
    class="fixed inset-0 z-40 flex items-center justify-center w-screen h-screen bg-backdrop" 
    style="backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);"
    @click="modal = null"
    ></div>

<div id="authModal" class="modal-wrapper" x-show="modal" >
    {# Panel Loading Spinner #}
    <div id="modal-loading" class="modal-panel" x-show="modal === 'Loading'">
        <div class="inline-flex items-center italic font-bold gap-sm py-xs">
            <svg class="w-5 h-5 text-body animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <span>Loading...</span>
        </div>
    </div>
    {# Login Panel #}
    <div id="modal-login" x-cloak x-show="modal === 'Login'" class="modal-panel">
        <div class="modal-header">
            <h2 class="modal-title">
                Login
            </h2>
            {% include "components/modal-close-btn.njk" %}
        </div>
        <form class="flex flex-col flex-grow my-sm text-body gap-base" x-data="{username: '',password: ''}" @submit.prevent="submitLogin(username, password, $el)">
            <div>
                <label for="username" class="text-xs uppercase">User Name</label>
                <input class="w-full" autocapitalize="off" id="username" name="username" required type="text" x-model="username" value=""/>
            </div>
            <div>
                <label for="password" class="text-xs uppercase">Password</label>
                <input class="w-full" id="password" name="password" required type="password" x-model="password" value=""/>
            </div>
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Login</button>
            </div>
        </form>
        <div class="flex flex-col justify-start text-sm text-body gap-xs">
            {# TODO: get lost password working #}
            <div>
                Forgot Password? <a href="#" class="font-bold text-highlight" @click.prevent="modal = 'Reset Password'">Reset Password</a>
            </div>
            <div>
                New? <a href="/create-account" class="font-bold text-highlight">Create an Account</a>
            </div>
        </div>
    </div>

    {# Reset Password Panel #}

    <div id="modal-reset-password" x-cloak x-show="modal === 'Reset Password'" class="modal-panel" >
        {# Header #}
        <div class="modal-header">
            <h2 class="modal-title">
                Reset Password
            </h2>
            {% include "components/modal-close-btn.njk" %}
        </div>
        <form class="flex flex-col flex-grow my-sm text-body gap-base" x-data="resetPasswordForm" @submit.prevent="resetPassword();" >
            <div class="text-sm prose">
                <p>Submit your email address to reset your password.</p>
            </div>
            <div>
                <label for="userEmailReset" autocapitalize="off" class="text-xs uppercase">Email <span class="font-bold text-highlight">*</span></label>
                <input class="w-64" id="userEmailReset" name="userEmailReset" required type="email" autocapitalize="off" autocorrect="off" spellcheck="false" value="" x-model="userEmail"/>
            </div>
            {# TODO: make it gray out disabled when submitting #}
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Submit</button>
            </div>
            <!-- Loading spinner-->
            <div x-cloak x-show="resetPasswordFormState === 'working'" class="flex items-center justify-center gap-sm animate-pulse py-md">
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'succeeded'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset email sent!</em>
                    </strong>
                </p>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'failed'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset failed, probability due to email not associated with an account.</em>
                    </strong>
                </p>
            </div>
        </form>
    </div>

    {# Change Password Panel #}

    <div id="modal-change-password" x-cloak x-show="modal === 'Change Password'" class="modal-panel" >
        {# Header #}
        <div class="modal-header">
            <h2 class="modal-title">
                Change Password
            </h2>
            {% include "components/modal-close-btn.njk" %}
        </div>
        <form class="flex flex-col flex-grow pt-sm text-body gap-base" x-data="resetPasswordForm" @submit.prevent="resetPassword();" >
            <div class="text-sm prose">
                <p>Submit your email address and a reset password email will be sent which will allow you to change your password.</p>
            </div>
            <div>
                <label for="userEmailChange" autocapitalize="off" class="text-xs uppercase">Email <span class="font-bold text-highlight">*</span></label>
                <input class="w-64" id="userEmailChange" name="userEmailChange" required type="email" autocapitalize="off" autocorrect="off" spellcheck="false" value="" x-model="userEmail"/>
            </div>
            {# TODO: make it gray out disabled when submitting #}
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Submit</button>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'working'" class="flex items-center justify-center gap-sm animate-pulse py-md">
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'succeeded'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset email sent!</em>
                    </strong>
                </p>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'failed'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset failed, probability due to email not associated with an account.</em>
                    </strong>
                </p>
            </div>
            <div>
                <button type="button" @click="modal = 'My Account'" class="link-btn">Back to My Account</button>
            </div>
        </form>
    </div>

    {# My Account User Info Panel including My Events. Shown only when logged in #}

    <div id="modal-user-info" class="modal-panel" x-cloak x-show="modal === 'My Account'" >
        {# Header #}
        <div class="">
            <div class="modal-header">
                <h2 class="modal-title">
                    My Account
                </h2>
                {% include "components/modal-close-btn.njk" %}
            </div>
            <h3 class="font-semibold leading-none text-hr pb-xs">
                <span x-text="user && user.displayName"></span> (<span x-text="user && user.userNicename"></span>)</h3>
        </div>
        {# My Events #}
        <div class="overflow-y-auto border-hr border-y-2">
            {# Badge and quota #}
            <div class="flex items-center justify-between border-b-2 py-2xs gap-xs border-hr text-body" x-show="user && hasBadge" x-transition>
                <div class="flex flex-wrap items-center gap-2xs">
                    <span>You have a <span x-show="isTeen">Teen</span> badge!</span>
                    <template x-for="role in badgeRoles">
                        <span x-text="(role === 'paidattendee') ? 'paid' : role" class="py-[.1rem] text-xs font-bold uppercase rounded-full bg-hr text-primary px-xs"></span>
                    </template>
                </div>
                <div class="text-sm" x-show="availableSlots !== undefined && availableSlots < 100">QUOTA: <b x-text="availableSlots"></b>
                </div>
            </div>
            {# loading spinner #}
            <div x-show="!bookedEvents" class="inline-flex items-center italic font-bold gap-sm py-xs">
                <svg class="w-5 h-5 text-body animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span>Loading Events...</span>
            </div>
            {# events list #}
            <ul class="overflow-y-auto text-sm text-body py-xs" x-cloak x-show="bookedEvents" >
                <template x-for="event in bookedEvents">
                    <li class="mb-xs">
                        <h4>
                            <template x-if="(event.status === 1)">
                                <a :href="(event.isV) ? '/volunteer/'+ event.slug : '/events/'+ event.slug" class="font-bold text-header hover:text-highlight" x-html="event.name"></a>
                            </template>
                            <template x-if="(event.status === 0)">
                                <a class="text-body">
                                    <b x-html="event.name"></b>
                                    <i>In Review</i>
                                </a>
                            </template>
                        </h4>
                        {# TODO: allow half hours #}
                        <template x-if="Number(event.dur) > 0">
                            <p class="text-xs opacity-90">
                                <span x-html="formatEventDateWithYear(event.date)"></span>
                                <span x-html="formatEventTime(event.date)"></span>
                                (<span x-text="event.dur"></span> hours)
                                <span class="text-xs" x-show="event.room">&mdash; <span x-text="event.room" class="uppercase"></span>
                                </span>
                            </p>
                        </template>
                        <template x-if="Number(event.dur) === 0">
                            <p class="text-xs opacity-90">
                                date/time not yet scheduled
                            </p>
                        </template>
                    </li>
                </template>
                <li x-show="bookedEvents && bookedEvents.length === 0" class="italic">You currently have no events</li>
            </ul>
        </div>
        {# Buttons #}
        <div class="">
            <div class="flex gap-base pt-base">
                <button class="button" @click="modal = null; logout()">Logout</button>
                <button class="button" @click="modal = 'Change Password'">Change Password</button>
            </div>
        </div>
    </div>
</div>

{# Front Panel Content #}