{% macro authModal() %}
    {# Backdrop #}
    <div x-cloak x-show="(modal)" x-transition 
    class="fixed inset-0 z-40 flex items-center justify-center bg-backdrop" 
    style="backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);"
    >
        {# Modal #}
        <div 
        id="authModal"
        class="transition-all rounded-md shadow h-80 p-base bg-primary" 
        :class="user && 'h-96'"
        style="max-height: 90%; max-width: 90%"
        @click.outside="modal = false">
            {{ login() }}
            {{ spinner() }}
            {{ userInfo() }}
            {{ changePassword() }}
            {{ resetPassword() }}
        </div>
    </div>
{% endmacro %}

{# Front Panel Content #}

{# Login Panel #}
{% macro login() %}
    <div x-cloak x-show="!authToken && modal === 'login'" class="flex flex-col w-64 h-full">
        <h2 class="-mt-1 font-serif text-3xl font-extrabold leading-none text-secondary">Login</h2>
        <form action="post" class="flex flex-col flex-grow my-sm text-body gap-base" x-data="{username: '',password: ''}" @submit.prevent="submitLogin(username,password); username = '';password = ''">
            <div>
                <label for="username" class="text-xs uppercase">User Name</label>
                <input class="w-full" autocapitalize="off" id="username" name="username" required type="text" x-model="username" value=""/>
            </div>
            <div>
                <label for="password" class="text-xs uppercase">Password</label>
                <input class="w-full" id="password" name="password" required type="password" x-model="password" value=""/>
            </div>
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Login</button>
            </div>
        </form>
        <div class="flex flex-col justify-start text-sm text-body gap-xs">
            {# TODO: get lost password working #}
            <div>
                Forgot Password? <a href="#" class="font-bold text-highlight" @click.prevent="modal='resetPassword'">Reset Password</a>
            </div>
            <div>
                New? <a href="/create-account" class="font-bold text-highlight">Create an Account</a>
            </div>
        </div>
    </div>
{% endmacro %}

{# Reset Password Panel #}
{% macro resetPassword() %}
    <div x-cloak x-show="!authToken && modal === 'resetPassword'" class="flex flex-col w-64 h-full" >
        {# Header #}
        <div class="flex justify-between gap-x-sm">
            <h2 class="flex-grow -mt-1 font-serif text-2xl font-semibold leading-none text-header">
                Reset Password
            </h2>
            <div>
                {{ closeBtn() }}
            </div>
        </div>
        <form action="post" class="flex flex-col flex-grow my-sm text-body gap-base" x-data="resetPasswordForm" @submit.prevent="resetPassword();" >
            <div class="text-sm prose">
                <p>Submit your email address to reset your password.</p>
            </div>
            <div>
                <label for="userEmail" autocapitalize="off" class="text-xs uppercase">Email <span class="font-bold text-highlight">*</span></label>
                <input class="w-64" id="userEmail" name="userEmail" required type="email" autocapitalize="off" autocorrect="off" spellcheck="false" value="" x-model="userEmail"/>
            </div>
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Submit</button>
            </div>
            {# Loading spinner #}
            <div x-cloak x-show="resetPasswordFormState === 'working'" class="flex items-center justify-center gap-sm animate-pulse py-md">
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'succeeded'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset email sent!</em>
                    </strong>
                </p>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'failed'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset failed, probability due to email not associated with an account.</em>
                    </strong>
                </p>
            </div>
        </form>
    </div>
{% endmacro %}

{# Change Password Panel #}
{% macro changePassword() %}
    <div x-cloak x-show="user && modal === 'changePassword'" class="flex flex-col w-64 h-full" >
        {# Header #}
        <div class="flex justify-between gap-x-sm">
            <h2 class="flex-grow -mt-1 font-serif text-2xl font-semibold leading-none text-header">
                Change Password
            </h2>
            <div>
                {{ closeBtn() }}
            </div>
        </div>
        <form action="post" class="flex flex-col flex-grow my-sm text-body gap-base" x-data="resetPasswordForm" @submit.prevent="resetPassword();" >
            <div class="text-sm prose">
                <p>Submit your email address and a reset password email will be sent which will allow you to change your password.</p>
            </div>
            <div>
                <label for="userEmail" autocapitalize="off" class="text-xs uppercase">Email <span class="font-bold text-highlight">*</span></label>
                <input class="w-64" id="userEmail" name="userEmail" required type="email" autocapitalize="off" autocorrect="off" spellcheck="false" value="" x-model="userEmail"/>
            </div>
            <div>
                <button class="font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base" type="submit">Submit</button>
            </div>
            {# Loading spinner #}
            <div x-cloak x-show="resetPasswordFormState === 'working'" class="flex items-center justify-center gap-sm animate-pulse py-md">
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'succeeded'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset email sent!</em>
                    </strong>
                </p>
            </div>
            <div x-cloak x-show="resetPasswordFormState === 'failed'" class="text-sm prose">
                <p>
                    <strong>
                        <em>Password reset failed, probability due to email not associated with an account.</em>
                    </strong>
                </p>
            </div>
        </form>
    </div>
{% endmacro %}

{# Loading Spinner. When logging in but user info not yet loaded #}
{% macro spinner() %}
    <div x-cloak x-show="authToken && !user" class="flex items-center justify-center gap-sm animate-pulse py-md">
        <div class="w-8 h-8 rounded-full bg-body"></div>
        <div class="w-8 h-8 rounded-full bg-body"></div>
        <div class="w-8 h-8 rounded-full bg-body"></div>
    </div>
{% endmacro %}

{# Close button #}
{% macro closeBtn() %}
    <button @click="modal = false" class="flex items-center justify-center border-2 border-solid rounded w-7 h-7 border-body bg-card hover:border-highlight">
        <svg class="w-4 h-4 fill-body hover:fill-highlight">
            <use xlink:href="/static/images/icons.svg#close"></use>
        </svg>
    </button>
{% endmacro %}

{# My Account User Info Panel including My Events. Shown only when logged in #}
{% macro userInfo() %}
    <div class="flex flex-col h-full text-body"
    x-cloak x-show="user && modal !== 'changePassword'"  
    >
        {# Header #}
        <div class="flex justify-between gap-x-sm">
            <h2 class="flex-grow -mt-1 font-serif text-3xl font-semibold leading-none text-header gap-base">
                <span x-text="user && user.displayName"></span> (<span x-text="user && user.userNicename"></span>)
            </h2>
            <div>
                {{ closeBtn() }}
            </div>
        </div>
        {# Quota #}
        {# <div class="text-sm mb-sm">
            <strong>Quota Slots Available:</strong>
            <span x-text="availableSlots"></span>]
        </div> #}
        {# My Events #}
        <h3 class="font-serif text-2xl font-semibold text-body">My Events</h3>
        <div class="mb-sm">{% include 'components/timezone-select.njk' %}</div>
        <ul class="flex-grow overflow-y-auto text-sm border-t-2 border-b-2 text-body border-hr py-xs" x-cloak x-show="bookedEvents">
            <template x-for="event in bookedEvents">
                <li class="mb-xs">
                    <h4 class="font-bold">
                        <a :href="(event.isVolunteer) ? '/volunteer/'+ event.eventSlug : '/events/'+ event.eventSlug" class="text-header hover:text-highlight" x-html="event.eventName"></a>
                    </h4>
                    {# Timezone data is in x-data in html #}
                    {# formatEventDate() is in scripts.js and returns html with date and time in seperate span tags #}
                    <p class="text-xs opacity-90" x-cloak x-show="timezone">
                        <span x-html="formatEventDate(event.eventStartDateTime, timezone)"></span> (<span x-text="event.eventDuration"></span> hrs)
                    </p>
                </li>
            </template>
        </ul>

        {# Buttons #}
        <div class="flex pt-base gap-base">
            <button class="button" @click="logout()">Logout</button>
            <button class="button" @click="modal = 'changePassword'">Change Password</button>
        </div>
    </div>
{% endmacro %}