{% if prices.length %}
    {# Only show form if they are logged in with a badge not a teen, not booked for the event and there are spaces open #}
    {# Get booked events when loading this form as it might have been set by the purchase serverless function #}
    <section x-cloak x-show="isAuth && hasBadge && !isTeen && !isBooked({{event.eventId}}) && spacesOpen > 0" class="rounded-md mt-base bg-card pt-sm pb-base px-base" x-init="if (isAuth) getBookedEvents()">
        <header class="prose">
            <h2>PoC Dinner Signup</h2>
            <p>Please fill out this form to sign up for the PoC Dinner.</p>
        </header>
        <form id="form" action="/.netlify/functions/createCheckoutSession" method="POST"
        x-validate x-ref="form" x-data >
            <input type="hidden" name="userId" :value="user && user.id" x-validate/>
            <input type="hidden" name="userEmail" :value="user && user.userEmail" x-validate/>
            <input type="hidden" name="userDisplayName" :value="user && user.displayName" x-validate>
            <input type="hidden" name="productType" value="poc-dinner" x-validate>
            {# There should be only one PoC Dinner product which we incluse as a hidden field #}
            {% for price in prices %}
                {% if "PoC Dinner" in price.product.name %}
                    <input name="price_id" value="{{ price.id }}" type="hidden">
                {% endif %}
            {% endfor %}
            <fieldset class="prose">
                <legend>Dinner Cost</legend>
                <p class="!mt-0 !mb-sm">The POC Dinner would normally be $85/person (plus tax and service charges). Thanks to our sponsers, we can cover the costs for all of our Big Big Bad Con PoC Scholars, Scholarship recipients, staff members, volunteer Rangers, and others who cannot afford it.</p>
                <p class="!mt-0 !mb-sm">We request all who can to contribute to the dinner. Any extra funds we receive will support our PoC initiatives.</p>
                <div class="flex flex-wrap items-center">
                    <input type="checkbox" id="contribution" name="contribution" value="Yes">
                    <label for="contribution" class="text-body-highlight">
                                    I'd like to contribute to the dinner
                                    </label>
                    <span class="error-msg basis-full pt-sm"></span>
                </div>

            </fieldset>
            <fieldset class="prose">
                <legend>Attendance Information</legend>
                <div class="flex flex-wrap items-center required">
                    <input type="checkbox" id="poc" name="poc" value="Yes" required>
                    <label for="poc" class="text-body-highlight">
                                    I, <span x-text="user && user.displayName"></span>, am a person of color.
                                    </label>
                    <span class="error-msg basis-full pt-sm">Only people of color are allowed at the PoC Dinner</span>
                </div>
            </fieldset>
            {# only show this if they were not comped a badge as a volunteer or scholar #}
            <div class="grid grid-cols-1 mt-base" x-show="$validate.isComplete('form') && $formData.contribution.value === 'Yes'">
                {% for price in prices %}
                    {% if "PoC Dinner" in price.product.name %}
                        <div class="prose rounded-md shadow bg-card p-base col-span-full row-span-full">
                            <h3>{{ price.product.name }}</h3>
                            <p>{{price.product.description }}</p>
                            <div class="basis-full">
                                <button type="submit">Contribute</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div x-show="$validate.isComplete('form') && $formData.contribution.value !== 'Yes'">
                {% include 'components/event-booking-panel.njk' %}
            </div>
            {# x-validate form log #}
            {# {% if (sitemeta.environment === 'dev') %}
                {% import 'components/x-validate-form-validator.njk' as validate %}
                {{ validate.log('form') }}
            {% endif %} #}
        </form>
    </section>
    {# Show if Teen #}
    <div x-cloak x-show="isTeen" class="font-bold prose rounded-md mt-base bg-card p-base">
        <p>The PoC Dinner is an 18+ only event.</p>
    </div>
    {# If booked than just show booking panel #}
    <div x-cloak x-show="isBooked({{event.eventId}})">
        {% include 'components/event-booking-panel.njk' %}
    </div>
    {# Message for people not logged in #}
    <div x-cloak x-show="!isAuth" class="prose rounded-md bg-card p-base mt-base">
        You must be <button @click="modal = 'login'" class="underline text-highlight">logged in</button> to sign up.
    </div>
    {# Message for when logged in, not booked, and there are no spaces left #}
    <div x-cloak x-show="isAuth && !isBooked({{event.eventId}}) && spacesOpen < 1" class="prose rounded-md bg-card p-base mt-base">
        There are no spaces left in the event
    </div>
{% else %}
    <section x-cloak x-show="isAuth" class="prose">
        <p>There are no purchasable items at this time.</p>
    </section>
{% endif %}