<picture class="red-barbarian">
    <source type="image/webp" srcset="/static/images/red-barbarian.webp">
    <source type="image/png" media="(min-width: 1000px)" srcset="/static/images/red-barbarian.png">
    <img src="/static/images/red-barbarian-sm.png" style="width: 100%;" alt="Little Red, The Barbarian with her flaming ax!">
</picture>

<style>
    @media (prefers-color-scheme: dark) {
        .red-barbarian img {
            filter: brightness(.75) contrast(1.5);
        }
    }
    .dark .red-barbarian img {
            filter: brightness(.75) contrast(1.5);
        }
</style>