{# Timezones from here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones #}
{# timezone data is in x-data=in html element base.njk #}
{# TODO: make this moduler so it can be toggled on and off for online or in person events. Or better make it an account setting #}
<select id="timezone" class="mb-0 text-sm cursor-pointer px-xs py-2xs" 
    @change="timezone = $el.value"
    x-init="$el.value = timezone"
    x-cloak x-show="timezone">
    <option value="Pacific/Midway">Midway Islands (-11/-11)</option>
    <option value="Pacific/Honolulu">Hawaii (-10/-10)</option>
    <option value="America/Adak">Aleutian Islands (-10/-9)</option>
    <option value="Pacific/Marquesas">Marquesas Islands (-9:30/-9:30)</option>
    <option value="Pacific/Gambier">Gambier Islands (-9/-9)</option>
    <option value="America/Anchorage">Alaska (-9/-8)</option>
    <option value="Pacific/Pitcairn">Pitcairn Islands (-8/-8)</option>
    <option value="America/Los_Angeles" default>Pacific: San Francisco/Baja/BC (-8/-7)</option>
    <option value="America/Dawson">MST: BC/Yukon/Arizona (-7/-7)</option>
    <option value="America/Denver">Mountain: Denver/Chihuahua/BC (-7/-6)</option>
    <option value="America/Belize">Belize/Costa Rica (-6/-6)</option>
    <option value="America/Chicago">Central: Chicago/Mexico City/Winnipeg (-6/-5)</option>
    <option value="America/Cancun">Cancun/Jamaica (-5/-5)</option>
    <option value="America/New_York">Eastern: Detriot/New York/Montreal (-5/-4)</option>
    <option value="America/Caracas">Barbados/Caracas/Port_of_Spain (-4/-4)</option>
    <option value="America/Halifax">Halifax/Santiago/Bermuda (-4/-3)</option>
    <option value="America/St_Johns">St. Johns (-3:30/-2:30)</option>
    <option value="America/Argentina/Buenos_Aires">Buenos_Aires/Montevideo/San Paulo (-3/-3)</option>
    <option value="America/Nuuk">Nuuk (-3/-2)</option>
    <option value="America/Noronha">Atlantic Islands (-2/-2)</option>
    <option value="Atlantic/Cape_Verde">Cape Verde (-1/-1)</option>
    <option value="Africa/Abidjan">GMT: Abidjan/Reykjavik (-0/-0)</option>
    <option value="Europe/London">London/Lisbon (-0/+1)</option>
    <option value="Africa/Casablanca">Casablanca (+1/+0)</option>
    <option value="Africa/Lagos">Lagos/Tunis (+1/+1)</option>
    <option value="Europe/Paris">Paris/Berlin/Rome (+1/+2)</option>
    <option value="Africa/Cairo">Cairo/Johannesburg (+2/+2)</option>
    <option value="Asia/Beirut">Beirut/Athens/Kiev (+2/+3)</option>
    <option value="Africa/Nairobi">Nairobi/Qatar/Moscow (+3/+3)</option>
    <option value="Asia/Tehran">Tehran (+3/+4:30)</option>
    <option value="Asia/Dubai">Dubai/Saratov (+4/+4)</option>
    <option value="Asia/Kabul">Kabul (+4:30/+4:30)</option>
    <option value="Asia/Aqtau">Aqtau/Karachi (+5/+5)</option>
    <option value="Asia/Calcutta">Calcutta/Kolkata (+5:30/+5:30)</option>
    <option value="Asia/Kathmandu">Kathmandu (+5:45/+5:45)</option>
    <option value="Asia/Almaty">Almaty/Dhaka/Omsk (+6/+6)</option>
    <option value="Asia/Yangon">Yangon (+6:30/+6:30)</option>
    <option value="Asia/Bangkok">Bangkok/Tomsk/Jakarta (+7/+7)</option>
    <option value="Asia/Hong_Kong">Hong Kong/Manila/Perth (+8/+8)</option>
    <option value="Australia/Eucla">Eucla (+8:30/+8:30)</option>
    <option value="Asia/Jayapura">Jayapura/Tokyo/Seoul (+9/+9)</option>
    <option value="Australia/Darwin">Darwin (+9:30/+9:30)</option>
    <option value="Australia/Adelaide">Adelaide (+9:30/+10:30)</option>
    <option value="Australia/Brisbane">Brisbane/Vladivostok/Truk (+10/+10)</option>
    <option value="Australia/Melbourne">Melbourne (+10/+11)</option>
    <option value="Asia/Magadan">Magadan/Kosrae (+11/+11)</option>
    <option value="Pacific/Majuro">Marshall Islands (+12/+12)</option>
    <option value="Pacific/Auckland">New Zealand/McMurdo (+12/+13)</option>
    <option value="Pacific/Chatham">Chatham Islands (+12:45/+12:45)</option>
    <option value="Pacific/Enderbury">Phoenix Islands (+13/+13)</option>
    <option value="Pacific/Kiritimati">Line Islands (+13/+13)</option>
</select>