<div class="fixed z-50 flex justify-center w-full bottom-8"
    x-data="{toast: ''}"
    x-cloak x-show="toast" x-transition
    @toast.window="() => { toast = event.detail; if (!toast.startsWith('ERROR')) setTimeout(() => toast = '', 4000); }"
    @click.outside="if (!toast.startsWith('ERROR')) toast = ''"
    >
    <div class="flex px-3 text-sm font-bold border-4 rounded-lg shadow-lg w-80 border-primary py-sm gap-base" :class="(!toast.startsWith('ERROR')) ? 'bg-body text-primary' : 'bg-red-900 text-white'">
        <p x-text="toast" class="flex-grow"></p>
        <div>
            <button @click.prevent="toast = ''" class="flex items-center justify-center w-6 h-6 border-2 border-solid rounded border-body bg-primary">
                <svg class="w-3 h-3 fill-body">
                    <use xlink:href="/static/images/icons.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>
</div>