{# x-data="eventInfo" on  #}
<div class="rounded-md shadow mt-md text-body p-base bg-card">
    <h2 class="-mt-1 font-serif text-2xl font-bold leading-none md:text-4xl text-header mb-sm">Volunteer Signup</h2>
    {# Event Name, spaces open, and list of players; only show if logged in and has event data #}
    <div x-cloak x-show="isAuth" class="flex flex-col gap-sm">
        <div>
            <span>Spaces Open:</span>
            <span x-text="spacesOpen"></span> out of <span x-text="spacesTotal"></span>
        </div>
        <div class="text-sm italic" x-show="() => !hasUserRole('volunteer')">You must be <a href="/rangers/" class="underline text-highlight">sign up as a volunteer</a> to add a volunteer shift</div>
        <div x-cloak x-show="bookings && bookings.length">
            <h4 class="font-serif text-2xl font-semibold">Volunteer List</h4>
            <ul class="list-disc pl-md">
                <template x-for="booking in bookings">
                    <li class="mb-xs" x-text="booking && booking.user.displayName"></li>
                </template>
            </ul>
        </div>
        {# Booking buttons #}
        <div class="flex gap-sm">
            <button class="button" x-show="spacesOpen > 0 && !isBooked({{event.eventId}})" @click="bookEvent({{event.eventId}})">Volunteer</button>
            <span x-show="spacesOpen <= 0 && !isBooked({{event.eventId}})" class="font-bold">Shift is full</span>
            <button class="button" x-show="isBooked({{event.eventId}})" @click="cancelBooking({{event.eventId}})">Cancel Shift</span>
        </div>
    </div>
    {# Message for people not logged in #}
    <div x-cloak x-show="!isAuth">
        You must be <button @click="modal = 'login'" class="underline text-highlight">logged in</button> to sign up for a volunter shift.
    </div>
</div>