<div class="flex flex-wrap items-center justify-start border-t-2 border-b-2 mb-base text-body gap-sm py-sm border-hr" >
    {# <div class="flex flex-wrap items-center justify-start gap-xs">
        <h5 class="text-sm font-bold">Timezone:</h5>
        {% include 'components/timezone-select.njk' %}
    </div> #}
    <div class="flex items-center justify-start gap-xs" x-cloak x-show="isAuth">
        {# favsOnly data is in x-data="eventFilter" in wrapping div in base.njk #}
        <h5 class="text-sm font-bold">Filter:</h5>
        <button @click="filter.favsOnly = !filter.favsOnly" 
        class="filter-btn group">
            <svg class="w-4 h-4 group-hover:fill-highlight" :class="(filter.favsOnly) ? 'fill-highlight' : 'fill-body'">
                <use xlink:href="/static/images/icons.svg#star"></use>
            </svg>
            <span class="text-sm">Favs</span>
        </button>
        <button @click="filter.openOnly = !filter.openOnly" 
        class="filter-btn group">
            <svg class="w-4 h-4 group-hover:fill-highlight" :class="(filter.openOnly) ? 'fill-highlight' : 'fill-body'">
                <use xlink:href="/static/images/icons.svg#square-full"></use>
            </svg>
            <span class="text-sm">Open Spaces</span>
        </button>
    </div>
</div>