<section class="mt-md" x-data="eventsTable" x-init="$store.events.getAllSpaces()">
    <h2 class="font-serif text-3xl font-bold leading-none md:text-4xl text-header mb-base">Volunteer Shift List</h2>

    {# Volunteer Filter Buttons #}
    <div class="flex flex-wrap items-center justify-start border-t-2 border-b-2 mb-base text-body gap-sm py-sm border-hr" >
        <div class="flex items-center justify-start gap-xs">
            <h5 class="text-sm font-bold">Date:</h5>
            <select class="mb-0 text-sm cursor-pointer pl-xs py-2xs" x-model="filter.day" >
                <template x-for="day in allDays">
                    <option x-text="day" :selected="filter.day.toLowerCase() === day.toLowerCase()"></option>
                </template>
            </select>
        </div>
        <div class="flex items-center justify-start gap-xs"
        x-init="if (!isAuth) resetUserFilters(); $watch('isAuth', val => { if (!val) resetUserFilters() })">
            {# favsOnly data is in x-data="eventFilter" in wrapping div in base.njk #}
            <h5 class="text-sm font-bold">Filter:</h5>
            <button @click="filter.openOnly = !filter.openOnly" class="filter-btn" :class="filter.openOnly && 'active'">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 28">
                    <title>square</title>
                    <path d="M24 6.5v15c0 2.484-2.016 4.5-4.5 4.5h-15c-2.484 0-4.5-2.016-4.5-4.5v-15c0-2.484 2.016-4.5 4.5-4.5h15c2.484 0 4.5 2.016 4.5 4.5z"></path>
                </svg>
                <span class="text-sm">Open Spaces</span>
            </button>
            <button @click="filter.favsOnly = !filter.favsOnly" class="filter-btn" :class="filter.favsOnly && 'active'" x-cloak x-show="isAuth">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <title>star</title>
                    <path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
                </svg>
                <span class="text-sm">Favs</span>
            </button>
            <button @click="filter.overlap = !filter.overlap" class="filter-btn" :class="filter.overlap && 'active'" x-cloak x-show="isAuth">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <path d="M28 4v26h-21c-1.657 0-3-1.343-3-3s1.343-3 3-3h19v-24h-20c-2.2 0-4 1.8-4 4v24c0 2.2 1.8 4 4 4h24v-28h-2z"></path>
                    <path d="M7.002 26v0c-0.001 0-0.001 0-0.002 0-0.552 0-1 0.448-1 1s0.448 1 1 1c0.001 0 0.001-0 0.002-0v0h18.997v-2h-18.997z"></path>
                </svg>
                <span class="text-sm">Hide My Events Conflicts</span>
            </button>
        </div>
        <div x-show="!isFilterDefault" x-transition>
            <button @click="resetFilters" class="filter-btn">
                <span class="text-sm">Reset Filters</span>
            </button>
        </div>
    </div>

    {# Volunteer Events Table #}
    <table class="events-table volunteer-shifts-table" id="events-table">
        <thead :class="isSort($el).ascending ? 'ascending' : 'descending'">
            <tr>
                <th>
                    <div class="sortable" :class="isSort($el).col && 'active'">
                        <button @click="sortTable" class="sort-btn" title="Sort by event">Event</button>
                    </div>
                </th>
                <th>
                    <div class="sortable" :class="isSort($el).col && 'active'">
                        <button @click="sortTable" class="sort-btn" title="Sort by Date/Time">Date/Time</button>
                    </div>
                </th>
                {% if sitemeta.context === 'dev' %}
                    <th class="!text-center" >
                        <div :class="isSort($el).col && 'active'" class="sortable">
                            <button class="sort-btn" @click="sortTable">ID</button>
                        </div>
                    </th>
                {% endif %}
                <th class="events-table-header--spaces">
                    <div :class="isSort($el).col && 'active'" class="sortable">
                        <button @click="sortTable" class="sort-btn" title="Sort by Spaces">Spaces</button>
                    </div>
                </th>
                <th class="events-table-header--fav" x-cloak x-show="isAuth">
                    <div class="flex justify-end">
                        <span class="cursor-pointer fav-star-header hover:bg-highlight" @click="filter.favsOnly = !filter.favsOnly" :class="filter.favsOnly && 'favved'"></span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>

            {# Volunteer Event Row #}
            {% for event in eventData.volunteer %}
                {% if (event.metadata.Players > 0) %}
                    {% set maxSpaces = event.metadata.Players %}
                {% else %}
                    {% set maxSpaces = "'Any'" %}
                {% endif %}
                {# isFav is in Alpine.data("global") #}
                <tr 
                x-data="eventInfo"
                x-init="id = {{event.eventId}}; maxSpaces = {{maxSpaces}};"
                x-show="(!filter.favsOnly || isFav({{event.eventId}})) && (!filter.openOnly || (maxSpaces === 'Any' || $store.events.spaces[id] > 0)) && filterDay($refs.date{{event.eventId}}.textContent) && (!filter.overlap || !doesEventOverlap('{{event.eventStartDateTime}}', {{event.eventDuration}}))" 
                >
                    {# Event Name #}
                    <td class="events-table-cell--name">
                        <h3>
                            <a href="/volunteer/{{event.eventSlug}}" class="font-bold transition-colors text-header hover:text-highlight">{{event.eventName | safe }}</a>
                        </h3>
                    </td>
                    {# Event Start Date/Time #}
                    {# formatEventDate() is in scripts.js and returns html with date and time in seperate span tags #}
                    {# formatEventDate filter is in eleventy.js and returns html with date and time in seperate span tags #}
                    <td class="events-table-cell--date" data-sort="{{ event.eventStartDateTime | unixtime }}">
                        {% include 'components/events-table-date.njk' %}
                    </td>
                    {% if sitemeta.context === 'dev' %}
                        <td class="text-center">
                            <span class="text-xs border-2 border-header px-xs py-2xs">{{event.eventId}}</span>
                        </td>
                    {% endif %}
                    {# Spaces #}
                    <td class="events-table-cell--spaces">
                        {% include 'components/events-table-spaces.njk' %}
                    </td>
                    {# Fav Event Icon #}
                    <td class="events-table-cell--fav" x-cloak x-show="isAuth">
                        <div class="flex justify-end">
                            <span @click="toggleFav({{event.eventId}})" class="fav-star" :class="isFav({{event.eventId}}) && 'favved'"></span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>