# Proxy API to avoid CORS problems during development :
# - Get Caddy from https://caddyserver.com/
# - Put the Caddyfile somewhere with the Caddy executable
# - Change posts, paths, ... as needed
# - Start the Caddy process (without args)
# - Lauch the SPA using the URL http://localhost:8081
localhost:8889 {
  log {
    output stderr
  }

  # First : the API
  reverse_proxy /apidev/* https://api-dev.goplaynw.org {
    header_up Host                {host}
      header_up Origin              {host}
      header_up X-Real-IP           {remote}
      header_up X-Forwarded-Server  {host}
      header_up X-Forwarded-Port    {port}
      header_down Access-Control-Allow-Origin       https://admin.bigbadcon.com
      header_down Access-Control-Allow-Credentials  true
  }
  # Last : the dev server started by npm, yarn, ...
  reverse_proxy localhost:8888
}

localhost:8091 {
  log {
    output stderr
  }

  # First : the API
  reverse_proxy https://api.logictwine.com {
    header_up Host                {host}
      header_up Origin              {host}
      header_up X-Real-IP           {remote}
      header_up X-Forwarded-Server  {host}
      header_up X-Forwarded-Port    {port}
      header_down Access-Control-Allow-Origin       https://api.logictwine.com
      header_down Access-Control-Allow-Credentials  true
  }
}

localhost:8092 {
  log {
    output stderr
  }

  # First : the API
  reverse_proxy https://api-dev.goplaynw.org {
    header_up Host                {host}
      header_up Origin              {host}
      header_up X-Real-IP           {remote}
      header_up X-Forwarded-Server  {host}
      header_up X-Forwarded-Port    {port}
      header_up X-Forwarded-Proto   {scheme}
      header_down Access-Control-Allow-Origin       https://api.logictwine.com
      header_down Access-Control-Allow-Credentials  true
  }
}



