{%- from "components/modal.njk" import authModal -%}

<!doctype html>
<html lang="en" class="min-h-screen" x-data="{theme: $persist('auto'), timezone: $persist('America/Los_Angeles'), modal: false }">
  {% include 'layouts/html_head.njk' %}
  <body
  x-cloak x-show="theme"
  class="min-h-screen bg-primary"
  :class="theme"
  :style="(modal) && 'overflow: hidden; height: 100vh;'"
  >
    <div class="relative z-10 grid min-h-screen shadow page-wrapper">
      {# Header with branding and nav #}
      <div class="header-wrapper">
        {% block header %}{% endblock %}
      </div>
      <div class="relative content-wrapper bg-gradient-to-b from-main-gradient-top to-main-gradient-bottom pb-lg" >
        {# Login / Account Button #}
        {# <button @click.stop="modal = 'login'" class="absolute top-0 font-bold uppercase transition-all transform border rounded-b cursor-pointer text-form right-base bg-highlight px-base pb-xs pt-md hover:bg-highlight-2 hover:pt-lg border-highlight" x-text="($store.auth.isAuth) ? 'My Account' : 'Login'">Login</button> #}
        {# Decorative underbrush svg #}
        <div style="-webkit-mask: url(/static/images/underbrush.svg) repeat-x; mask: url(/static/images/underbrush.svg) repeat-x; pointer-events: none;" class="h-10 underbrush bg-primary mb-sm"></div>
        {# Main Content Area. <main> tag should live in content block #}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'components/footer.njk' %}
    {# SVG Gradient used for svg icons sprite #}
    {% include 'components/svg-gradient.njk' %}
    {# Extra optional pagebottom code scripts and styles #}
    {% block pagebottom %}{% endblock %}
    {# Model Popup #}
    {{ authModal() }}
    {# Toast Notification #}
    <div class="fixed z-50 flex justify-center w-full bottom-8" 
    x-cloak x-show="$store.auth.toast" x-transition 
    @click.outside="$store.auth.toast = null">
      <div class="flex px-3 text-sm border-4 rounded-lg shadow-lg w-80 bg-body text-primary border-primary py-sm gap-base">
        <p x-html="$store.auth.toast" class="flex-grow"></p>
        <div>
          <button @click="$store.auth.toast = null" class="flex items-center justify-center w-6 h-6 border-2 border-solid rounded border-body bg-primary">
            <svg class="w-3 h-3 fill-body">
              <use xlink:href="/static/images/icons.svg#close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </body>

</html>