<!doctype html>
<html lang="en" class="min-h-screen" x-data="{timezone: $persist('America/Los_Angeles') }">
    {% include 'layouts/html-head.njk' %}
    <body
  data-theme="auto"
  x-data="global"

  class="min-h-screen bg-primary"
  :style="(modal) && 'overflow: hidden; height: 100vh;'"
  >
        <div class="relative z-10 grid min-h-screen shadow page-wrapper">
            {# Header with branding and nav #}
            <div class="header-wrapper">
                {% block header %}
                    {% include 'components/header.njk' %}
                {% endblock %}
            </div>
            <div class="relative content-wrapper bg-gradient-to-b from-main-gradient-top to-main-gradient-bottom pb-lg" >

                <main id="content">
                    <div class="mx-auto max-w-content p-base">
                        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">Site Issues</h1>
                        <div class="prose">Sorry we are having lots of confusing backend issues. Site is currently down. Site will automatically refresh every 4 seconds. If it's running this page will no longer appear</div>
                    </div>
                </main>

            </div>
        </div>
    </body>

</html>