<!doctype html>
<html lang="en" class="min-h-screen">
{% include 'layouts/html_head.njk' %}

<body
  x-data="{theme: 'auto'}"
  x-init="theme = window.localStorage.getItem('darkmode') || 'auto'"
  x-on:click="if ($event.target.checked) { theme = $event.target.value; window.localStorage.setItem('darkmode',theme)}"
  :class=theme
  :data-theme=theme
  class="min-h-screen bg-primary"
  >
  <div class="relative z-10 grid min-h-screen shadow page-wrapper">
    <div class="header-wrapper">
      {% block header %}{% endblock %}
    </div>
    <div class="content-wrapper bg-gradient-to-b from-main-gradient-top to-main-gradient-bottom pb-lg">
    <div style="-webkit-mask: url(/static/images/underbrush.svg) repeat-x; mask: url(/static/images/underbrush.svg) repeat-x;" class="h-10 underbrush bg-primary"></div>
      {% block content %}{% endblock %}
    </div>
  </div>
  {% include 'components/footer.njk' %}
  {% include 'components/svg-gradient.njk' %}
  {% block pagebottom %}{% endblock %}
</body>

</html>