{% extends 'layouts/base.njk' %}

{% block header %}
{% include 'components/header.njk' %}
{% endblock %}

{% block content %}
<main id="content">
  <div class="max-w-content mx-auto p-base">
    <h1 class="font-serif text-4xl md:text-5xl text-header font-bold mb-base leading-9">{{title}}</h1>
    <div class="prose">{{ content | safe }}</div>
  </div>
  <section class="max-w-content mx-auto p-base">
    {% for post in collections.blog | reverse %}
    <article><a href="{{ post.url }}">
        <h2 class="text-header text-4xl font-serif leading-none">{{post.data.title}}</h2>
        <div class="text-body text-sm">{{post.data.date}}</div>
        <div class="mt-base">
          <div class="prose">{{ post.data.excerpt }}</div>
        </div>
      </a>
    </article>
    {% endfor %}
  </section>
</main>
{% endblock %}