{% extends 'layouts/base.njk' %}

{% block header %}
    {% include 'components/header.njk' %}
{% endblock %}

{% block content %}
    <main id="content">
        <div class="mx-auto max-w-content p-base">
            <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
            <div class="prose">{{ content | safe }}</div>

            <section class="my-base text-body" x-data="changePasswordForm" x-init="urlParams = new URLSearchParams(window.location.search); uuid = urlParams.get('uuid');">

                {# Reset Password form #}
                <form class="prose" x-cloak x-show="uuid && passwordChangedState === 'empty'">
                    <fieldset>
                        <legend>New Password</legend>
                        <div class="space-y-sm">
                            <div class="text-body mb-base">
                                <span class="font-bold text-highlight">*</span> Required</div>
                            <p class="hidden">
                                <label>Don’t fill this out if you’re human: <input name="bot-field"/></label>
                            </p>
                            <div>
                                <label for="userEmail" class="text-xs uppercase">Email <span class="font-bold text-highlight">*</span></label>
                                <input class="w-64" id="userEmail" name="userEmail" required type="email" value="" x-model="userEmail" autocapitalize="off" autocorrect="off" spellcheck="false"/>
                            </div>
                            <div>
                                <label for="userPass" class="text-xs uppercase">New Password <span class="font-bold text-highlight">*</span></label>
                                <input class="w-64" id="userPass" name="userPass" required type="password" value="" x-model="userPass"/>
                            </div>

                            <p>
                                <button type="submit" @click.prevent="changePassword()">Submit</button>
                            </p>

                        </div>
                    </fieldset>
                </form>
                <div class="prose" x-cloak x-show="passwordChangedState === 'working'">
                    {# Loading spinner #}
                    <div class="flex items-center justify-center gap-sm animate-pulse py-md">
                        <div class="w-8 h-8 rounded-full bg-body"></div>
                        <div class="w-8 h-8 rounded-full bg-body"></div>
                        <div class="w-8 h-8 rounded-full bg-body"></div>
                    </div>
                </div>
                <div class="prose" x-cloak x-show="passwordChangedState === 'failed'">
                    <h2>Change password failed</h2>
                    <p>You can attempt to reset your password again or <a href="/contact-us/">contact us</a>.</p>
                </div>
                <div class="prose" x-cloak x-show="passwordChangedState === 'succeeded'">
                    <h2>Change password succeeded!</h2>
                    <p>You can login now using your username and new password.</p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}