{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="content">
    <div class="mx-auto max-w-content p-base"
    x-data="eventInfo"
    x-init="if (isAuth) getEventBooking({{event.eventId}}); $watch('isAuth', value => {if (value === true) getEventBooking({{event.eventId}})}); $watch('bookedEvents', value => { getEventBooking({{event.eventId}}) } )">
      <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title | safe}}</h1>

      <div class="">{{ content | safe }}</div>
    </div>
  </main>
{% endblock %}