{% extends 'layouts/base.njk' %}

{% block header %}
{% include 'components/header.njk' %}
{% endblock %}

{% block content %}
<main id="content">
    <div class="mx-auto max-w-content p-base px-lg bg-card rounded-md shadow-md" x-show="isAuth">
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
        <div class="prose max-w-content2">{{ content | safe }}</div>
        <br />
        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
        <script type="text/javascript">
            window.EBWidgets.createWidget({
                widgetType: 'checkout',
                eventId: '612267497567',
                iframeContainerId: 'gpnw-eventbrite-widget-trigger',
                iframeContainerHeight: 725,
                onOrderComplete: eventbriteOrderCallback,
            });
        </script>
        <div id="gpnw-eventbrite-widget-trigger"></div>
    </div>
    <div class="mx-auto max-w-content p-base px-lg bg-card rounded-md shadow-md" x-show="!isAuth">
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
        <div class="prose max-w-content2">
        You must be <button @click.stop="modal = 'login'" class="font-bold underline text-highlight">logged in</button> to register for the event.
        </div>
    </div>
</main>
{% endblock %}

{% block pagebottom %}

<script type="text/javascript">

    document.addEventListener('alpine:init', () => {

        const user = getUserData()
            .then(function(response) {return response.text()})
            .then(function(data)
            {return data})

        Alpine.data('eventbritePurchase', function () {
            return {
            }

        })
    })
</script>

{% endblock %}