{% extends 'layouts/base.njk' %}
{% import 'components/staff-card.njk' as staff %}

{% block header %}
    {% include 'components/header.njk' %}
{% endblock %}

{% block content %}
  <main id="content">
    {# Display Hero image if set #}
    {% if (heroImage) %}
    {# Hero image #}
    <div class="mx-auto w-full px-12 md:mb-6" style="height: 550px; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{heroImage}}'); background-position: {{heroImagePosition}}; background-repeat: no-repeat; background-size: cover; position: relative; display: flex; justify-content: center; align-items: center; flex-direction: column;">
      {#Page title and subtitle #}
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-white mb-base text-center">{{title}}</h1>
        <h2 class="font-serif text-4xl font-bold leading-none md:text-5xl text-white mb-base text-center">{{subtitle}}</h2>
    </div>
      {% else %}
      <div id="page-title" class="mx-auto max-w-content pt-12 pb-6 px-6 lg:px-0 text-white">
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl mb-base">{{title}}</h1>
        <h2 class="font-serif text-3xl leading-none tracking-tight">{{subtitle}}</h2>
      </div>
      {% endif %}
    {# Page content #}
    <div class="mx-auto md:rounded-md shadow-md max-w-content p-base bg-card">
      <div class="prose max-w-content2">{{ content | safe }}</div>
        <section class="mx-auto">
          <h2 class="text-header leading-none text-5xl font-serif mb-md">Past Events</h2>
          {% for person in collections.featuredFacilitators123ABC %}
            {{ staff.card(person)}}
          {% endfor %}
        </section>
      <!--
      {% if collections.committeeTech123ABC %}
      <section class="mx-auto p-base">
        <h2 class="text-header leading-none text-5xl font-serif mb-md">Technology Committee</h2>
        {% for person in collections.committeeTech123ABC %}
          {{ staff.card(person)}}
        {% endfor %}
      </section>
      {% endif %} -->
    </div>
    </main>
{% endblock %}