{% extends 'layouts/base.njk' %}

{% block content %}
    <main id="content">
        <div class="mx-auto max-w-content p-base">
            <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
            <div class="prose">{{ content | safe }}</div>
            <section class="my-base">
                {# START Submit Form: only show if logged in #}
                <div x-cloak x-show="!isAuth" class="prose">
                    <p>You must be <button @click.stop="modal = 'Login'" class="font-bold underline text-highlight">logged in</button> to submit a game</p>
                </div>
                {# submittingState: 'unsubmitted', // unsubmitted, submitted, complete #}
                <div x-cloak x-show="isAuth && user" x-init="if(isAuth) getUserData()">
                    <div id="submit-your-event">
                        <header class="prose">
                            <h2>Submit Your Event</h2>
                        </header>
                        <action-form novalidate auto-error store id="af-run-an-event">
                            <form action="post" class="prose mt-base" id="form" x-ref="form">
                                <div class="flex justify-between">
                                    <div>
                                        <span class="font-bold text-highlight">*</span>
                                        <em>required field</em>
                                    </div>
                                    <button type="reset" class="button-sm button-title">Reset Form</button>
                                </div>
                                {# HoneyPot Email. If this is filled then ditch response #}
                                <label for="email" style="display:none;">Email<input type="email" name="email" id="email"></label>

                                {# Hidden fields with user data grabbed from localStorage #}
                                <input type="hidden" name="userId" data-stored="_x_user.id">
                                <input type="hidden" name="userEmail" data-stored="_x_user.userEmail">

                                {# Step Progress Bar #}
                                <af-progress></af-progress>

                                {# Start of form steps #}
                                <!-- ---------------------------- Personal Info ------------------------------ -->
                                {# Using Alpine here to persist store Age and Community Standards #}
                                <af-step data-title="Personal" x-data="{yourAge: $persist(''), agreeToCommunityStandards: $persist(false)}">
                                    <fieldset>
                                        <legend>Personal Info</legend>
                                        <fieldset>
                                            <label for="publicName">Public Badge Name</label>
                                            <p class="directions">We encourage attendees to use thier first and last names. However, if for privacy reasons you want to use another name, enter it here.</p>
                                            <input id="publicName" name="publicName" type="text" value="" data-get-store="_x_user.displayName"
                                            required/>
                                            <af-error for="publicName">Required</af-error>
                                        </fieldset>
                                        <fieldset>
                                            <label for="yourAge">
                                                Your age at the start of con
                                            </label>
                                            <p class="directions">Big Bad Con is {% include "components/date-range.njk" %}</p>
                                            <select id="yourAge" name="yourAge" required x-model="yourAge">
                                                <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                                <option>13+</option>
                                                <option>18+</option>
                                            </select>
                                            <af-error for="yourAge">Required</af-error>
                                        </fieldset>
                                    </fieldset>

                                    <fieldset>
                                        <legend>Community Standards</legend>

                                        <p class="directions">Big Bad Con is committed to cultivating a culture of respect, support, and kindness. Please take a moment to read our <a href="/community-standards">Community Standards</a> before answering yes below.</p>

                                        <div class="flex items-center gap-xs">
                                            <input type="checkbox" id="agree-to-community-standards" name="agree-to-community-standards" value="Yes" required x-model="agreeToCommunityStandards">
                                            <label for="agree-to-community-standards" class="italic">
                                            Yes &mdash; I agree to the Big Bad Con Community Standards
                                        </label>
                                        </div>
                                        <af-error for="agree-to-community-standards">Required</af-error>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Format ------------------------------ -->

                                <af-step data-title="Format">
                                    <fieldset>
                                        <legend>Event Format</legend>
                                        <fieldset>
                                            <label for="format">Format</label>

                                            <select id="format" name="format" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option>RPG</option>
                                                <option>Boardgame</option>
                                                <option>LARP</option>
                                                <option>Games on Demand</option>
                                                <option>Workshop</option>
                                                <option>Panel</option>
                                                <option>Podcast/Stream</option>
                                                <option>Social Event</option>
                                            </select>
                                            <af-error for="format">Required</af-error>
                                        </fieldset>
                                        <div data-if="format" data-if-value="Games on Demand" >
                                            <h4>Games on Demand FAQ</h4>
                                            <ul>
                                                <li>Game on Demand slots are 4 hours long; either one 4 hour game or two 2 hour games</li>
                                                <li>You can offer players multiple game options by submitting this form again with another game</li>
                                                <li>For more info, please read <a href="/games_on_demand-how-it-works">Games on Demand FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-regex="Panel"  class="directions">
                                            <h4>Panel FAQ</h4>
                                            <ul >
                                                <li>All Panels are 50 minutes long</li>
                                                <li>Panels may have up to 6 presenters (including a moderator, if any) and 50 attendees</li>
                                                <li>Basic equipment includes wired speaker system with 6 microphones</li>
                                                <li>For more info read our <a href="/panel-faq/">Panel and Workshop FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="Workshop"  class="directions">
                                            <h4>Workshop FAQ</h4>
                                            <ul >
                                                <li>Workshops can be 1 to 2 hours</li>
                                                <li>Workshops may have up to 6 presenters (including a moderator, if any) and 25 attendees</li>
                                                <li>Basic equipment includes wired speaker system with 6 microphones</li>
                                                <li>For more info read our <a href="/panel-faq/">Panel and Workshop FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="Podcast/Stream" class="directions">
                                            <h4>Podcasting & Streaming FAQ</h4>
                                            <ul>
                                                <li>Audio recordings: Up to six (6) people</li>
                                                <li>Video recording/streaming: Up to three (3) people (plus a tech)</li>
                                                <li>BBC staff can help with setup and wifi access, but production is up to you</li>
                                                <li>For more info and equipment available read <a href="/podcast-streaming-faq/">Podcasting &amp; Streaming FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-value="Boardgame" class="mb-base">
                                        <legend>Table Type</legend>
                                        <label for="tableType">Board game table type requested</label>
                                        <select id="tableType" name="tableType" required data-error-msg="Table type is required">
                                            <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                            <option>Long</option>
                                            <option>Round</option>
                                            <option>Either</option>
                                        </select>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame">
                                        <legend>Location</legend>
                                        <label for="locationPref">Location Preference</label>
                                        <select id="locationPref" name="locationPref" required>
                                            <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                            <option>No Preference</option>
                                            <option>Private Room</option>
                                            <option>Atrium</option>
                                        </select>
                                        <af-error for="locationPref">Required</af-error>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-value="Podcast/Stream">
                                        <legend>Media equipment</legend>
                                        <fieldset>
                                            <label for="mediaEquipment">Do you need media equipment?</label>
                                            <select id="mediaEquipment" name="mediaEquipment" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option>I have my own</option>
                                                <option>Equipment requested</option>
                                            </select>
                                            <af-error for="mediaEquipment">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="mediaEquipment" data-if-value="Equipment requested">
                                            <label for="requestMediaEquipment">Media equipment requested</label>
                                            <p class="directions">For a list of available equipment see <a href="/podcast-streaming-faq">Podcast/Streaming FAQ</a>
                                            </p>
                                            <input id="requestMediaEquipment" name="requestMediaEquipment" type="text" value="" required/>
                                            <af-error for="requestMediaEquipment">Required</af-error>
                                        </fieldset>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Info ------------------------------ -->

                                <af-step data-title="Description">
                                    <fieldset>
                                        <legend>Event Info</legend>
                                        <fieldset>
                                            <label for="eventName">Event Name</label>
                                            <input type="text" id="eventName" name="eventName" required maxlength="75">
                                            <af-error for="eventName">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame|Games on Demand" class="form-group-cols-2">
                                            <div>
                                                <div class="label-error-wrapper">
                                                    <label for="system" class="required">System</label>
                                                    <af-error for="system"></af-error>
                                                </div>
                                                <input id="system" name="system" type="text" required/>

                                            </div>
                                            <div>
                                                <div class="label-error-wrapper">
                                                    <label for="playtest" class="required">Is this a playtest?</label>
                                                    <af-error for="playtest"></af-error>
                                                </div>
                                                <select id="playtest" name="playtest" required>
                                                    <option disabled selected value="">-- Choose One --</option>
                                                    <option>No</option>
                                                    <option>Yes</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-not-value="Games on Demand">
                                            <label for="description">Description</label>
                                            <div class="flex justify-between">
                                                <p class="directions">Characters left: <af-text-count for="description" remaining></af-text-count>
                                                </p>
                                                <af-error for="description">Required</af-error>
                                            </div>
                                            <textarea name="description" id="description" cols="30" rows="4" maxlength="1400" required></textarea>
                                        </fieldset>
                                        {# Games On Demand has shorter maxLength #}
                                        <fieldset data-if="format" data-if-value="Games on Demand">
                                            <label for="description">Description</label>
                                            <div class="flex justify-between">
                                                <p class="directions">Characters left: <af-text-count for="descriptionGoD" remaining></af-text-count>
                                                </p>
                                                <af-error for="descriptionGoD">Required</af-error>
                                            </div>
                                            <textarea name="description" id="descriptionGoD" cols="30" rows="3" maxlength="250" required></textarea>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame|Games on Demand">
                                            <label for="characters">Characters</label>
                                            <select id="characters" name="characters" required>
                                                <option disabled selected value=""> -- Choose One -- </option>
                                                <option>Provided</option>
                                                <option>Created at the table</option>
                                                <option>Other/Does not apply</option>
                                            </select>
                                            <af-error for="characters">Required</af-error>
                                        </fieldset>
                                    </fieldset>

                                </af-step>

                                <!-- ---------------------------- Game Event: Player Info, Content Advisory, Safety ------------------------------ -->

                                <af-step data-title="Players" data-if="format" data-if-regex="RPG|LARP|Boardgame|Games on Demand">
                                    <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame|Games on Demand">
                                        <fieldset>
                                            <legend>Player Info</legend>
                                            <fieldset data-if="yourAge" data-if-value="18+">
                                                <label for="playerAge">Player Age</label>
                                                <select id="playerAge" name="playerAge" required>
                                                    <option disabled selected value=""> -- Choose One -- </option>
                                                    <option>13+</option>
                                                    <option>18+</option>
                                                </select>
                                                <af-error for="playerAge">Required</af-error>
                                            </fieldset>
                                            <fieldset data-if="yourAge" data-if-value="13+">
                                                <label for="playerAge">Player Age</label>
                                                <input type="text" name="playerAge" readonly value="13+">
                                            </fieldset>
                                            <fieldset class="form-group-cols-3">
                                                <div>
                                                    <label for="minPlayers">Min Players</label>
                                                    <input id="minPlayers" name="minPlayers" type="number" size="2" class="w-20" required min="1" value="1"/>
                                                    <af-error for="minPlayers">Required</af-error>
                                                </div>
                                                <div>
                                                    <label for="maxPlayers">Max Players</label>
                                                    <input id="maxPlayers" name="maxPlayers" type="number" size="2" class="w-20" required min="1" max="25"/>
                                                    <af-error for="maxPlayers">Required</af-error>
                                                </div>
                                            </fieldset>
                                            {# Podcast / Stream has no attendees #}
                                            {# Panel set to min 1 and max 50 on backend #}
                                        </fieldset>

                                        <fieldset>
                                            <legend>Content Advisory</legend>
                                            <p class="italic" data-if="yourAge" data-if-value="13+">
                                                Event designed for people aged 13+ (no strong content)
                                            </p>
                                            <fieldset data-if="yourAge" data-if-value="18+">
                                                <div class="italic mb-base" data-if="playerAge" data-if-value="13+">
                                                    Event designed for people aged 13+ (no strong content)
                                                </div>
                                                <fieldset data-if="playerAge" data-if-value="18+">
                                                    <fieldset>
                                                        <div class="italic">Event designed for people aged 18+</div>
                                                        <label>Content Advisory</label>
                                                        <select id="contentAdvisory" name="contentAdvisory" required>
                                                            <option disabled selected value=""> -- Choose One -- </option>
                                                            <option value="No">No content advisory needed</option>
                                                            <option value="Yes">Yes, contains strong content</option>
                                                        </select>
                                                    </fieldset>
                                                    <fieldset data-if="contentAdvisory" data-if-value="Yes">
                                                        <label>Content Advisory Options</label>
                                                        <div data-if="contentAdvisory" data-if-value="Yes" class="form-group-cols-2">
                                                            <label><input type="checkbox" name="contentAdvisoryOptions" value="Gore">Gore</label>
                                                            <label><input type="checkbox" name="contentAdvisoryOptions" value="Graphic Violence">Graphic Violence</label>
                                                            <label><input type="checkbox" name="contentAdvisoryOptions" value="Provocative">Provocative</label>
                                                            <label><input type="checkbox" name="contentAdvisoryOptions" value="Sex and Sexuality">Sex and Sexuality</label>
                                                        </div>
                                                        <label for="contentWarnings">Content Warnings</label>
                                                        <input id="contentWarnings" name="contentWarnings" type="text" value="" class="w-full max-w-md"/>
                                                    </fieldset>
                                                </fieldset>
                                            </fieldset>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Safety Tools</legend>
                                            <div class="directions">For a description of tools see <a href="/safety-collaboration-tools/">Safety and Collaboration Tools</a>
                                            </div>
                                            <div class="form-group-cols-3">
                                                <label><input type="checkbox" name="safetyTools" value="X-Card">X-Card</label>
                                                <label><input type="checkbox" name="safetyTools" value="Lines/Veils">Lines/Veils</label>
                                                <label><input type="checkbox" name="safetyTools" value="Cut/Brake">Cut/Brake</label>
                                                <label><input type="checkbox" name="safetyTools" value="Open Door Policy">Open Door Policy</label>
                                                <label><input type="checkbox" name="safetyTools" value="Script Change">Script Change</label>
                                                <label><input type="checkbox" name="safetyTools" value="Other">Other</label>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                </af-step>
                                <!-- ---------------------------- Non-Game Event: Attendee Info, Content Advisory, Safety ------------------------------ -->
                                <af-step data-title="Attendees" data-if="format" data-if-regex="Social Event|Workshop|Panel|Podcast/Stream">
                                    <fieldset data-if="format" data-if-regex="Social Event|Workshop|Panel|Podcast/Stream">
                                        <legend>Attendee Info</legend>
                                        <fieldset data-if="yourAge" data-if-value="18+">
                                            <label for="playerAge">Attendee Age</label>
                                            <select id="playerAge" name="playerAge" required>
                                                <option disabled selected value=""> -- Choose One -- </option>
                                                <option>13+</option>
                                                <option>18+</option>
                                            </select>
                                            <af-error for="playerAge">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="yourAge" data-if-value="13+">
                                            <label for="playerAge" data-if="format" data-if-regex="RPG|LARP|Boardgame|Games on Demand">Player Age</label>
                                            <label for="playerAge" data-if="format" data-if-regex="Social Event|Workshop|Panel|Podcast/Stream">Attendee Age</label>
                                            <select id="playerAge" name="playerAge" required>
                                                <option selected>13+</option>
                                            </select>
                                        </fieldset>
                                        {# Podcast / Stream has no attendees #}
                                        {# Panel set to min 1 and max 50 on backend #}
                                        <fieldset data-if="format" data-if-regex="Social Event|Workshop" class="form-group-cols-3">
                                            <div>
                                                <label for="minPlayers">Minimum Attendees</label>
                                                <input id="minPlayers" name="minPlayers" type="number" size="2" class="w-20" required min="1" value="1"/>
                                                <af-error for="minPlayers">Required</af-error>
                                            </div>
                                            <div>
                                                <label for="maxPlayers">Max Attendees</label>
                                                <input id="maxPlayers" name="maxPlayers" type="number" size="2" class="w-20" required min="1" max="25"/>
                                                <af-error for="maxPlayers">Required</af-error>
                                            </div>
                                        </fieldset>
                                    </fieldset>

                                    <fieldset data-if="format" data-if-regex="Workshop|Panel|Podcast/Stream">
                                        <legend>Content Advisory</legend>
                                        <div class="italic" data-if="yourAge" data-if-value="13+">Event designed for people aged 13+ (no strong content)</div>
                                        <fieldset data-if="yourAge" data-if-value="18+">
                                            <div class="italic mb-base" data-if="playerAge" data-if-value="13+">
                                                Event designed for people aged 13+ (no strong content)
                                            </div>
                                            <fieldset data-if="playerAge" data-if-value="18+">
                                                <fieldset>
                                                    <div class="italic">Event designed for people aged 18+</div>
                                                    <label>Content Advisory</label>
                                                    <select id="contentAdvisory" name="contentAdvisory" required>
                                                        <option disabled selected value=""> -- Choose One -- </option>
                                                        <option value="No">No content advisory needed</option>
                                                        <option value="Yes">Yes, contains strong content</option>
                                                    </select>
                                                </fieldset>
                                                <fieldset data-if="contentAdvisory" data-if-value="Yes">
                                                    <label>Content Advisory Options</label>
                                                    <div data-if="contentAdvisory" data-if-value="Yes" class="form-group-cols-2">
                                                        <label><input type="checkbox" name="contentAdvisoryOptions" value="Gore">Gore</label>
                                                        <label><input type="checkbox" name="contentAdvisoryOptions" value="Graphic Violence">Graphic Violence</label>
                                                        <label><input type="checkbox" name="contentAdvisoryOptions" value="Provocative">Provocative</label>
                                                        <label><input type="checkbox" name="contentAdvisoryOptions" value="Sex and Sexuality">Sex and Sexuality</label>
                                                    </div>
                                                    <label for="contentWarnings">Content Warnings</label>
                                                    <input id="contentWarnings" name="contentWarnings" type="text" value="" class="w-full max-w-md"/>
                                                </fieldset>
                                            </fieldset>
                                        </fieldset>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Scheduling ------------------------------ -->

                                <af-step data-title="Scheduling">
                                    <fieldset>
                                        <legend>Event Duration</legend>
                                        {# Event Length varies by event format; uses watch to hide display #}
                                        <fieldset data-if="format" data-if-value="Panel">
                                            <label for="eventLengthPanel">Event Length</label>
                                            <p class="directions">Panels are limited to 1 hour</p>
                                            <select id="eventLengthPanel" name="eventLength" required data-error-msg="Length required">
                                                <option value="1" selected>1 hour</option>
                                            </select>
                                            <af-error for="eventLengthPanel">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-value="Podcast/Stream">
                                            <label for="eventLengthPodcast">Event Length</label>
                                            <p class="directions" >Limited to 2 hours: <em>1 hour recording; 30 min setup and 30 min breakdown</em>
                                            </p>
                                            <select id="eventLengthPodcast" name="eventLength" required data-error-msg="Length required">

                                                <option value="2" selected>2 hours</option>
                                            </select>
                                            <af-error for="eventLengthPodcast">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="Workshop|Social Event">
                                            <label for="eventLengthWorkshopSocial">Event Length</label>
                                            <select id="eventLengthWorkshopSocial" name="eventLength" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option value="1">1 hour</option>
                                                <option value="2">2 hours</option>
                                            </select>
                                            <af-error for="eventLengthWorkshopSocial">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-value="Games on Demand">
                                            <label for="eventLengthGoD">Games on Demand Event Length</label>
                                            <p class="directions">Both games submitted must be the same length, either 2 or 4 hours.</p>
                                            <select id="eventLengthGoD" name="eventLength" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option value="2">Two 2 hour session games</option>
                                                <option value="4">One 4 hour session game</option>
                                            </select>
                                            <af-error for="eventLengthGoD">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame">
                                            <label for="eventLengthGame">Event Length</label>
                                            <select id="eventLengthGame" name="eventLength" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option value="1">1 hour</option>
                                                <option value="2">2 hours</option>
                                                <option value="4">4 hours</option>
                                                <option value="6">6 hours</option>
                                                <option value="8">8 hours</option>
                                            </select>
                                            <af-error for="eventLengthGame">Required</af-error>
                                        </fieldset>
                                        {# End event length options #}
                                    </fieldset>
                                    <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame|Games on Demand">
                                        <legend>Event Repeatability</legend>
                                        <label for="runNumberOfTimes" data-if="format" data-if-regex="^(?!Games on Demand$).*">How many times do you want to run your event?</label>
                                        <label for="runNumberOfTimes" data-if="format" data-if-value="Games on Demand" class="m-0">How many 4 hour Games on Demand slots do you want to run?</label>
                                        <select id="runNumberOfTimes" name="runNumberOfTimes" required>
                                            <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                            <option value="1">Once</option>
                                            <option value="2">Twice</option>
                                            <option value="3">I want to run this 3 times! Whoa!</option>
                                            <option value="4">I want to run this 4 times! Yow!!!</option>
                                        </select>
                                        <af-error for="runNumberOfTimes">Required</af-error>
                                    </fieldset>
                                    <fieldset data-if="eventLength" class="mt-base">
                                        <legend>Scheduling Preferences</legend>
                                        <label class="no-preference"><input type="checkbox" name="schedulingPref" value="No Preference"> No Preference</label>

                                        <div data-if="format" data-if-value="Social Event" class="form-group-cols-2">
                                            <p class="directions">We have limited availablity Friday and Saturday night</p>
                                            {# Same options for 1 or 2 hours #}
                                            <label><input type="checkbox" name="schedulingPref" value="Thursday 6PM-Midnight">Thursday 6PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-1PM">Friday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-6PM">Friday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 8PM-Midnight">Friday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-1PM">Saturday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-6PM">Saturday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 8PM-Midnight">Saturday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-1PM">Sunday 9AM-1PM</label>
                                        </div>

                                        {# Scheduling Preference Games On Demand. 4hr Regardless of choosing 2 or 4 for eventLength #}
                                        <div data-if="format" data-if-value="Games on Demand" class="form-group-cols-2">
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-1PM">Friday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-6PM">Friday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 8PM-Midnight">Friday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-1PM">Saturday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-6PM">Saturday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 8PM-Midnight">Saturday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-1PM">Sunday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-6PM">Sunday 2PM-6PM</label>
                                        </div>
                                        <div data-if="format" data-if-regex="Workshop|RPG|LARP|Podcast|Boardgame">
                                            <fieldset data-if="eventLength" data-if-value="1" class="form-group-cols-1">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday morning (between 9AM-1PM)">Friday morning (between 9AM-1PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday afternoon (between 2PM-6PM)">Friday afternoon (between 2PM-6PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday morning (between 9AM-1PM)">Saturday morning (between 9AM-1PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday afternoon (between 2PM-6PM)">Saturday afternoon (between 2PM-6PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday morning (between 9AM-1PM)">Sunday morning (between 9AM-1PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday afternoon (between 2PM-6PM)">Sunday afternoon (between 2PM-6PM)</label>
                                            </fieldset>

                                            <div data-if="eventLength" data-if-value="2" class="form-group-cols-2">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-11AM">Friday 9AM-11AM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 11AM-1PM">Friday 11AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-4PM">Friday 2PM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 4PM-6PM">Friday 4PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-11AM">Saturday 9AM-11AM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 11AM-1PM">Saturday 11AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-4PM">Saturday 2PM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 4PM-6PM">Saturday 4PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-11AM">Sunday 9AM-11AM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 11AM-1PM">Sunday 11AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-4PM">Sunday 2PM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 4PM-6PM">Sunday 4PM-6PM</label>
                                            </div>

                                            <div data-if="eventLength" data-if-value="4" class="form-group-cols-2">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-1PM">Friday 9AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-6PM">Friday 2PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 8PM-Midnight">Friday 8PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-1PM">Saturday 9AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-6PM">Saturday 2PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 8PM-Midnight">Saturday 8PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-1PM">Sunday 9AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-6PM">Sunday 2PM-6PM</label>
                                            </div>
                                            <div data-if="eventLength" data-if-value="6" class="form-group-cols-1">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 10AM-4PM">Friday 10AM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 6PM-Midnight">Friday 6PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 10AM-4PM">Saturday 10AM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 6PM-Midnight">Saturday 6PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-3PM">Sunday 9AM-3PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-8PM">Sunday 2PM-8PM</label>
                                            </div>
                                            <div data-if="eventLength" data-if-value="8" class="form-group-cols-1">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 10AM-6PM">Friday 10AM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-10PM">Friday 2PM-10PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 10AM-6PM">Saturday 10AM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-10PM">Saturday 2PM-10PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 10AM-6PM">Sunday 10AM-6PM</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Additional Info ------------------------------ -->
                                <af-step data-title="Extra Info">
                                    <fieldset>
                                        <legend>Additional Info</legend>
                                        <fieldset data-if="format" data-if-value="Panel">
                                            <label for="panelTopic">Panel Topic</label>
                                            <div class="form-group-cols-3" >
                                                <label><input type="checkbox" name="panelTopic" value="GMing Advice">GMing Advice</label>
                                                <label><input type="checkbox" name="panelTopic" value="Literature">Literature</label>
                                                <label><input type="checkbox" name="panelTopic" value="Player Advice">Player Advice</label>
                                                <label><input type="checkbox" name="panelTopic" value="Safety Tools">Safety Tools</label>
                                                <label><input type="checkbox" name="panelTopic" value="Social Contracts">Social Contracts</label>
                                                <label><input type="checkbox" name="panelTopic" value="Social Justice">Social Justice</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame">
                                            <label for="gameFocus">Game Focus</label>
                                            <div class="form-group-cols-3">
                                                <label><input type="checkbox" name="gameFocus" value="Adventure">Adventure</label>
                                                <label><input type="checkbox" name="gameFocus" value="Combat">Combat</label>
                                                <label><input type="checkbox" name="gameFocus" value="Drama">Drama</label>
                                                <label><input type="checkbox" name="gameFocus" value="Exploration">Exploration</label>
                                                <label><input type="checkbox" name="gameFocus" value="Hijinx">Hijinx</label>
                                                <label><input type="checkbox" name="gameFocus" value="Improv">Improv</label>
                                                <label><input type="checkbox" name="gameFocus" value="Intrigue">Intrigue</label>
                                                <label><input type="checkbox" name="gameFocus" value="Investigation">Investigation</label>
                                                <label><input type="checkbox" name="gameFocus" value="LGBTQ themes">LGBTQ themes</label>
                                                <label><input type="checkbox" name="gameFocus" value="Mystery">Mystery</label>
                                                <label><input type="checkbox" name="gameFocus" value="Romance">Romance</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame">
                                            <label for="playerContributions">Player Contributions</label>
                                            <div class="form-group-cols-3">
                                                <label><input type="checkbox" name="playerContributions" value="Collaborative">Collaborative</label>
                                                <label><input type="checkbox" name="playerContributions" value="Freeform">Freeform</label>
                                                <label><input type="checkbox" name="playerContributions" value="GM-less">GM-less</label>
                                                <label><input type="checkbox" name="playerContributions" value="Play to find out">Play to find out</label>
                                                <label><input type="checkbox" name="playerContributions" value="Player Antagonism">Player Antagonism</label>
                                                <label><input type="checkbox" name="playerContributions" value="Rotating Authority">Rotating Authority</label>
                                                <label><input type="checkbox" name="playerContributions" value="Strong Storyline">Strong Storyline</label>
                                            </div >
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame">
                                            <label>Game Genre</label>
                                            <div class="form-group-cols-3">
                                                <label><input type="checkbox" name="gameGenre" value="Aliens">Aliens</label>
                                                <label><input type="checkbox" name="gameGenre" value="Alternate History">Alternate History</label>
                                                <label><input type="checkbox" name="gameGenre" value="Apocalyptic">Apocalyptic</label>
                                                <label><input type="checkbox" name="gameGenre" value="Cyberpunk">Cyberpunk</label>
                                                <label><input type="checkbox" name="gameGenre" value="Espionage">Espionage</label>
                                                <label><input type="checkbox" name="gameGenre" value="Fantasy">Fantasy</label>
                                                <label><input type="checkbox" name="gameGenre" value="Horror">Horror</label>
                                                <label><input type="checkbox" name="gameGenre" value="Military">Military</label>
                                                <label><input type="checkbox" name="gameGenre" value="Modern">Modern</label>
                                                <label><input type="checkbox" name="gameGenre" value="Noir">Noir</label>
                                                <label><input type="checkbox" name="gameGenre" value="Pulp">Pulp</label>
                                                <label><input type="checkbox" name="gameGenre" value="Sci-Fi">Sci-Fi</label>
                                                <label><input type="checkbox" name="gameGenre" value="Super Powers">Super Powers</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Boardgame">
                                            <label>Game Mood</label>
                                            <div class="form-group-cols-3" >
                                                <label><input type="checkbox" name="gameMood" value="Comical">Comical</label>
                                                <label><input type="checkbox" name="gameMood" value="Cute">Cute</label>
                                                <label><input type="checkbox" name="gameMood" value="Dark">Dark</label>
                                                <label><input type="checkbox" name="gameMood" value="Emotional">Emotional</label>
                                                <label><input type="checkbox" name="gameMood" value="Light">Light</label>
                                                <label><input type="checkbox" name="gameMood" value="Melancholy">Melancholy</label>
                                                <label><input type="checkbox" name="gameMood" value="Serious">Serious</label>
                                                <label><input type="checkbox" name="gameMood" value="Silly">Silly</label>
                                                <label><input type="checkbox" name="gameMood" value="Suspenseful">Suspenseful</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-value="Games on Demand">
                                            <label for="phone">Phone Number</label>
                                            <p class="directions">This info will only be used by our GoD rangers in case you are late for your shift.</p>
                                            <input type="tel" name="phone" id="phone" required>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-value="Games on Demand">
                                            <label for="discord">Discord Handle</label>
                                            <input type="tel" name="discord" id="discord">
                                        </fieldset>
                                        <fieldset>
                                            <label for="additionalRequirements">List any special requirements</label>
                                            <textarea cols="30" id="additionalRequirements" name="additionalRequirements" rows="2" ></textarea>
                                        </fieldset>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Review ------------------------------ -->

                                <af-step data-title="Review">
                                    <fieldset>
                                        <legend>Event Submission Review</legend>
                                        <af-preview title-case></af-preview>
                                    </fieldset>
                                </af-step>
                            </form>

                        </action-form>
                        {# TODO: add upload game art at submission page #}
                        {# TODO: add easy link to submit another  #}
                    </div>
                    {# END event submission div #}
                    {# event submitted #}
                    {# <div class="prose" x-show="submittingState === 'complete'" id="event-submitted">
                        <h2>Thanks for submitting your event!</h2>
                        <p>Our staff will review your <span id="submit-format" x-text="$validate.data('format').value"></span> event, <span id="submit-name" x-text="$validate.data('eventName').value" class="italic font-bold"></span>, and let you know about scheduling it!</p>
                        <p>You can <a href="/run-an-event">submit another event</a> now if you'd like.</p>
                    </div> #}
                </div>
                {# END runAnEventData component #}
            </section>
        </div>
    </main>
{% endblock %}