{% extends 'layouts/base.njk' %}

{% block content %}
    <main id="content">
        <div class="mx-auto max-w-content p-base">
            <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
            <div class="prose">{{ content | safe }}</div>
            <section class="my-base">
                {# START Submit Form: only show if logged in #}
                <div x-cloak x-show="!isAuth" class="prose">
                    <p>You must be <button @click.stop="modal = 'Login'" class="font-bold underline text-highlight">logged in</button> to submit a game</p>
                </div>
                {# submittingState: 'unsubmitted', // unsubmitted, submitted, complete #}
                <div x-cloak x-show="isAuth && user" x-init="if(isAuth) getUserData()">
                    <div id="submit-your-event">
                        <header class="prose">
                            <h2>Submit Your Event</h2>
                        </header>
                        <action-form novalidate auto-error>
                            <form method="POST" action="/.netlify/functions/submit-run-an-event" class="prose mt-base" id="form" x-ref="form">
                                <div class="flex justify-between">
                                    <div>
                                        <span class="font-bold text-highlight">*</span>
                                        <em>required field</em>
                                    </div>
                                    <button type="reset" class="button-sm button-title">Reset Form</button>
                                </div>
                                {# HoneyPot Email. If this is filled then ditch response #}
                                <label for="email" style="display:none;">Email<input type="email" name="email" id="email" tabindex="-1" value="" autocomplete="off"></label>

                                {# Hidden fields with user data grabbed from localStorage #}
                                {# Using AlpineJS here as it's already stored via Alpine #}
                                {# Replace this later with data-store-get and data-store-listen #}
                                <input type="hidden" name="userId" :value="user.id">
                                <input type="hidden" name="userEmail" :value="user.userEmail">
                                <input type="hidden" name="userDisplayName" :value="user.displayName">
                                {# authToken is needed as this needs to be sent as the logged in user #}
                                <input type="hidden" name="authToken" :value="authToken">
                                <input type="hidden" name="successPage" value="run-an-event-success">
                                <input type="hidden" name="failurePage" value="run-an-event-failure">

                                {# Step Progress Bar #}
                                <af-progress></af-progress>

                                {# Start of form steps #}
                                <!-- ---------------------------- Personal Info ------------------------------ -->

                                <af-step data-title="Personal" class="grid gap-base">
                                    <fieldset class="grid gap-base">
                                        <legend>Personal Info</legend>
                                        <fieldset>
                                            <label for="gm">Public Badge Name</label>
                                            <p class="directions">We encourage attendees to use thier first and last names. However, if for privacy reasons you want to use another name, enter it here.</p>
                                            {# Using AlpineJS here as it's already available #}
                                            <input id="gm" name="gm" type="text" value="" :value="user.displayName" required data-persist/>
                                            <af-error for="gm">Required</af-error>
                                        </fieldset>
                                        {# Using AlpineJS here until I replace all the forms with action-form #}
                                        <fieldset x-data="{yourAge:$persist('')}">
                                            <label for="gmAge">
                                                Your age at the start of con
                                            </label>
                                            <p class="directions">Big Bad Con is {% include "components/date-range.njk" %}</p>
                                            <select id="gmAge" name="gmAge" required x-model="yourAge" data-persist>
                                                <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                                <option>13+</option>
                                                <option>18+</option>
                                            </select>
                                            <af-error for="gmAge">Required</af-error>
                                        </fieldset>
                                    </fieldset>

                                    <fieldset>
                                        <legend>Community Standards</legend>

                                        <p class="directions">Big Bad Con is committed to cultivating a culture of respect, support, and kindness. Please take a moment to read our <a href="/community-standards">Community Standards</a> before answering yes below.</p>

                                        <div class="flex items-center gap-xs">
                                            <input type="checkbox" id="agree-to-community-standards" name="agree-to-community-standards" value="Yes" required data-persist>
                                            <label for="agree-to-community-standards" class="italic">
                                            Yes &mdash; I agree to the Big Bad Con Community Standards
                                        </label>
                                        </div>
                                        <af-error for="agree-to-community-standards">Required</af-error>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Format ------------------------------ -->

                                <af-step data-title="Format">
                                    <fieldset>
                                        <legend>Event Format</legend>
                                        <fieldset>
                                            <label for="format">Format</label>

                                            <select id="format" name="format" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option>RPG</option>
                                                <option>Board/Card Game</option>
                                                <option>LARP</option>
                                                <option value="GoD">Games on Demand (GoD)</option>
                                                <option>Workshop</option>
                                                <option>Panel</option>
                                                <option>Podcast/Stream</option>
                                                <option>Special Event</option>
                                            </select>
                                            <af-error for="format">Required</af-error>
                                        </fieldset>
                                        <div data-if="format" data-if-value="RPG" class="directions">
                                            <h4>RPG FAQ</h4>
                                            <ul>
                                                <li>Hosted in private game rooms and in the atrium</li>
                                                <li>We encourage playtests, but demo games should be run in the <a href="/small-press-showcase">Small Press Showcase</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="Board/Card Game" class="directions">
                                            <h4>Board/Card Game FAQ</h4>
                                            <ul>
                                                <li>Hosted in the Board Game Room (Grand Peninsula Ballroom) or the Atrium</li>
                                                <li>Round and long tables available</li>
                                                <li>We encourage playtests, but demo games should be run in the <a href="/small-press-showcase">Small Press Showcase</a>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="LARP" class="directions">
                                            <h4>LARP FAQ</h4>
                                            <ul>
                                                <li>Hosted in private game rooms</li>
                                                <li>Capacity: up to 25 players</li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="GoD" class="directions">
                                            <h4>Games on Demand FAQ</h4>
                                            <ul>
                                                <li>Game on Demand slots are 4 hours long; either one 4 hour game or two 2 hour games</li>
                                                <li>You can offer players multiple game options by submitting this form again with another game</li>
                                                <li>For more info, please read <a href="/games_on_demand-how-it-works">Games on Demand FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="Panel"  class="directions">
                                            <h4>Panel FAQ</h4>
                                            <ul >
                                                <li>All Panels are 50 minutes long</li>
                                                <li>Panels may have up to 6 presenters (including a moderator, if any) and 50 attendees</li>
                                                <li>Basic equipment includes wired speaker system with 6 microphones</li>
                                                <li>For more info read our <a href="/panel-faq/">Panel and Workshop FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="Workshop" class="directions">
                                            <h4>Workshop FAQ</h4>
                                            <ul >
                                                <li>Workshops can be 1 to 2 hours</li>
                                                <li>Workshops may have up to 6 presenters (including a moderator, if any) and 25 attendees</li>
                                                <li>Basic equipment includes wired speaker system with 6 microphones</li>
                                                <li>For more info read our <a href="/panel-faq/">Panel and Workshop FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="Podcast/Stream" class="directions">
                                            <h4>Podcast/Stream FAQ</h4>
                                            <ul>
                                                <li>The media room has space for up to 6 people for audio and 3 people for video</li>
                                                <li>There is no room for a live audience</li>
                                                <li>BBC staff can help with setup and wifi access, but production is up to you</li>
                                                <li>For more info and equipment available read <a href="/podcast-streaming-faq/">Podcasting &amp; Streaming FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-if="format" data-if-value="Special Event" class="directions">
                                            <h4>Special Event FAQ</h4>
                                            <ul>
                                                <li>Thursday evening events hosted throughout the con</li>
                                                <li>Friday-Sunday special events hosted in the Poolside Pavilion</li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-value="Board/Card Game" class="mb-base">
                                        <legend>Table Type</legend>
                                        <label for="tableType">Board game table type requested</label>
                                        <select id="tableType" name="tableType" required data-error-msg="Table type is required">
                                            <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                            <option>Long</option>
                                            <option>Round</option>
                                            <option>Either</option>
                                        </select>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-value="RPG">
                                        <legend>Location</legend>
                                        <label for="requestPrivateRoomRPG">Location Preference</label>
                                        <select id="requestPrivateRoomRPG" name="requestPrivateRoom" required>
                                            <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                            <option>No Preference</option>
                                            <option>Private Room</option>
                                            <option>Atrium</option>
                                        </select>
                                        <af-error for="requestPrivateRoomRPG">Required</af-error>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-value="Board/Card Game">
                                        <legend>Location</legend>
                                        <label for="requestPrivateRoomBoardGame">Location Preference</label>
                                        <select id="requestPrivateRoomBoardGame" name="requestPrivateRoom" required>
                                            <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                            <option>No Preference</option>
                                            <option>Board Game Room</option>
                                            <option>Atrium</option>
                                        </select>
                                        <af-error for="requestPrivateRoomBoardGame">Required</af-error>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-regex="Podcast/Stream|Panel|Workshop" class="grid gap-base">
                                        <legend>Media equipment</legend>
                                        <p class="directions" data-if="format" data-if-value="Panel">Included: Wired speaker system with 6 microphones and clear N95 masks for speakers</p>
                                        <p class="directions" data-if="format" data-if-value="Podcast/Stream">Included: Big Bad Con backdrop and WiFi hotspot</p>
                                        <fieldset>
                                            <label for="mediaEquipment">Do you need other media equipment?</label>
                                            <select id="mediaEquipment" name="mediaEquipment" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option>I have my own</option>
                                                <option>Equipment requested</option>
                                            </select>
                                            <af-error for="mediaEquipment">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="mediaEquipment" data-if-value="Equipment requested">
                                            <legend>Media equipment requested</legend>

                                            <div class="form-group-cols-2" data-if="format" data-if-value="Panel">
                                                <label><input type="checkbox" name="requestMediaEquipment" value="Wireless microphone">Wireless microphone</label>
                                                <label><input type="checkbox" name="requestMediaEquipment" value="Projector (HDMI) with screen">Projector (HDMI) with screen</label>
                                            </div>
                                            <div class="form-group-cols-2" data-if="format" data-if-value="Workshop">
                                                <label><input type="checkbox" name="requestMediaEquipment" value="HDMI TV (for presentations)">HDMI TV (for presentations)</label>
                                            </div>
                                            <div class="form-group-cols-2" data-if="format" data-if-regex="Podcast/Stream|Wordshop">
                                                <label><input type="checkbox" name="requestMediaEquipment" value="Yeti mic">Yeti mic</label>
                                                <label><input type="checkbox" name="requestMediaEquipment" value="USB hub">USB hub</label>
                                                <label><input type="checkbox" name="requestMediaEquipment" value="Logitech Webcam">Logitech Webcam</label>
                                                <label><input type="checkbox" name="requestMediaEquipment" value="Tripod">Tripod</label>
                                                <label><input type="checkbox" name="requestMediaEquipment" value="Ring light">Ring light</label>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Info ------------------------------ -->

                                <af-step data-title="Description">
                                    <fieldset class="grid gap-base">
                                        <legend>Event Info</legend>
                                        <fieldset>
                                            <label for="eventName">Event Name</label>
                                            <input type="text" id="eventName" name="eventName" required maxlength="75">
                                            <af-error for="eventName">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD" class="form-group-cols-2">
                                            <div>
                                                <div class="label-error-wrapper">
                                                    <label for="system" class="required">System</label>
                                                    <af-error for="system"></af-error>
                                                </div>
                                                <input id="system" name="system" type="text" required/>

                                            </div>
                                            <div>
                                                <div class="label-error-wrapper">
                                                    <label for="playtest" class="required">Is this a playtest?</label>
                                                    <af-error for="playtest"></af-error>
                                                </div>
                                                <select id="playtest" name="playtest" required>
                                                    <option disabled selected value="">-- Choose One --</option>
                                                    <option>No</option>
                                                    <option>Yes</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-not-value="GoD">
                                            <label for="eventDescription">Description</label>
                                            <div class="flex justify-between">
                                                <p class="directions">Characters left: <af-text-count for="eventDescription" remaining></af-text-count>
                                                </p>
                                                <af-error for="eventDescription">Required</af-error>
                                            </div>
                                            <textarea name="eventDescription" id="eventDescription" cols="30" rows="4" maxlength="1400" required></textarea>
                                        </fieldset>
                                        {# GoD has shorter maxLength #}
                                        <fieldset data-if="format" data-if-value="GoD">
                                            <label for="eventDescriptionGoD">Description</label>
                                            <div class="flex justify-between">
                                                <p class="directions">Characters left: <af-text-count for="eventDescriptionGoD" remaining></af-text-count>
                                                </p>
                                                <af-error for="eventDescriptionGoD">Required</af-error>
                                            </div>
                                            <textarea name="eventDescription" id="eventDescriptionGoD" cols="30" rows="3" maxlength="250" required></textarea>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|GoD">
                                            <label for="characters">Characters</label>
                                            <select id="characters" name="characters" required>
                                                <option disabled selected value=""> -- Choose One -- </option>
                                                <option>Provided</option>
                                                <option>Created at the table</option>
                                                <option>Other/Does not apply</option>
                                            </select>
                                            <af-error for="characters">Required</af-error>
                                        </fieldset>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Player Info, Content Advisory, Safety ------------------------------ -->

                                <af-step data-title="Players/Attendees" class="grid gap-base">
                                    <fieldset class="grid gap-base">
                                        <legend data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">Player Info</legend>
                                        <legend data-if="format" data-if-regex="Panel|Special Event|Workshop|Podcast/Stream">Attendee Info</legend>
                                        <fieldset data-if="gmAge" data-if-value="18+">
                                            <label for="playerAttendeeAge18" data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">Player Age</label>
                                            <label for="playerAttendeeAge18" data-if="format" data-if-regex="Panel|Special Event|Workshop|Podcast/Stream">Attendee Age</label>
                                            <select id="playerAttendeeAge18" name="playerAge" required>
                                                <option disabled selected value=""> -- Choose One -- </option>
                                                <option>13+</option>
                                                <option>18+</option>
                                            </select>
                                            <af-error for="playerAttendeeAge18">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="gmAge" data-if-value="13+">
                                            <label for="playerAttendeeAge13" data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">Player Age</label>
                                            <label for="playerAttendeeAge13" data-if="format" data-if-regex="Panel|Special Event|Workshop|Podcast/Stream">Attendee Age</label>
                                            <input type="text" name="playerAttendeeAge13" readonly value="13+">
                                        </fieldset>
                                        {# Min/Max is not used for panels or podcast/streams #}
                                        {# Podcast / Stream has no attendees #}
                                        {# Panel set to min 1 and max 50 on backend #}
                                        <fieldset class="form-group-cols-3" data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD|Special Event|Workshop">
                                            <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">
                                                <label for="minPlayers">Min Players</label>
                                                <input id="minPlayers" name="minPlayers" type="number" size="2" class="w-20" required min="1" value="1"/>
                                                <af-error for="minPlayers">Required</af-error>
                                            </fieldset>
                                            <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD" class="m-0">
                                                <label for="players">Max Players</label>
                                                <input id="players" name="players" type="number" size="2" class="w-20" required min="1" max="25"/>
                                                <af-error for="players">Required (max: 25)</af-error>
                                            </fieldset>
                                            <fieldset data-if="format" data-if-regex="Special Event|Workshop">
                                                <label for="minPlayers">Min Attendees</label>
                                                <input id="minPlayers" name="minPlayers" type="number" size="2" class="w-20" required min="1" value="1"/>
                                                <af-error for="minPlayers">Required</af-error>
                                            </fieldset>
                                            <fieldset data-if="format" data-if-value="Workshop" class="m-0">
                                                <label for="players">Max Attendees</label>
                                                <input id="players" name="players" type="number" size="2" class="w-20" required min="1" max="25"/>
                                                <af-error for="players">Required (max: 25)</af-error>
                                            </fieldset>
                                            <fieldset data-if="format" data-if-value="Special Event" class="m-0">
                                                <label for="players">Max Attendees</label>
                                                <input id="players" name="players" type="number" size="2" class="w-20" required min="1" max="50"/>
                                                <af-error for="players">Required (max: 50)</af-error>
                                            </fieldset>
                                        </fieldset>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-not-value="Special Event">
                                        <legend>Content Advisory</legend>
                                        {# If GM age is 13+ then it is automatically 13+ content #}
                                        <p class="italic" data-if="gmAge" data-if-value="13+">
                                            Event designed for people aged 13+ (no strong content)
                                        </p>
                                        {# If GM age is 18+ then they can choose 13 or 18+ #}
                                        <fieldset data-if="gmAge" data-if-value="18+">
                                            <div class="italic mb-base" data-if="playerAge" data-if-value="13+">
                                                Event designed for people aged 13+ (no strong content)
                                            </div>
                                            <fieldset data-if="playerAge" data-if-value="18+" class="grid gap-base">
                                                <fieldset>
                                                    <div class="italic">Event designed for people aged 18+</div>
                                                    <label>Content Advisory</label>
                                                    <select id="contentAdvisory" name="contentAdvisory" required>
                                                        <option disabled selected value=""> -- Choose One -- </option>
                                                        <option value="No">No content advisory needed</option>
                                                        <option value="Yes">Yes, contains strong content</option>
                                                    </select>
                                                </fieldset>
                                                <fieldset data-if="contentAdvisory" data-if-value="Yes">
                                                    <label for="contentAdvisory">Content Advisory Options</label>
                                                    <div data-if="contentAdvisory" data-if-value="Yes" class="form-group-cols-2">
                                                        <label><input type="checkbox" name="eventTags" value="Gore">Gore</label>
                                                        <label><input type="checkbox" name="eventTags" value="Graphic Violence">Graphic Violence</label>
                                                        <label><input type="checkbox" name="eventTags" value="Provocative">Provocative</label>
                                                        <label><input type="checkbox" name="eventTags" value="Sex and Sexuality">Sex and Sexuality</label>
                                                    </div>
                                                    <label for="contentWarnings">Content Warnings</label>
                                                    <input id="contentWarnings" name="triggerWarnings" type="text" value="" class="w-full max-w-md"/>
                                                </fieldset>
                                            </fieldset>
                                        </fieldset>
                                    </fieldset>
                                    <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">
                                        <legend>Safety Tools</legend>
                                        <div class="directions">For a description of tools see <a href="/safety-collaboration-tools/">Safety and Collaboration Tools</a>
                                        </div>
                                        <div class="form-group-cols-3">
                                            <label><input type="checkbox" name="safetyTools" value="X-Card">X-Card</label>
                                            <label><input type="checkbox" name="safetyTools" value="Lines/Veils">Lines/Veils</label>
                                            <label><input type="checkbox" name="safetyTools" value="Cut/Brake">Cut/Brake</label>
                                            <label><input type="checkbox" name="safetyTools" value="Open Door Policy">Open Door Policy</label>
                                            <label><input type="checkbox" name="safetyTools" value="Script Change">Script Change</label>
                                            <label><input type="checkbox" name="safetyTools" value="Other">Other</label>
                                        </div>
                                        <fieldset data-if="safetyTools" data-if-value="Other" class="flex items-center gap-sm mt-base">
                                            <label for="safetyToolsOther">Other</label>
                                            <input type="text" name="safetyToolsOther" id="safetyToolsOther">
                                        </fieldset>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Scheduling ------------------------------ -->

                                <af-step data-title="Scheduling" class="grid gap-base">
                                    <fieldset>
                                        <legend>Event Duration</legend>
                                        {# Event Length varies by event format; uses data-if to hide display #}
                                        {# Must be set to disabled initially or it breaks the data-if later as it the value is set #}
                                        <fieldset data-if="format" data-if-value="Panel" disabled>
                                            <label for="lengthPanel">Event Length</label>
                                            <p class="directions">Panels are limited to 1 hour</p>
                                            <select id="lengthPanel" name="eventLength" required data-error-msg="Length required">
                                                <option value="1" selected>1 hour</option>
                                            </select>
                                            <af-error for="lengthPanel">Required</af-error>
                                        </fieldset>
                                        {# Must be set to disabled initially or it breaks the data-if later as it the value is set #}
                                        <fieldset data-if="format" data-if-value="Podcast/Stream" disabled>
                                            <label for="lengthPodcast">Event Length</label>
                                            <p class="directions" >Limited to 2 hours: <em>1 hour recording; 30 min setup and 30 min breakdown</em>
                                            </p>
                                            <select id="lengthPodcast" name="eventLength" required data-error-msg="Length required">
                                                <option value="2" selected>2 hours</option>
                                            </select>
                                            <af-error for="lengthPodcast">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="Workshop|Special Event">
                                            <label for="lengthWorkshopSocial">Event Length</label>
                                            <select id="lengthWorkshopSocial" name="eventLength" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option value="1">1 hour</option>
                                                <option value="2">2 hours</option>
                                            </select>
                                            <af-error for="lengthWorkshopSocial">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-value="GoD">
                                            <label for="lengthGoD">Games on Demand Event Length</label>
                                            <p class="directions">Games on Demand slots are 4 hours long. Two hour long games are run twice in the same slot.</p>
                                            <select id="lengthGoD" name="eventLength" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option value="2">2 hours</option>
                                                <option value="4">4 hours</option>
                                            </select>
                                            <af-error for="lengthGoD">Required</af-error>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game">
                                            <label for="lengthGame">Event Length</label>
                                            <select id="lengthGame" name="eventLength" required>
                                                <option disabled selected value="">
                                                        -- Choose One --
                                                    </option>
                                                <option value="1">1 hour</option>
                                                <option value="2">2 hours</option>
                                                <option value="4">4 hours</option>
                                                <option value="6">6 hours</option>
                                                <option value="8">8 hours</option>
                                            </select>
                                            <af-error for="lengthGame">Required</af-error>
                                        </fieldset>
                                        {# End event length options #}
                                    </fieldset>
                                    <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">
                                        <legend>Event Repeatability</legend>
                                        <label for="runNumberOfTimes" data-if="format" data-if-not-value="GoD">How many times do you want to run your event?</label>
                                        <label for="runNumberOfTimes" data-if="format" data-if-value="GoD" class="m-0">How many 4 hour Games on Demand slots do you want to run?</label>
                                        <select id="runNumberOfTimes" name="runNumberOfTimes" required>
                                            <option disabled selected value="">
                                                    -- Choose One --
                                                </option>
                                            <option value="1">Once</option>
                                            <option value="2">Twice</option>
                                            <option value="3">I want to run this 3 times! Whoa!</option>
                                            <option value="4">I want to run this 4 times! Yow!!!</option>
                                        </select>
                                        <af-error for="runNumberOfTimes">Required</af-error>
                                    </fieldset>
                                    <fieldset class="mt-base">
                                        <legend>Scheduling Preferences</legend>
                                        <label class="no-preference"><input type="checkbox" name="schedulingPref" value="No Preference"> No Preference</label>

                                        <div data-if="format" data-if-value="Special Event" class="form-group-cols-2">
                                            <p class="col-span-2 directions">We have limited availablity Friday and Saturday night</p>
                                            {# Same options for 1 or 2 hours #}
                                            <label><input type="checkbox" name="schedulingPref" value="Thursday 6PM-Midnight">Thursday 6PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-1PM">Friday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-6PM">Friday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 8PM-Midnight">Friday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-1PM">Saturday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-6PM">Saturday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 8PM-Midnight">Saturday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-1PM">Sunday 9AM-1PM</label>
                                        </div>

                                        {# Scheduling Preference Games On Demand. 4hr Regardless of choosing 2 or 4 for length #}
                                        <div data-if="format" data-if-value="GoD" class="form-group-cols-2">
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-1PM">Friday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-6PM">Friday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 8PM-Midnight">Friday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-1PM">Saturday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-6PM">Saturday 2PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 8PM-Midnight">Saturday 8PM-Midnight</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-1PM">Sunday 9AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-6PM">Sunday 2PM-6PM</label>
                                        </div>

                                        <div data-if="format" data-if-value="Panel">
                                            {# All 1 hour time slots; required to work this way as it can't tell that 1 is auto-selected #}
                                            <label><input type="checkbox" name="schedulingPref" value="Friday morning (between 9AM-1PM)">Friday morning (between 9AM-1PM)</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday afternoon (between 2PM-6PM)">Friday afternoon (between 2PM-6PM)</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday morning (between 9AM-1PM)">Saturday morning (between 9AM-1PM)</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday afternoon (between 2PM-6PM)">Saturday afternoon (between 2PM-6PM)</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday morning (between 9AM-1PM)">Sunday morning (between 9AM-1PM)</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday afternoon (between 2PM-6PM)">Sunday afternoon (between 2PM-6PM)</label>
                                        </div>
                                        <div data-if="format" data-if-value="Podcast/Stream">
                                            {# All 2 hour slots; required to work this way as it can't tell that 2 is auto-selected #}
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-11AM">Friday 9AM-11AM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 11AM-1PM">Friday 11AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-4PM">Friday 2PM-4PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Friday 4PM-6PM">Friday 4PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-11AM">Saturday 9AM-11AM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 11AM-1PM">Saturday 11AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-4PM">Saturday 2PM-4PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Saturday 4PM-6PM">Saturday 4PM-6PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-11AM">Sunday 9AM-11AM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 11AM-1PM">Sunday 11AM-1PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-4PM">Sunday 2PM-4PM</label>
                                            <label><input type="checkbox" name="schedulingPref" value="Sunday 4PM-6PM">Sunday 4PM-6PM</label>
                                        </div>
                                        <div data-if="format" data-if-regex="Workshop|RPG|LARP|Board/Card Game">
                                            {# Variable time slots #}
                                            <div data-if="eventLength" data-if-value="1" class="form-group-cols-1">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday morning (between 9AM-1PM)">Friday morning (between 9AM-1PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday afternoon (between 2PM-6PM)">Friday afternoon (between 2PM-6PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday morning (between 9AM-1PM)">Saturday morning (between 9AM-1PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday afternoon (between 2PM-6PM)">Saturday afternoon (between 2PM-6PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday morning (between 9AM-1PM)">Sunday morning (between 9AM-1PM)</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday afternoon (between 2PM-6PM)">Sunday afternoon (between 2PM-6PM)</label>
                                            </div>
                                            <div data-if="eventLength" data-if-value="2" class="form-group-cols-2">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-11AM">Friday 9AM-11AM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 11AM-1PM">Friday 11AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-4PM">Friday 2PM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 4PM-6PM">Friday 4PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-11AM">Saturday 9AM-11AM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 11AM-1PM">Saturday 11AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-4PM">Saturday 2PM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 4PM-6PM">Saturday 4PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-11AM">Sunday 9AM-11AM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 11AM-1PM">Sunday 11AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-4PM">Sunday 2PM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 4PM-6PM">Sunday 4PM-6PM</label>
                                            </div>
                                            <div data-if="eventLength" data-if-value="4" class="form-group-cols-2">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 9AM-1PM">Friday 9AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-6PM">Friday 2PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 8PM-Midnight">Friday 8PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 9AM-1PM">Saturday 9AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-6PM">Saturday 2PM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 8PM-Midnight">Saturday 8PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-1PM">Sunday 9AM-1PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-6PM">Sunday 2PM-6PM</label>
                                            </div>
                                            <div data-if="eventLength" data-if-value="6" class="form-group-cols-1">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 10AM-4PM">Friday 10AM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 6PM-Midnight">Friday 6PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 10AM-4PM">Saturday 10AM-4PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 6PM-Midnight">Saturday 6PM-Midnight</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 9AM-3PM">Sunday 9AM-3PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 2PM-8PM">Sunday 2PM-8PM</label>
                                            </div>
                                            <div data-if="eventLength" data-if-value="8" class="form-group-cols-1">
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 10AM-6PM">Friday 10AM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Friday 2PM-10PM">Friday 2PM-10PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 10AM-6PM">Saturday 10AM-6PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Saturday 2PM-10PM">Saturday 2PM-10PM</label>
                                                <label><input type="checkbox" name="schedulingPref" value="Sunday 10AM-6PM">Sunday 10AM-6PM</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Additional Info ------------------------------ -->
                                <af-step data-title="Extra Info">
                                    <fieldset class="grid gap-base">
                                        <legend>Additional Info</legend>
                                        <fieldset data-if="format" data-if-value="Panel">
                                            <p class="directions">Please select no more than 1-3 per category</p>
                                            <label>Panel Topic</label>
                                            <div class="form-group-cols-3" >
                                                <label><input type="checkbox" name="eventTags" value="GMing Advice">GMing Advice</label>
                                                <label><input type="checkbox" name="eventTags" value="Literature">Literature</label>
                                                <label><input type="checkbox" name="eventTags" value="Player Advice">Player Advice</label>
                                                <label><input type="checkbox" name="eventTags" value="Safety Tools">Safety Tools</label>
                                                <label><input type="checkbox" name="eventTags" value="Social Contracts">Social Contracts</label>
                                                <label><input type="checkbox" name="eventTags" value="Social Justice">Social Justice</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game">
                                            <p class="directions">Please select no more than 1-3 per category</p>
                                            <label>Game Focus</label>
                                            <div class="form-group-cols-3">
                                                <label><input type="checkbox" name="eventTags" value="Adventure">Adventure</label>
                                                <label><input type="checkbox" name="eventTags" value="Combat">Combat</label>
                                                <label><input type="checkbox" name="eventTags" value="Drama">Drama</label>
                                                <label><input type="checkbox" name="eventTags" value="Exploration">Exploration</label>
                                                <label><input type="checkbox" name="eventTags" value="Hijinx">Hijinx</label>
                                                <label><input type="checkbox" name="eventTags" value="Improv">Improv</label>
                                                <label><input type="checkbox" name="eventTags" value="Intrigue">Intrigue</label>
                                                <label><input type="checkbox" name="eventTags" value="Investigation">Investigation</label>
                                                <label><input type="checkbox" name="eventTags" value="LGBTQ themes">LGBTQ themes</label>
                                                <label><input type="checkbox" name="eventTags" value="Mystery">Mystery</label>
                                                <label><input type="checkbox" name="eventTags" value="Romance">Romance</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game">
                                            <label>Player Contributions</label>
                                            <div class="form-group-cols-3">
                                                <label><input type="checkbox" name="eventTags" value="Collaborative">Collaborative</label>
                                                <label><input type="checkbox" name="eventTags" value="Freeform">Freeform</label>
                                                <label><input type="checkbox" name="eventTags" value="GM-less">GM-less</label>
                                                <label><input type="checkbox" name="eventTags" value="Play to find out">Play to find out</label>
                                                <label><input type="checkbox" name="eventTags" value="Player Antagonism">Player Antagonism</label>
                                                <label><input type="checkbox" name="eventTags" value="Rotating Authority">Rotating Authority</label>
                                                <label><input type="checkbox" name="eventTags" value="Strong Storyline">Strong Storyline</label>
                                            </div >
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game">
                                            <label>Game Genre</label>
                                            <div class="form-group-cols-3">
                                                <label><input type="checkbox" name="eventTags" value="Aliens">Aliens</label>
                                                <label><input type="checkbox" name="eventTags" value="Alternate History">Alternate History</label>
                                                <label><input type="checkbox" name="eventTags" value="Apocalyptic">Apocalyptic</label>
                                                <label><input type="checkbox" name="eventTags" value="Cyberpunk">Cyberpunk</label>
                                                <label><input type="checkbox" name="eventTags" value="Espionage">Espionage</label>
                                                <label><input type="checkbox" name="eventTags" value="Fantasy">Fantasy</label>
                                                <label><input type="checkbox" name="eventTags" value="Horror">Horror</label>
                                                <label><input type="checkbox" name="eventTags" value="Military">Military</label>
                                                <label><input type="checkbox" name="eventTags" value="Modern">Modern</label>
                                                <label><input type="checkbox" name="eventTags" value="Noir">Noir</label>
                                                <label><input type="checkbox" name="eventTags" value="Pulp">Pulp</label>
                                                <label><input type="checkbox" name="eventTags" value="Sci-Fi">Sci-Fi</label>
                                                <label><input type="checkbox" name="eventTags" value="Super Powers">Super Powers</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-regex="RPG|LARP|Board/Card Game">
                                            <label>Game Mood</label>
                                            <div class="form-group-cols-3" >
                                                <label><input type="checkbox" name="eventTags" value="Comical">Comical</label>
                                                <label><input type="checkbox" name="eventTags" value="Cute">Cute</label>
                                                <label><input type="checkbox" name="eventTags" value="Dark">Dark</label>
                                                <label><input type="checkbox" name="eventTags" value="Emotional">Emotional</label>
                                                <label><input type="checkbox" name="eventTags" value="Light">Light</label>
                                                <label><input type="checkbox" name="eventTags" value="Melancholy">Melancholy</label>
                                                <label><input type="checkbox" name="eventTags" value="Serious">Serious</label>
                                                <label><input type="checkbox" name="eventTags" value="Silly">Silly</label>
                                                <label><input type="checkbox" name="eventTags" value="Suspenseful">Suspenseful</label>
                                            </div>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-value="GoD">
                                            <label for="phone">Phone Number</label>
                                            <p class="directions">This info will only be used by our GoD rangers in case you are late for your shift.</p>
                                            <input type="tel" name="phone" id="phone" required>
                                        </fieldset>
                                        <fieldset data-if="format" data-if-value="GoD">
                                            <label for="discord">Discord Handle</label>
                                            <input type="tel" name="discord" id="discord">
                                        </fieldset>
                                        <fieldset>
                                            <label for="additionalRequirements">List any special requirements</label>
                                            <textarea cols="30" id="additionalRequirements" name="additionalRequirements" rows="2" ></textarea>
                                        </fieldset>
                                    </fieldset>
                                </af-step>

                                <!-- ---------------------------- Event Review ------------------------------ -->

                                <af-step data-title="Review">
                                    <fieldset class="grid gap-xs">
                                        <legend>Event Submission Review</legend>
                                        <div>
                                            <span data-text="gm"></span>
                                            (age at start of con: <span data-text="gmAge"></span>)
                                        </div>
                                        <div>
                                            <div>
                                                <strong>Format:</strong>
                                                <span data-text="format"></span>
                                            </div>
                                            <div data-if="requestPrivateRoom">
                                                <strong>Location:</strong>
                                                <span data-text="requestPrivateRoom"></span>
                                            </div>
                                            <div data-if="requestMediaEquipment">
                                                <strong>Media Equipment Requested:</strong>
                                                <span data-text="requestMediaEquipment"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <strong>Event Name:</strong>
                                                <span data-text="eventName"></span></div>
                                            <div data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">
                                                <strong>System: </strong>
                                                <span data-text="system"></span>
                                                <em data-if="playtest" data-if-value="Yes">Playtest</em>
                                            </div>
                                            <div class="mt-base">
                                                <strong>Description:</strong>
                                            </div>
                                            <div data-text="eventDescription" class="mb-base"></div>
                                            <div data-if="characters">
                                                <strong>Characters:</strong>
                                                <span data-text="characters"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">Player Info</h4>
                                            <h4 data-if="format" data-if-regex="Panel|Special Event|Workshop|Podcast/Stream">Attendee Info</h4>
                                            <p class="italic" data-if="gmAge" data-if-value="13+">
                                                Event designed for people aged 13+ (no strong content)
                                            </p>
                                            <div>
                                                <strong>Age:</strong>
                                                <span data-text="playerAge"></span></div>
                                            <div data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD|Special Event|Workshop">
                                                <strong>Min:</strong>
                                                <span data-text="minPlayers"></span>
                                                <strong>Max:</strong>
                                                <span data-text="players"></span>
                                            </div>
                                            <div data-if="contentAdvisory">
                                                <strong>Content Advisory:</strong>
                                                <span data-text="contentAdvisory"></span></div>
                                            <div data-text="triggerWarnings"></div>
                                            <div data-if="format" data-if-regex="RPG|LARP|Board/Card Game|GoD">
                                                <h4>Safety Tools</h4>
                                                <span data-text="safetyTools"></span>
                                                <em data-text="safetyToolsOther"></em>
                                            </div>
                                        </div>
                                        <div>
                                            <h4>Scheduling</h4>
                                            <div>
                                                <strong>Event Length:</strong>
                                                <span data-text="eventLength"></span> hour(s)</div>
                                            <div>
                                                <strong>Number of times to run:</strong>
                                                <span data-text="runNumberOfTimes"></span></div>
                                            <div>
                                                <strong>Preferences:</strong>
                                                <span data-text="schedulingPref"></span></div>
                                        </div>
                                        <div>
                                            <div data-if="eventTags">
                                                <h4>Event Tags</h4>
                                                <div data-text="eventTags"></div>
                                            </div>
                                            <div data-if="format" data-if-value="GoD">
                                                <strong>Phone:</strong>
                                                <span data-text="phone"></span>
                                                <strong>Discord:</strong>
                                                <span data-text="discord"></span>
                                            </div>
                                            <div data-if="additionalRequirements">
                                                <h4>Additional Requirements</h4>
                                                <div data-text="additionalRequirements"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </af-step>
                            </form>

                        </action-form>
                        {# TODO: add upload game art at submission page #}
                        {# TODO: add easy link to submit another  #}
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}