{% extends 'layouts/base.njk' %}

{% block content %}

    <div class="relative content-wrapper bg-gradient-to-b from-main-gradient-top to-main-gradient-bottom pb-lg" >

        <main id="content">
            <div class="mx-auto max-w-content p-base">
                <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">Site Issues</h1>
                <div class="prose">Sorry we are having backend issues. Site is currently down. Please refresh in a moment.</div>
            </div>
        </main>

    </div>

{% endblock %}