{% extends 'layouts/base.njk' %}

{% block header %}
{% include 'components/header.njk' %}
<section class="bg-primary">
    <div class="grid md:grid-cols-3 max-w-hero mx-auto px-base">
        <div class="md:pt-lg">
            <div class="prose">
                {{ content | safe }}
            </div>
        </div>
        <div class="md:col-span-2 row-start-1 md:row-start-auto relative">
            {% include 'components/forest.njk' %}
            <div class="absolute bottom-2 right-2 w-1/2">{% include 'components/red.njk' %}</div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<main id="content">
    <div class="max-w-hero mx-auto px-base py-base">
        <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
            {% for card in collections.cards %}
            {% if card.data.status === 'published' %}
                <li class="bg-card rounded px-base py-sm shadow-md">
                    <h2 class="text-header font-serif text-3xl">{{ card.data.title }}</h2>
                    <div class="prose">{{ card.templateContent | safe }}</div>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}