{% extends 'layouts/base.njk' %}

{% block header %}
    {% include 'components/header.njk' %}
    <section class="bg-header-bg">
        <div class="grid mx-auto md:grid-cols-2 lg:grid-cols-3 max-w-hero px-base gap-base">
            {# Intro Content #}
            <div class="text-sm prose pb-md md:pt-base xl:text-base">
                {{ content | safe }}

            </div>
            {# Illustration Graphic #}
            <div class="relative row-start-1 lg:col-span-2 md:row-start-auto">

                {% include 'components/mascots-2023.njk' %}

            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <main id="content">
        {# Card grid #}
        <section class="mx-auto max-w-hero p-base">
            <ul class="grid gap-4 sm:grid-cols-2 md:grid-cols-3">
                {% for card in collections.cards | published | sort %}
                    <li class="bg-right-bottom bg-no-repeat rounded shadow-md bg-card px-base pt-sm pb-base" {%- if card.data.image -%} style="background-image: url({{card.data.image}}); background-size: auto 90%; padding-right: 6em;" {%- endif -%}>
                        <h2 class="font-serif text-3xl leading-none text-header">{{ card.data.title }}</h2>
                        <div class="prose">{{ card.templateContent | safe }}</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {# Big full width cards with images #}
        <section class="grid gap-4 mx-auto max-w-hero p-base">
            <ul class="grid gap-4">
                {% for card in collections.bigcards | published | sort %}
                    <li class="grid overflow-hidden rounded shadow-md md:grid-cols-3 bg-card">
                        <figure class="aspect-w-2 aspect-h-1">
                            <img src="{{card.data.image}}" class="object-cover object-center" alt="{{card.data.alt}}">
                        </figure>
                        <div class="md:col-span-2 px-md pt-base pb-md">
                            <h2 class="font-serif text-3xl leading-none text-header">{{ card.data.title }}</h2>
                            <div class="prose">{{ card.templateContent | safe }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

{% endblock %}