<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/tailwindoutlive.css"/>
  <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js" defer></script>
  <script src="https://unpkg.com/array-flat-polyfill" defer></script>
  <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="https://unpkg.com/dayjs@1.10.6/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.10.6/plugin/utc.js"></script>
  <script src="https://unpkg.com/dayjs@1.10.6/plugin/timezone.js"></script>
  <script>
    dayjs.extend(window.dayjs_plugin_utc)
    dayjs.extend(window.dayjs_plugin_timezone)
  </script>
  <script src="/static/js/scripts.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Rokkitt:wght@500;700&display=swap"
    rel="stylesheet"
/>
  {% include 'layouts/head_seo.njk' %}
</head>