{% extends 'layouts/base.njk' %}

{% block header %}
  {% include 'components/header.njk' %}
{% endblock %}

{% block content %}
  <main id="content">
    <div class="mx-auto max-w-content p-base px-lg bg-card rounded-md shadow-md">
      <h1 class="font-serif text-4xl font-bold leading-none md:leading-sub md:text-5xl text-header">{{ title | safe }}</h1>
      <div class="">{{ content | safe }}</div>
    </div>
  </main>
{% endblock %}