{% extends 'layouts/base.njk' %}
{% import 'components/staff-card.njk' as biocard %}

{% block header %}
  {% include 'components/header.njk' %}
{% endblock %}

{% block content %}
  <main id="content">
    <div class="mx-auto max-w-content p-base">
      <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
      <div class="prose">{{ content | safe }}</div>
    </div>
    <section class="mx-auto max-w-content p-base">
      {% for person in collections.pocscholar123ABC %}
        {{ biocard.card(person)}}
      {% endfor %}
    </section>
  </main>
{% endblock %}