{% extends 'layouts/base.njk' %}

{% block header %}
{% include 'components/header.njk' %}
{% endblock %}

{% block content %}
<main id="content">
    <div class="mx-auto max-w-content p-base px-lg bg-card rounded-md shadow-md">
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>

        <div class="prose max-w-content2">
            <p>
            <h2>
                How do I get a ticket to the event?
            </h2>

            <p>
                Go Play NW uses <a href="https://www.eventbrite.com/">Eventbrite</a> to handle ticketing for our online
                events. In order to attend, we need you to
                give us permission to
                purchase the ticket through our site. To do this, simply click the link below, which will take you to a
                page that looks something like this.
                <br/>
                <img src="/static/images/eventbrite_example.png" class="w-full h-full object-contain" alt="An example of what the official Eventbrite approval page should look like.">
            </p>

            <p>
                Once you allow us to access your Eventbrite account, you will be brought back to this site to actually
                purchase your ticket.
            </p>

            <p>
                By the way, if you want to buy a ticket for someone else, the best way to do that is to just have the other person (or people!)
                "purchase" their own ticket for $0. The event is pay what you want, so that is totally cool! If you want
                to give us a little extra to cover your friends, that's fine - pay what you want means you can increase
                what you pay too!
            </p>

            <p>
                To start, just <a
                    href="https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=T4OJXQJFEACZI3ZTSE">allow
                us to access your Eventbrite account!</a>
            </p>

            </p>

        </div>

    </div>
</main>
{% endblock %}