{% extends 'layouts/base.njk' %}

{% block content %}
    <main id="content" x-init="if (!isAuth || !isRegistered) window.location = '/register'">
        <div class="mx-auto max-w-content p-base">
            <h1 x-show="isAuth && isRegistered === true" class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
            <h1 x-show="isAuth && isRegistered === false" class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">You are not registered</h1>
            {# Loading spinner #}
            <div x-cloak x-show="isAuth && isRegistered === null" 
                x-init="checkRegistration(); $watch('user', value => {checkRegistration()})"
                class="flex items-center justify-center gap-sm animate-pulse py-md">
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
                <div class="w-8 h-8 rounded-full bg-body"></div>
            </div>
            {# Registration info #}
            <div x-cloak x-show="isAuth && isRegistered === true" class="prose" x-init="checkRegistration(); $watch('user', value => {checkRegistration()})">
                <p>
                    You, <strong>
                        <span x-text="user.displayName"></span> (<span x-text="user.userNicename"></span>)</strong>, are registered for Big Bad Online.
                </p>
                <p x-show="bboDiscordInvite">
                    <strong>Join</strong> everyone attending the con in the <a :href="'https://discord.gg/' + bboDiscordInvite">Big Bad Online Discord</a>!
                </p>
                <p x-show="!bboDiscordInvite">We will post the event Discord invite link here once it gets closer to the date.</p>

                <div class="prose">{{ content | safe }}</div>
            </div>
            <div x-cloak x-show="isAuth && isRegistered === false" class="prose">
                <p>You are not registered. Please head over to our <a href="/registet">Big Bad Online registration</a> page.</p>
            </div>

        </div>
    </main>
{% endblock %}