{% extends 'layouts/base.njk' %}

{% block header %}
{% include 'components/header.njk' %}
{% endblock %}

{% block content %}
<main id="content">
    <div class="mx-auto max-w-content p-base">
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>

        <div class="prose">
            <p>
            <h2>
                How do I get a ticket to the event?
            </h2>

            <p>
                Go Play NW uses <a href="https://www.eventbrite.com/">Eventbrite</a> to handle ticketing for our online
                events. In order to attend, we need you to
                give us permission to
                purchase the ticket through our site. To do this, simply click the link below, which will take you to a
                page that looks something like this.
                <br/>
                <img src="/static/images/eventbrite_example.png" class="w-full h-full object-contain" alt="An example of what the official Eventbrite approval page should look like.">
            </p>

            <p>
                Once you allow us to access your Eventbrite account, you will be brought back to this site to actually
                purchase your ticket.
            </p>

            <p>
                To start, just <a
                    href="https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=T4OJXQJFEACZI3ZTSE">allow
                us to access your Eventbrite account!</a>
            </p>

            </p>

        </div>

    </div>
</main>
{% endblock %}