{% extends 'layouts/base.njk' %}

{% block header %}
{% include 'components/header.njk' %}
{% endblock %}

{% block content %}
<main id="content">
    {# Display Hero image if set #}
    {% if (heroImage) %}
    {# Hero image #}
    <div style="width: 100%; height: 500px; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{heroImage}}'); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; display: flex; justify-content: center; align-items: center; flex-direction: column;">
      {#Page title and subtitle #}
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base" style="color: white;">{{title}}</h1>
        <h2 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{subtitle}}</h2>
    </div>
      {% else %}
       <div id="page-title" class="mx-auto max-w-content pt-12 pb-6 px-6 lg:px-0 text-white">
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl mb-base">{{title}}</h1>
        <h2 class="font-serif text-3xl leading-none tracking-tight">{{subtitle}}</h2>
      </div>
    {% endif %}
    {# Page content #}
    <div class="mx-auto max-w-content p-base px-lg bg-card rounded-md shadow-md" x-data="registerEventbrite">
        <div class="prose max-w-content2">
            <p>We're stoked that you're planning on joining us for Go Play NW's 2023! Once we get you through our quick 5-step registration process you'll be ready to play some games!</p>
            <h2>1. Create a GoPlayNW.org account</h2>
            <div class="prose max-w-content2" x-cloak x-show="notAuth">
                <p>To get the most out of your Go Play NW experience, you'll need to have a GoPlayNW.org account. Once you're registered for the event, you can use your account to sign-up for our <a href="/events">scheduled games</a>, to <a href="/run-an-event">run a game</a>, or for <a href="/volunteer-shifts">volunteer shifts</a>.</p>
                <p><a class="icon-new-user" href="/create-account">Create a Go Play NW account</a></p>
            </div>
            <div class="prose max-w-content2" x-cloak x-show="isAuth">
                <p>You have already created your account.</p>
                <p class="icon-checkmark">Continue to step 2 below</p>
            </div>
            <h2>2. Log in to your GoPlayNW.org account</h2>
            <div class="prose max-w-content2" x-cloak x-show="notAuth">
                <p>Once you have a GoPlayNW.org account, you'll need to be logged in before registering for the event so we can link your GoPlayNW.org account to your Eventbrite registration.</p>
                <button class="icon-login" @click="modal='login'">Login to your Go Play NW account</button>
            </div>
            <div class="prose max-w-content2" x-cloak x-show="isAuth">
                <p>You have already logged into your GoPlayNW.org account.
                <p class="icon-checkmark">Continue to step 3 below</p>
            </div>
            <h2>3. Link your GoPlayNW.org account to Eventbrite</h2>
                <p>
                    Now the magic happens! Go Play NW uses <a href="https://www.eventbrite.com/">Eventbrite</a> to handle ticketing for our online
                    events. In order to connect your Eventbrite registration to your game schedule for the weekend, we need your permission to link your Go Play NW and Eventbrite accounts.
                </p>
                <p>When linking your Go Play NW account with your Eventbrite account, you will be taken to the Eventbrite website where you will be asked to login to your Eventbrite account.</P>
                <p>Once you're logged in to Eventbrite, you will be asked if you want to allow Go Play NW to access your Eventbrite account.</p>
                </p>
                    <img src="/static/images/eventbrite_example.png" class="w-full h-full object-contain" alt="An example of what the official Eventbrite approval page should look like.">
                <p>
                    Click "Allow," and you will be brought back to the Go Play NW website so you can complete your ticket purchase.
                </p>
                <p>For more information about what data Go Play NW collects from Eventbrite, please see our <a href="/privacy-policy">Privacy Policy</a>.</p>
            <div class="prose max-w-content2" x-cloak x-show="notAuth">
                <button @click="modal='login'" class="icon-login">Login to link your Go Play NW and Eventbrite accounts.</button>
            </div>
            <div class="prose max-w-content2" x-cloak x-show="isAuth">
                <a class="icon-eventbrite" href="https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=XDAPRWGTYCXDSNF723">Link your Go Play NW and Eventbrite accounts</a>
            </div>
            <h2>4. Buy your ticket!</h2>
            <p>Once you've linked your Eventbrite and Go Play NW accounts, Eventbrite will bring you back to the Go Play NW website where you can purchase your ticket to the event.</p>
            <div class="prose max-w-content2" x-cloak x-show="notAuth">
                <button @click="modal='login'" class="icon-login">Login to buy your ticket.</button>
            </div>
            <div class="prose max-w-content2" x-cloak x-show="isAuth">
                <a href="https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=XDAPRWGTYCXDSNF723" class="icon-ticket-solid">Buy your ticket!</a>
            </div>
            <h2>5. Get involved!</h2>
            <p>It's attendees like you that make Go Play NW great! Now that you've got your ticket, let's help you get the most out of your Go Play NW experience!</p>
            <p><a href="https://discord.gg/AqhayGFexQ" class="icon-discord">Join our Community Discord</a></p>
            <p><a href="/events" class="icon-calendar-clock">Sign up to play in a scheduled game</a></p>
            <p><a href="/run-an-event" class="icon-dice">Run a game for the weekend</a></p>
            <p><a href="/the-donut" class="icon-donut">Learn about the Donut</a></p>
            <p><a href="/contact-us" class="icon-envelope">Questions? Contact us</a></p>
            <div>
                <h3 class="font-bold text-highlight">Let's get you registered for Go Play NW Online!</h3>
            </div>
            <div class="prose max-w-content2" x-cloak x-show="notAuth">
                <button @click="modal='login'" class="icon-login">Login to your Go Play NW account to get started.</button>
            </div>
            <div class="prose max-w-content2" x-cloak x-show="isAuth">
                <a href="https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=XDAPRWGTYCXDSNF723" class="icon-ticket-solid">Buy your ticket!</a>
            </div>
            <div></div>
        </div>
    </div>
</main>
{% endblock %}

{% block pagebottom %}

<script type="text/javascript">

    document.addEventListener('alpine:init', () => {

        Alpine.data('registerEventbrite', function () {
        return {

        }

        })
    })
</script>

{% endblock %}
