{% extends 'layouts/base.njk' %}

{% block header %}
    {% include 'components/header.njk' %}
{% endblock %}

{% block content %}
  <main id="content">
    {# Display Hero image if set #}
    {% if (heroImage) %}
    {# Hero image #}
    <div class="mx-auto w-full px-12 md:mb-6" style="height: 550px; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{heroImage}}'); background-position: {{heroImagePosition}}; background-repeat: no-repeat; background-size: cover; position: relative; display: flex; justify-content: center; align-items: center; flex-direction: column;">
      {#Page title and subtitle #}
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-white mb-base text-center">{{title}}</h1>
        <h2 class="font-serif text-4xl font-bold leading-none md:text-5xl text-white mb-base text-center">{{subtitle}}</h2>
    </div>
      {% else %}
      <div id="page-title" class="mx-auto max-w-content pt-12 pb-6 px-6 lg:px-0 text-white">
        <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl mb-base">{{title}}</h1>
        <h2 class="font-serif text-3xl leading-none tracking-tight">{{subtitle}}</h2>
      </div>
      {% endif %}
    {# Page content #}
    <div class="mx-auto md:rounded-md shadow-md max-w-content p-base bg-card">
      <div class="prose max-w-content2">{{ content | safe }}</div>
            <section class="my-base">
                {# START Submit Form: only show if logged in #}
                <div x-cloak x-show="!isAuth" class="prose">
                    <p>You must be <button @click.stop="modal = 'login'" class="font-bold underline text-highlight">logged in</button> to submit a game</p>
                </div>

                <div x-cloak x-show="isAuth && user" x-data="runAnEventData">
                    <div x-show="!eventSubmitted" id="submit-your-event">
                        <header class="prose">
                            <h2>Submit your game</h2>
                            <p>
                                <span class="font-bold text-highlight">*</span>
                                <em>required field</em>
                            </p>
                        </header>
                        <form id="form" action="post" class="mt-base" id="form-run-an-event" @submit.prevent="submitEvent">
                            {# TODO: add honeypot #}
                            <input type="hidden" x-model="eventInfo.userDisplayName" x-init="event_type = 'IN-PERSON';eventInfo.userDisplayName = user && user.displayName; $watch('user', value => eventInfo.userDisplayName = value && value.displayName)">
                            {# Personal Info #}
                            <fieldset>
                                <legend>Personal info</legend>
                                <div class="required">
                                    <label for="publicName">Public badge name</label>
                                    <p class="text-xs mb-sm text-body">We encourage attendees to list their first and last names. However, if for privacy reasons you would like to use another name, enter it here.</p>
                                    <input id="publicName" name="publicName" type="text" value=""
                                    x-init="eventInfo.publicName = user && user.displayName; $watch('user', value => eventInfo.publicName = value && value.displayName)"
                                    x-model="eventInfo.publicName" @blur="validate"/>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Code of Conduct agreement</legend>
                                <div class="prose mb-sm">
                                    <p>Go Play NW is committed to cultivating a culture of respect, support, and kindness at both our in-person and online events. We ask that all of our attendees agree to abide by our Community Standards, please take a moment to read them before answering yes below.</p>
                                    <p>
                                        <a href="/code-of-conduct" class="icon-scroll">Code of Conduct</a>
                                    </p>
                                </div>
                                <div class="required">
                                    <input type="checkbox" id="agree-to-community-standards" name="agree-to-community-standards" value="Yes" x-model="eventInfo.communityStandards" required>
                                    <label for="agree-to-community-standards" class="text-body-highlight"3324>
                                        Yes &mdash; I, <span x-text="user && user.displayName" class="font-bold"></span>, agree to the Go Play NW Code of Conduct
                                    </label>
                                </div>
                            </fieldset>

                            {# END Personal Info #}
                            {# Event Info - Personal Info must be complete before showing #}
                            <fieldset class="transition-opacity" :class="(isPersonalInfoComplete) ? 'opacity-100 pointer-events-auto' : 'pointer-events-none opacity-20'">
                                <legend>Game info</legend>
                                <div class="required">
                                    <label for="eventName">Game name</label>
                                    <span>Please do not use emojis in your Game Name.</span>
                                    <input id="eventName" name="eventName" type="text" value="" x-model="eventInfo.eventName" @blur="validate" class="w-full max-w-md"/>
                                </div>
                                <div class="required">
                                    <label for="format">Format</label>                               
                                    <select id="format" name="format" x-model="eventInfo.format" @blur="validate">
                                        <option :disabled="eventInfo.format !== ''" selected value="">-- Choose One --</option>
                                        <template x-for="type in format">
                                            <option :value="type.name" x-text="type.name"></option>
                                        </template>
                                    </select>
                                </div>
                                <div x-show="isGame" class="required">
                                    <label for="system">System</label>
                                    <span>Please do not use emojis in the System field.</span><br />                                    
                                    <input id="system" name="system" type="text" value="" x-model="eventInfo.system" @blur="validate"/>
                                </div>
                                <div class="required">
                                    <label for="eventDescription">Description</label>
                                    <span>Please do not use emojis in your Description.</span>                                         
                                    <textarea cols="30" id="eventDescription" name="eventDescription" rows="3" x-model="eventInfo.eventDescription" @blur="validate"></textarea>
                                </div>
                                <div>
                                    <label for="file">Game image</label>
                                    <input type="file" name="file" id="file" accept="image/*" class="mr-base" @change="showPreview">
                                    <img id="image-preview" class="hidden object-cover object-center rounded-md my-sm" x-ref="preview" style="aspect-ratio: 16/9"/>
                                    <p class="text-sm my-sm prose">Images are cropped automatically at 16/9 ratio and centered. Images should be mininum 760x428 px and maximum 1,520x856 px (or there abouts) and formatted with jpg or webp (png or gif accepted but generally the former compress better).</p>
                                </div>
                                <div>
                                    <label for="otherInfo">Other info we should know (this will not go in the program)</label>
                                    <span>Please do not use emojis in this field.</span>                                     
                                    <textarea cols="30" id="otherInfo" name="otherInfo" rows="3" x-model="eventInfo.otherInfo"></textarea>
                                </div>
                                {# <div>
                                    <label for="imageUpload">Image Upload (NOT CURRENTLY WORKING)</label>
                                    <input id="imageUpload" name="imageUpload" type="text" value="" x-model="eventInfo.imageUpload"/>
                                </div> #}
                            </fieldset>
                            {# END Event Info #}
                            {# Player/Attendee Info - all above must be completed #}
                            <fieldset class="transition-opacity" :class="(isEventInfoComplete) ? 'opacity-100 pointer-events-auto' : 'pointer-events-none opacity-20'">
                                <legend>Player info</legend>
                                {# Only required for games #}
                                <div class="required">
                                    <label for="minPlayers">Minimum players</label>
                                    <input id="minPlayers" name="minPlayers" type="number" step="1" value="" x-model="eventInfo.minPlayers" @blur="validate"/>
                                </div>
                                {# Only required for games #}
                                <div class="required">
                                    <label for="maxPlayers" >Maximum players</label>
                                    <input id="maxPlayers" name="maxPlayers" type="number" step="1" value="" x-model="eventInfo.maxPlayers" @blur="validate"/>
                                </div>
                                <div x-show="isRPGorLARP" class="required">
                                    <label for="characters">Characters</label>
                                    <select id="characters" name="characters" x-model="eventInfo.characters" @blur="validate">
                                        <option :disabled="eventInfo.characters !== ''" selected value="">
                                            -- Choose One --
                                        </option>
                                        <option>Provided</option>
                                        <option>Created at the table</option>
                                        <option>Other/Does not apply</option>
                                    </select>
                                </div>
                            </fieldset>
                            {# END Player Attendee Info #}
                            {# Scheduling Info - player age must be completed #}
                            <fieldset class="transition-opacity" :class="(isPlayerInfoComplete) ? 'opacity-100 pointer-events-auto' : 'pointer-events-none opacity-20'">
                                <legend>Scheduling info</legend>
                                <div class="required">
                                    <label for="eventLength">Event length</label>
                                    <select id="eventLength" name="eventLength" x-model="eventInfo.eventLength" @blur="validate">
                                        <option :disabled="eventInfo.eventLength !== '0'" selected value="0">
                                            -- Choose One --
                                        </option>
                                        <option value="1">1 hour</option>
                                        <option value="2">2 hours</option>
                                        <option value="4">4 hours</option>
                                    </select>
                                </div>
                                <div x-show="eventInfo.eventLength" class="required">
                                    <label for="schedulePrefBlock">Scheduled Slot</label>
                                    <div id="schedulePrefBlock" class="flex items-center">
                                        <select id="schedulePrefSel" name="schedulePrefSel" x-model="eventInfo.schedulePref" @blur="validate">
                                            <option :disabled="eventInfo.format !== ''" selected value="">-- Choose One --</option>
                                            <template x-for="(time, i) in scheduleTimes['-1']">
                                                <option :value="time" x-text="time"></option>
                                            </template>
                                        </select>
                                    </div>

                                </div>
                            </fieldset>
                            {# END Scheduling Info #}
                            {# Content Advisory & Safety Tools - show only if scheduling is completed #}
                            <fieldset class="transition-opacity" :class="(isSchedulingInfoComplete) ? 'opacity-100 pointer-events-auto' : 'pointer-events-none opacity-20'">
                                <legend>Content warnings &amp; safety tools</legend>
                                {# Break out to Maturity level and other stuff #}
                                {# No Content Advisory vs Adult themes. Then add new list which is meta #}
                                <div class="required">
                                    <div>
                                        <label for="triggerWarnings">Content warnings</label>
                                        <span>Please do not use emojis in your content warnings.</span>                                             
                                        <input id="triggerWarnings" name="triggerWarnings" type="text" value="" x-model="eventInfo.triggerWarnings" class="w-full max-w-md"/>
                                    </div>
                                </div>
                                <div x-show="isGame">
                                    <label>Safety Tools</label>
                                    <div class="checkbox-grid">
                                        <template x-for="(type, i) in safetyTools">
                                            <div class="flex items-center">
                                                <input type="checkbox" :name="'safetyTools' + i" :id="'safetyTools' + i" :value="type" @change="setCheckboxArray($el,'safetyTools')">
                                                <label :for="'safetyTools' + i" x-text="type"></label>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div x-show="isGame && isOnlineEvent">
                                    <label>Accessibility Options</label>
                                    <div class="checkbox-grid">
                                        <template x-for="(type, i) in accessibilityOptions">
                                            <div class="flex items-center">
                                                <input type="checkbox" :name="'accessibilityOptions' + i" :id="'accessibilityOptions' + i" :value="type" @change="setCheckboxArray($el,'accessibilityOptions')">
                                                <label :for="'accessibilityOptions' + i" x-text="type"></label>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div x-show="isGame">
                                    <label>Game Tags</label>
                                    <div class="checkbox-grid">
                                        <template x-for="(type, i) in eventTags">
                                            <div class="flex items-center">
                                                <input type="checkbox" :name="'eventTags' + i" :id="'eventTags' + i" :value="type" @change="setCheckboxArray($el,'eventTags')">
                                                <label :for="'eventTags' + i" x-text="type"></label>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div>
                                    <label for="additionalRequirements">Additional information</label>
                                    <span>Please do not use emojis in this field.</span>                                         
                                    <textarea cols="30" id="additionalRequirements" name="additionalRequirements" rows="3" x-model="eventInfo.additionalRequirements"></textarea>
                                </div>
                            </fieldset>
                            <button type="submit" :disabled="!isSchedulingInfoComplete">Submit</button>
                        </form>
                    </div>
                    {# END event submission div #}
                    {# event submitted #}
                    <div class="prose" x-show="eventSubmitted" id="event-submitted">
                        <h2>Thanks for submitting your event!</h2>
                        <p>Our staff will review your <span x-text="eventInfo.format"></span> event, <span x-text="eventInfo.eventName" class="italic font-bold"></span>, and let you know about scheduling it!</p>
                        <p>You can <a href="/run-an-event">submit another event</a> now if you'd like.</p>
                    </div>
                </div>
                {# END runAnEventData component #}
            </section>
        </div>
    </main>
{% endblock %}

{#
    PUT /events/create API
    {
        "accessabilityOptions": "string", //  not used
        "additionalGms": "string", // used
        "additionalRequirements": "string", //used
        "characters": "string", //used
        "contentAdvisory": true, // used but using a checkbox
        "eventCategoryId": 0, // this is format
        "eventDescription": "string", // used
        "eventFacilitators": "string", // not used
        "eventMetadataIds": [
        0
        ], // need to combine multiple
        "eventName": "string", // used
        "gm": "string", // need to convert from publicName?
//        "gmAge": "string", //need to convert from yourAge
        "length": "string", // used but named eventLength
        "minPlayers": "string", //used
        "otherInfo": "string", //used
//        "playerAge": "string", //used
        "players": "string", // this is maxPlayers
//        "playtest": "string", //used
        "requestMediaEquipment": "string", // used
        "requestMediaRoom": true,   // used
        "requestPrivateRoom": true, // use locationPref for boolean and add rest to additionalRequirements 
//        "runNumberOfTimes": 0, // used
        "safetyTools": "string", // used convert to string
        "schedulingPref": "string", // convert to string
        "system": "string", //  used
//        "tableType": "string",  // used
        "triggerWarnings": "string",    // used
        "userDisplayName": "string" , // matches user.displayName
    }
 #}

{% block pagebottom %}

    <script type="text/javascript">

        document.addEventListener('alpine:init', () => {


            // Check if variable is a string with stuff in it
            function isFull(str) {
                return (!!str && typeof str === 'string' && str.trim().length !== 0);
            }

            function convertToCreateEventAPI(eventInfo) {
                const scheduleTimeDetails = {
                    "Friday Afternoon - 1:30 PM-5:30 PM PDT": {
                        "date": "2023-07-07",
                        "time": "13:30:00"
                    },
                    "Friday Evening - 7:00 PM-10:30 PM PDT": {
                        "date": "2023-07-07",
                        "time": "19:00:00"
                    },
                    "Saturday Morning - 9:00 AM-12:30 PM PDT": {
                        "date": "2023-07-08",
                        "time": "09:00:00"
                    },
                    "Saturday Afternoon - 1:30 PM-5:30 PM PDT": {
                        "date": "2023-07-08",
                        "time": "13:30:00"
                    },
                    "Saturday Evening - 7:00 PM-10:30 PM PDT": {
                        "date": "2023-07-08",
                        "time": "19:00:00"
                    },
                    "Sunday Morning - 9:00 AM-12:00 PM PDT": {
                        "date": "2023-07-09",
                        "time": "09:00:00"
                    },
                    "Sunday Afternoon - 1:00 PM-4:30 PM PDT": {
                        "date": "2023-07-09",
                        "time": "13:00:00"
                    },
                    "Sunday Evening - 5:30 PM-8:30 PM PDT": {
                        "date": "2023-07-09",
                        "time": "17:30:00"
                    }
                };

                eventInfo = {
                    accessabilityOptions: eventInfo.accessibilityOptions && eventInfo
                        .accessibilityOptions
                        .toString(),
                    additionalGms: null, //eventInfo.additionalGMs,
                    additionalRequirements: eventInfo.additionalRequirements, // + " Room Request: " + eventInfo.locationPref,
                    characters: eventInfo.characters,
                    contentAdvisory: 0, //eventInfo.contentAdvisory !== "Yes",  this is a boolean in the API so we are using 1000000 is no-content-advisory; selection info goes into the eventMetadataIds
                    eventCategoryId: parseInt(eventInfo.format),
                    eventDescription: eventInfo.eventDescription,
                    //eventFacilitators: eventInfo.facilitators,
                    eventMetadataIds: [], //eventMetadataIds,
                    eventName: eventInfo.eventName,
                    format: eventInfo.format,
                    gm: eventInfo.publicName,
                    gmAge: '18+', //dummy value
                    length: eventInfo.eventLength,
                    minPlayers: eventInfo.minPlayers,
                    otherInfo: eventInfo.otherInfo,
                    playerAge: '18+', //dummy value
                    players: eventInfo.maxPlayers,
                    playtest: 0,
                    // playtest: (eventInfo.playtest === 'Yes')
                    //     ? 1
                    //     : 0,
                    requestMediaEquipment: eventInfo.requestMediaEquipment === "Yes",
                    requestMediaRoom: eventInfo.requestMediaRoom === "Yes",
                    //                    requestPrivateRoom: eventInfo.locationPref !== "No Preference",  add extra to additionalRequirements for now
                    runNumberOfTimes: 1, //dummy value
                    safetyTools: eventInfo.safetyTools && eventInfo
                        .safetyTools
                        .toString(),
                    schedulingPref: eventInfo.schedulePref && eventInfo
                        .schedulePref
                        .toString(),
                    eventStartDate: scheduleTimeDetails[eventInfo.schedulePref]
                        ?.date,
                    eventStartTime: scheduleTimeDetails[eventInfo.schedulePref]
                        ?.time,
                    eventTags: eventInfo.eventTags && eventInfo
                        .eventTags
                        .toString(),
                    system: eventInfo.system,
                    //                    tableType: eventInfo.tableType,
                    triggerWarnings: eventInfo.triggerWarnings,
                    userDisplayName: eventInfo.userDisplayName,
                    eventImage: eventInfo.eventImage
                }
                return eventInfo;
            }

            Alpine.data('runAnEventData', function () {
                return {
                    event_type: '',
                    eventSubmitted: false,
                    authToken: this.$persist(""),
                    eventInfo: {
                        // -- Personal Info
                        publicName: '', //required
                        communityStandards: false,
                        // -- Event Info
                        eventName: '', //required
                        format: '', //required
                        system: '', //required only isGame
                        eventDescription: '', //required
                        otherInfo: '',
                        // imageUpload not working yet
                        // -- Player Info
                        //playerAge: '', required if yourAge = "18+"
                        minPlayers: '', //required if isGame
                        maxPlayers: '', //required if isGame
                        characters: '', //not required
                        // -- Scheduling Info
                        eventLength: null, //required
                        schedulePref: '', // not required
                        // -- Content Advisory
                        contentAdvisory: '', //required
                        contentAdvisoryOptions: '', //not required
                        triggerWarnings: '', //not required
                        safetyTools: '', //not required
                        // -- Additional Info
                        panelTopic: '', //not required
                        gameTags: '', //not required
                        additionalRequirements: '', //not required
                        eventTags: '', //not required
                        eventImage: '', //not required
                    },
                    get isPersonalInfoComplete() {
                        const x = this.eventInfo;
                        //return [x.publicName, x.yourAge].every(isFull) && x.communityStandards;
                        return [x.publicName].every(isFull) && x.communityStandards;
                    },
                    get isEventInfoComplete() {
                        const x = this.eventInfo;
                        let fields = [x.eventName, x.format, x.eventDescription]
                        if (this.isGame) 
                            fields = [
                                ...fields,
                                x.system //,
                                //                                x.playtest
                            ]
                            // otherInfo and image upload not required
                        return (this.isPersonalInfoComplete && fields.every(isFull));
                    },
                    get isPlayerInfoComplete() {
                        const x = this.eventInfo;
                        //let fields = [x.playerAge, x.minPlayers, x.maxPlayers]
                        let fields = [x.minPlayers, x.maxPlayers]
                        if (this.isRPGorLARP) 
                            fields = [
                                ...fields,
                                x.characters
                            ]
                        return (this.isEventInfoComplete && fields.every(isFull));
                    },
                    get isSchedulingInfoComplete() {
                        const x = this.eventInfo
                        let fields = [x.eventLength]
                        return (this.isPlayerInfoComplete && fields.every(isFull));
                    },
                    validate(event) {
                        const target = event.target;
                        const parent = target.parentNode;
                        // console.log("validate", event);
                        if (target.value === '') {
                            parent
                                .classList
                                .add('error-required');
                        } else {
                            parent
                                .classList
                                .remove('error-required');
                        } //TODO: add test to see if isNumber
                    },
                    submitEvent() {
                        console.log("submit", convertToCreateEventAPI(this.eventInfo))
                        const y = 0

                        const submitNow = () => {
                            this.createEvent()
                            this.eventSubmitted = true
                        }

                        const scrollEventListener = () => {
                            if (window.pageYOffset === 0) {
                                submitNow();
                                window.removeEventListener('scroll', scrollEventListener)
                            }
                        }
                        function checkScrollEnd() {
                            window.addEventListener('scroll', scrollEventListener);
                        }
                        checkScrollEnd()
                        window.scroll({top: y, behavior: 'smooth'});
                    },
                    async createEvent() {
                        const eventInfo = convertToCreateEventAPI(this.eventInfo)
                        console.log(eventInfo);
                        const data = await fetchData('/events/create', {
                            method: 'PUT',
                            body: convertToCreateEventAPI(this.eventInfo)
                        });
                        const id = await data
                        await this.uploadEventImage(id)
                        return id;
                    },
                    async uploadEventImage(eventId) {
                        console.log("🚀 ~ file: run_an_event.njk ~ line 493 ~ uploadEventImage ~ eventId", eventId)
                        const form = document.getElementById('form')
                        const formData = new FormData(form)
                        formData.append('eventId', Number(eventId));
                        formData.delete('publicName')
                        formData.delete('agree-to-community-standards')
                        formData.delete('eventName')
                        formData.delete('format')
                        formData.delete('system')
                        formData.delete('eventDescription')
                        formData.delete('otherInfo')
                        formData.delete('minPlayers')
                        formData.delete('maxPlayers')
                        formData.delete('characters')
                        formData.delete('eventLength')
                        formData.delete('triggerWarnings')
                        formData.delete('additionalRequirements')
                        formData.delete('schedulePrefSel')

                        async function customFetch(url, options) {
                            try {
                                let response = await fetch(url, options)
                                console.log(`RESPONSE:fetch for ${url}`, response)
                                if (response.status !== 200) 
                                    throw `fetch fail status: ${response.status}`
                                let result = await response.json()
                                console.log(`RESULT:fetch for ${url}`, result)
                                return result
                            } catch (err) {
                                console.error(`ERROR:fetch for ${url}`, err)
                                return false
                            }
                        }

                        let data = await customFetch('https://api-prod.goplaynw.org/events/image', {
                            method: 'POST',
                            body: formData,
                            headers: {
                                Authorization: this.authToken
                            }
                        })
                        return data
                    },
                    showPreview(e) {
                        if (e.target.files.length > 0) {
                            const src = URL.createObjectURL(e.target.files[0]);
                            const preview = document.getElementById("image-preview");
                            preview.src = src;
                            preview.style.display = "block";
                        }
                    },
                    setCheckboxArray(el, arrayName) {
                        this.eventInfo[arrayName] = this.eventInfo[arrayName] || [];
                        // if checked then add value to array; otherwise remove
                        if (el.checked) {
                            this.eventInfo[arrayName] = [
                                ...this.eventInfo[arrayName],
                                el.value
                            ]
                        } else {
                            this.eventInfo[arrayName] = this
                                .eventInfo[arrayName]
                                .filter(item => item !== el.value)
                        }
                        //console.log(this.eventInfo[arrayName])
                    },
                    scheduleTimes: {
                        "-1": [
                                "Friday Afternoon - 1:30 PM-5:30 PM PDT", 
                                "Friday Evening - 7:00 PM-10:30 PM PDT", 
                                "Saturday Morning - 9:00 AM-12:30 PM PDT", 
                                "Saturday Afternoon - 1:30 PM-5:30 PM PDT", 
                                "Saturday Evening - 7:00 PM-10:30 PM PDT", 
                                "Sunday Morning - 9:00 AM-12:00 PM PDT", 
                                "Sunday Afternoon - 1:00 PM-4:30 PM PDT",
                                "Sunday Evening - 5:30 PM-8:30 PM PDT"
                               ]
                    },
                    findName(array, name) {
                        return array.find(e => e.name === name)
                    },
                    formatId(name) {
                        return this
                            .format
                            .find(e => e.name === name)
                            .id
                            .toString()
                    },
                    get isGame() {
                        return ["RPG", "LARP", "Board/Card Game"].includes(this.eventInfo.format)
                    },
                    get isRPGorLARP() {
                        return ["RPG", "LARP"].includes(this.eventInfo.format)
                    },
                    get isTableTop() {
                        return ["RPG", "Board/Card Game"].includes(this.eventInfo.format)
                    },
                    get isBoardgame() {
                        return this.eventInfo.format === "Board/Card Game"
                    },
                    get isOnlineEvent() {
                        return this.event_type === "ONLINE"
                    },
                    get isInPersonEvent() {
                        return this.eventType === "IN-PERSON"
                    },
                    format: [
                        {
                            "id": 27,
                            "name": "Board/Card Game",
                            "slug": "board-card-game"
                        }, {
                            "id": 28,
                            "name": "LARP",
                            "slug": "larp"
                        },
                        {
                            "id": 29,
                            "name": "RPG",
                            "slug": "rpg"
                        },
                    ],
                    safetyTools: [
                        'X-card',
                        'Script Change',
                        'Stoplight',
                        'Support Flower',
                        'Lines and Veils',
                        'Palette',
                        'Pause/Retcon/Fade to Black',
                        'Other'
                    ],
                    accessibilityOptions: [
                        'Text Only',
                        'Outside Portal/Site',
                        'Video',
                        'Audio/Voice',
                        'Other'
                    ],
                    eventTags: [
                        'Diceless',
                        'GMless',
                        'Map-Building',
                        'Non-Violent',
                        'Other',
                        'Playtest',
                        'Run by Designer',
                        'World Building'
                    ]
                }
            })
        })
    </script>

{% endblock %}