{% extends 'layouts/base.njk' %}
{% import 'components/bio-card.njk' as biocard %}

{% block content %}
    <main id="content">
        <div class="mx-auto max-w-content p-base">
            <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
            <div class="prose">{{ content | safe }}</div>
        </div>
        <section class="flex flex-col mx-auto max-w-content p-base gap-lg">
            {% for person in collections.guests | published | sort %}
                {{ biocard.card(person)}}
            {% endfor %}
        </section>
    </main>
{% endblock %}
{% block pagebottom %}
    <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <style type="text/css">
            .bio-wave-stroke {
                fill: var(--card,#ffffff);
            }
            .bio-wave-top {
                fill: var(--header-bg-2,#000000);
            }
        </style>
        <defs>
            <pattern id="bio-wave-pattern" x="0" y="0" width=".01791" height="1">
                <path d="M71.6,8.4V0H0v8.4c9.9,9.7,29.3,9.7,39.1,0C47.2,0.5,63.5,0.5,71.6,8.4z" class="bio-wave-top"/>
                <path d="M71.6,5.8C62.3-1.7,46.2-1.3,37.7,7c-9.2,9-27.2,9-36.3,0L0,5.6v5.5c5.2,4.4,12.4,6.5,19.6,6.5
    		c7.8,0,15.7-2.6,21-7.8c7.2-7.1,22.4-7.1,29.6,0l1.4,1.4V5.8z" class="bio-wave-stroke"/>
            </pattern>
        </defs>
    </svg>
{% endblock %}