{% extends 'layouts/base.njk' %}

{% block content %}
    <main id="content">
        <div class="mx-auto max-w-content p-base">
            <h1 class="font-serif text-4xl font-bold leading-none md:text-5xl text-header mb-base">{{title}}</h1>
            <div class="prose">{{ content | safe }}</div>
            {% if eventData.volunteer.length > 0 %}
                {% include 'components/volunteer-shifts-table.njk' %}
            {% else %}
                <div class="prose my-base">
                    <p>
                        <em>There are no volunteer shifts currently posted. Please check back later.</em>
                    </p>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}