@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.grid-rows-min-content-auto {
		grid-template-rows: min-content auto;
	}
	.drop-shadow-bbc {
		filter: drop-shadow(0.3rem 0.3rem 0 var(--shadow));
	}
}

/* -------------------------------------------------------------------------- */
/*                               Color Variables                              */
/* -------------------------------------------------------------------------- */

:root {
	--d-header-bg: #392755;
	--l-header-bg: #ffdad1;
	--d-header-bg-2: #2c174f;
	--l-header-bg-2: #fee7e2;
	--d-header-bg-3: #16072f;
	--l-header-bg-3: #fff9f8;
	--d-title: #4dd7bc;
	--l-title: #392755;
	--d-highlight: #f4c6e8;
	--d-highlight-2: #f0a8de;
	--l-highlight: #ff2c4f;
	--l-highlight-2: #df1c39;
	--d-header: #b5eadf;
	--l-header: #562670;
	--d-body: #d5e3ed;
	--l-body: #353e3f;
	--d-hr: #b7c6d0;
	--l-hr: #515c5d;
	--d-link: #ffffff;
	--l-link: #670139;
	--d-gradient-start: #004f6e;
	--d-gradient-mid: #063357;
	--d-gradient-end: #052038;
	--l-gradient-start: #c399d0;
	--l-gradient-mid: #e0c7e6;
	--l-gradient-end: #f4eaf7;
	--d-card: rgb(18 24 57 / 0.59);
	--l-card: rgb(255 255 255 / 0.59);
	--l-backdrop: rgba(184, 159, 222, 0.59);
	--d-backdrop: rgba(0, 19, 42, 0.909);
	--l-shadow: rgba(123, 106, 191, 0.9);
	--d-shadow: rgba(72, 68, 175, 0.9);
}

html,
[data-theme="light"] {
	/* ---------------------------- Base Light Theme ---------------------------- */
	--header-bg: var(--l-header-bg);
	--header-bg-2: var(--l-header-bg-2);
	--header-bg-3: var(--l-header-bg-3);
	--title: var(--l-title);
	--highlight: var(--l-highlight);
	--highlight-2: var(--l-highlight-2);
	--header: var(--l-header);
	--body: var(--l-body);
	--link: var(--l-link);
	--hr: var(--l-hr);
	--gradient-start: var(--l-gradient-start);
	--gradient-mid: var(--l-gradient-mid);
	--gradient-end: var(--l-gradient-end);
	--card: var(--l-card);
	--backdrop: var(--l-backdrop);
	--shadow: var(--l-shadow);
}

/* ------------------------------- Dark Theme ------------------------------- */
[data-theme="dark"] {
	--header-bg: var(--d-header-bg);
	--header-bg-2: var(--d-header-bg-2);
	--header-bg-3: var(--d-header-bg-3);
	--title: var(--d-title);
	--highlight: var(--d-highlight);
	--highlight-2: var(--d-highlight-2);
	--header: var(--d-header);
	--body: var(--d-body);
	--link: var(--d-link);
	--hr: var(--d-hr);
	--gradient-start: var(--d-gradient-start);
	--gradient-mid: var(--d-gradient-mid);
	--gradient-end: var(--d-gradient-end);
	--card: var(--d-card);
	--backdrop: var(--d-backdrop);
	--shadow: var(--d-shadow);
}

/* ---------------------- Dark Theme repeated for auto ---------------------- */
@media (prefers-color-scheme: dark) {
	html:not([data-theme="light"]) {
		--header-bg: var(--d-header-bg);
		--header-bg-2: var(--d-header-bg-2);
		--header-bg-3: var(--d-header-bg-3);
		--title: var(--d-title);
		--highlight: var(--d-highlight);
		--highlight-2: var(--d-highlight-2);
		--header: var(--d-header);
		--body: var(--d-body);
		--link: var(--d-link);
		--hr: var(--d-hr);
		--gradient-start: var(--d-gradient-start);
		--gradient-mid: var(--d-gradient-mid);
		--gradient-end: var(--d-gradient-end);
		--card: var(--d-card);
		--backdrop: var(--d-backdrop);
		--shadow: var(--d-shadow);
	}
}

/* -------------------------------------------------------------------------- */
/*                                Theme Switch                                */
/* -------------------------------------------------------------------------- */

:root {
	--theme-switch-knob: var(--highlight);
	--theme-switch-highlight: var(--highlight);
	--theme-switch-track: var(--card);
}

theme-switch::part(track) {
	border-radius: 9999px;
	box-shadow: 0.05em 0.1em 0.05em rgb(50 50 50 / 0.6) inset;
}

theme-switch::part(knob) {
	border-radius: 9999px;
	box-shadow: -0.05em -0.1em 0.05em rgb(50 50 50 / 0.6) inset, 0.1em 0.1em 0.05em rgb(50 50 50 / 0.6);
	border: 1px solid var(--track);
	box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

:root {
	/* ------------------------------- Root Settings ------------------------------- */

	--sans: "Open Sans", "Hevetica", "sans-serif";
	--serif: "Rokkitt", "serif";

	/* Fluid font size from Utopia */
	font-size: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
	/* Safari Resize fix */
	min-height: 1vw;
}

/* -------------------------------------------------------------------------- */
/*                                    Forms                                   */
/* -------------------------------------------------------------------------- */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"] {
	@apply max-w-full border rounded-md px-sm py-xs bg-form border-body text-body focus:ring-highlight focus:border-highlight;
}

label {
	@apply block font-bold text-body mb-xs mt-base;
}
label:first-child {
	@apply mt-0;
}
select {
	@apply rounded bg-form text-body py-xs border-body focus:ring-highlight focus:border-highlight;
}

button[type="submit"],
input[type="submit"],
.button {
	@apply font-bold uppercase transition-colors duration-200 border-2 rounded shadow text-header-bg bg-highlight hover:bg-highlight-2 py-xs px-sm sm:px-base border-highlight;
}

.button.clicked {
	@apply bg-body border-hr;
}

input[type="file"] {
	@apply font-bold uppercase transition-colors duration-200 rounded shadow bg-card py-xs px-sm sm:px-base;
}

button[type="submit"]:disabled,
input[type="submit"]:disabled,
.button:disabled {
	@apply bg-slate-500;
}

.button-sm {
	@apply text-sm font-bold uppercase transition-colors duration-200 border rounded shadow text-header-bg bg-highlight hover:bg-highlight-2 py-2xs px-sm border-highlight;
}

.button-title {
	@apply bg-title border-header;
}

button:disabled {
	@apply cursor-default opacity-70 bg-hr hover:bg-hr border-hr;
}

textarea {
	@apply w-full px-4 py-2 border rounded-md border-body bg-form text-body focus:ring-highlight focus:border-highlight;
}

fieldset {
	@apply transition-opacity;
}

fieldset:has(> legend) {
	@apply border-t-4 border-solid border-hr;
}

fieldset > legend + * {
	@apply !mt-0;
}

legend {
	@apply font-serif text-2xl font-bold leading-tight pr-base text-header;
	margin-block-end: 0.2em;
}

input[type="checkbox"] {
	@apply rounded mr-xs;
}

input[type="checkbox"] ~ label {
	@apply inline-block font-normal m-0 leading-[1.1rem] mr-sm;
}

label:has(input[type="checkbox"]) {
	@apply inline-flex items-center font-normal m-0 leading-[1.1rem] mr-sm;
}

.required > label {
	@apply after:content-['*'] after:text-highlight after:font-bold after:ml-2xs;
}

.error-required {
	@apply rounded-md bg-card p-sm;
}
.error-required:after {
	@apply italic font-bold ml-xs text-highlight;
	content: "required";
}
/* If specific data error text specified use that instead */
.error-required[data-error]:after {
	content: attr(data-error);
}
[data-error] {
	@apply rounded-md bg-card p-sm;
}
[data-error]:after {
	@apply italic font-bold ml-xs text-highlight;
	content: attr(data-error);
}

.error-msg {
	@apply italic font-bold ml-sm text-highlight;
}

/* Hide the error message for forms that use x-validate */
/* TODO: fix all forms and then get rid of this and remove the [data-error]:after */
form[x-validate] [data-error]:after {
	content: "";
	@apply hidden;
}

/* Used on Run an Event Additional Info */
.checkbox-grid {
	@apply grid gap-x-sm gap-y-sm;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.fieldset-disabled {
	@apply pointer-events-none opacity-20;
}

/* -------------------------------------------------------------------------- */
/*                                  Alpine JS                                 */
/* -------------------------------------------------------------------------- */

[x-cloak] {
	display: none !important;
}
/* -------------------------------------------------------------------------- */
/*                                Other Styles                                */
/* -------------------------------------------------------------------------- */

.bbc-logo path {
	fill: var(--title);
}

/* -------------------------------------------------------------------------- */
/*                                    SVGS                                    */
/* -------------------------------------------------------------------------- */

.fill-highlight {
	fill: var(--highlight);
}

.fill-body {
	fill: var(--body);
}

/* -------------------------------------------------------------------------- */
/*                                 Icon Links                                 */
/* -------------------------------------------------------------------------- */

[class^="icon-"] {
	@apply inline-flex items-center font-serif no-underline text-link gap-sm;
	font-size: 1.3em;
	line-height: 0.9;
	text-decoration-color: var(--highlight);
}

a[class^="icon-"]:hover {
	@apply underline;
}

[class^="icon-"]:before {
	@apply block w-6 h-6 bg-highlight bg-gradient-to-br from-highlight via-highlight to-highlight-2 shrink-0;
	mask-repeat: no-repeat;
	content: " ";
}

/* all icon-svgname classes are dynamically generated in svg-icons.css from svg-icons-css.njk using all svgs in the static/icons folder */

/* -------------------------------------------------------------------------- */
/*                           Event / Volunteer List                           */
/* -------------------------------------------------------------------------- */

action-table :where(th[no-sort]) {
	padding: 0.2em 0.5em 0.2em 0.5em;
}

action-table :where(th button) {
	cursor: pointer;
	font-weight: bold;
	border: 0;
	width: 100%;
	height: 100%;
	display: block;
	padding-block-end: 0.5em;
	position: relative;
	text-align: left;
	font-size: inherit;
	line-height: inherit;
	transition: color 0.3s ease-in-out;
}

action-table :where(th button:hover, th:has(button):hover, th button:focus-visible, th:has(button):focus-visible) {
	color: var(--highlight);
}

action-table :where(th button)::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 0.4em solid transparent; /* Half the width of the triangle */
	border-right: 0.4em solid transparent; /* Half the width of the triangle */
	border-top: 0.7em solid var(--highlight); /* Height of the triangle */
	display: inline-block;
	position: relative;
	top: 0.4em;
	margin-inline-start: 0.4em;
	opacity: 0.2;
	transform: translateY(-50%);
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

action-table :where(th[aria-sort$="ing"] button, th[aria-sort$="ing"]:has(button)) {
	/* background-color: var(--th-sorted); */
}

action-table :where(th[aria-sort$="ing"] button)::after {
	opacity: 1;
}

action-table :where(th[aria-sort="descending"] button)::after {
	opacity: 1;
	transform: translateY(-50%) rotate(180deg);
}

action-table-filters label {
	font-size: 0.9em;
}

action-table-filter-menu {
	display: flex;
	align-items: center;
	gap: 0.3em;
}

action-table-filter-menu select {
	padding: 0.1em 0.5em;
	font-size: 0.9em;
	cursor: pointer;
	padding-inline-end: 3em;
	box-shadow: none;
}
action-table-filter-menu select:focus {
	outline: 0;
	outline-offset: 0;
	border-color: var(--body);
	box-shadow: none;
}
action-table-filter-menu select:focus-visible {
	outline: 1px solid var(--highlight);
	outline-offset: 0;
}
action-table-filters .selected,
action-table-filters .selected:focus {
	outline: 3px solid var(--highlight);
	outline-offset: 0;
}

action-table-filters input[type="search"] {
	padding: 0.1em 0.5em;
	font-size: 0.9em;
}

/* -------------------------------------------------------------------------- */
/*                                Switch Toggle                               */
/* -------------------------------------------------------------------------- */
action-table label {
	margin-block-end: 0;
}
action-table .switch label {
	display: inline-flex;
	align-items: center;
	margin: 0;
}
action-table .switch input {
	appearance: none;
	position: relative;
	display: inline-block;
	background: var(--card);
	cursor: pointer;
	height: 1.4em;
	width: 2.45em;
	vertical-align: middle;
	border-color: var(--hr);
	border-radius: 2em;
	box-shadow: 0px 1px 3px #0003 inset;
	transition: 0.25s linear background;
}
action-table .switch input::before {
	content: "";
	display: block;
	width: 1em;
	height: 1em;
	background: var(--body);
	border-radius: 1em;
	position: absolute;
	top: 0.15em;
	left: 0.2em;
	box-shadow: 0px 1px 3px #0003;
	transition: 0.25s linear transform;
	transform: translateX(0em);
}

action-table .switch :checked,
action-table .switch :checked:hover,
action-table .switch :checked:focus,
action-table .switch input:hover {
	background: var(--shadow);
	border-color: var(--hr);
}
action-table .switch :checked::before {
	transform: translateX(1em);
}
action-table .switch input:focus,
action-table .star input:focus {
	outline: transparent;
}
action-table .switch input:focus-visible,
action-table .star input:focus-visible {
	outline: 2px solid var(--highlight-2);
	outline-offset: 2px;
}

/* -------------------------------------------------------------------------- */
/*                             Star Switch Toggle                             */
/* -------------------------------------------------------------------------- */

action-table .star label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 0.2em;
}
action-table .star input {
	--star-checked: var(--highlight);
	--star-unchecked: var(--highlight);
	appearance: none;
	position: relative;
	cursor: pointer;
	height: 1.6em;
	width: 1.6em;
	vertical-align: middle;
	border: 0;
	background: none;
	transition: opacity 0.25s ease-in-out;
	opacity: 0.3;
	margin-right: 0;
}
action-table .star input:checked,
action-table .star input:checked:hover,
action-table .star input:checked:focus {
	background: none;
	border: 0;
	opacity: 1;
}
action-table .star input:focus,
action-table .star input:hover {
	outline: none;
	background: none;
	border: 0;
	box-shadow: none;
}
action-table .star input:hover,
action-table .star input:focus-visible,
action-table .star input:checked:hover,
action-table .star input:checked:focus-visible {
	opacity: 1;
	background: var(--card);
}
action-table .star input::before {
	content: "";
	background: var(--star-unchecked);
	cursor: pointer;
	position: absolute;
	height: 1.6em;
	width: 1.6em;
	vertical-align: middle;
	transition: 0.25s linear background;
	clip-path: polygon(50% 0%, 62% 29%, 98% 35%, 74% 58%, 79% 91%, 50% 76%, 21% 91%, 26% 58%, 2% 35%, 34% 29%);
}

action-table .star input:checked::before {
	background: var(--star-checked);
}

/* CSS hack to remove filters area if there is no filters */

action-table-filters:has(action-table-filter-menu:empty) {
	display: none;
}

action-table-filters:has(action-table-filter-menu:not(:empty)),
action-table-filters:has(action-table-filter-switch:not(:empty)) {
	display: flex;
}

.events-table {
	@apply w-full text-sm text-body;
}

.events-table thead tr {
	@apply relative flex flex-wrap justify-between w-full border-b-2 sm:table-row border-card;
}

.events-table thead th {
	@apply text-left last:pr-0 py-2xs;
}

.events-table .events-table-header--categories {
	@apply hidden sm:table-cell;
}

.events-table .events-table-header--spaces {
	@apply hidden text-center sm:table-cell;
}

.events-table .events-table-header--fav {
	@apply flex justify-end pb-sm justify-self-end;
}

.events-table tbody tr {
	/* pr-8 leaves room for absolute placed fav star in mobile */
	@apply relative flex flex-wrap w-full pr-8 border-b-2 sm:table-row py-sm sm:pr-0 gap-x-xs border-card;
}
.volunteer-shifts-table tbody tr {
	/* pr-8 leaves room for absolute placed fav star in mobile */
	@apply relative flex flex-wrap w-full border-b-2 sm:table-row py-sm pr-lg sm:pr-0 gap-x-xs border-card;
}

.events-table td {
	@apply block sm:table-cell sm:py-sm sm:pr-sm last:pr-0;
}
` .events-table .events-table-cell--name {
	@apply basis-full;
}

.events-table .events-table-cell--system {
	@apply italic basis-full;
}

.events-table .events-table-cell--date {
	@apply basis-full;
}

.events-table .events-table-cell--duration {
	@apply font-bold text-center;
}
.events-table .events-table-cell--categories {
}
.events-table .events-table-cell--spaces {
	@apply absolute bottom-0 right-0 text-center sm:static;
}
.volunteer-shifts-table .events-table-cell--spaces {
	@apply absolute text-center sm:static top-sm right-lg;
}
.events-table .events-table-cell--fav {
	@apply absolute right-0 sm:static top-sm;
}

.events-table thead tr {
	@apply flex-row gap-sm;
}

.events-table th {
	@apply pb-xs text-title sm:pr-sm;
}

.fav-star {
	mask-image: url(/static/icons/star.svg);
	mask-repeat: no-repeat;
	@apply block w-6 h-6 text-transparent cursor-pointer opacity-30 hover:opacity-100 bg-body;
}

.fav-star-header {
	mask-image: url(/static/icons/star.svg);
	mask-repeat: no-repeat;
	@apply block w-6 h-6 bg-body indent-96 hover:bg-highlight;
}

.fav-star--event-page,
.fav-star--event-page .iconlink__icon {
	@apply w-8 h-8;
}

/* Make sure favved are highlighted */
.fav-star.favved,
.fav-star-header.favved {
	@apply opacity-100 bg-highlight;
}

.filter-btn {
	@apply flex items-center transition-colors border rounded gap-x-xs bg-card px-sm py-2xs hover:bg-header-bg border-card;
}
.filter-btn svg {
	@apply w-4 h-4 fill-body;
}
.filter-btn:hover svg {
	@apply fill-highlight;
}
.filter-btn.active {
	@apply border-highlight;
}
.filter-btn.active svg {
	@apply fill-highlight;
}

[x-bind="sortable"] {
	@apply underline-offset-2 decoration-2 decoration-hr hover:underline whitespace-nowrap;
}
.active [x-bind="sortable"] {
	@apply underline decoration-highlight;
}
[x-bind="sortable"]:after {
	content: "\279C";
	@apply text-hr inline-block text-xs transition-transform ml-[.1rem] invisible;
}
.active [x-bind="sortable"]:after {
	@apply visible;
}
.active [x-bind="sortable"].ascending:after {
	@apply rotate-90;
}
.active [x-bind="sortable"].descending:after {
	@apply rotate-[-90deg];
}

/* -------------------------------------------------------------------------- */
/*                                 Event Pages                                */
/* -------------------------------------------------------------------------- */

.event-description h2 + br,
.event-description h3 + br,
.event-description li + br,
.event-description ul + br,
.event-description ul > br {
	display: none;
}
/* css to hide stuff */
.spoilers-transparent {
	@apply text-transparent;
}
.spoilers-transparent::selection {
	@apply text-body bg-card;
}

.spoilers-black {
	@apply text-transparent bg-black;
}
.spoilers-black::selection {
	@apply text-slate-50 bg-slate-900;
}

.event-image {
	animation: fadeInAnimation ease 500ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* -------------------------------------------------------------------------- */
/*                                    Modal                                   */
/* -------------------------------------------------------------------------- */

.modal-wrapper {
	@apply fixed inset-0 z-50 flex items-center justify-center bg-backdrop backdrop-blur;
	/* background-image: url(/static/images/bbc-stars.svg); */
}

.modal-panel {
	@apply flex flex-col transition-all rounded-lg shadow-xl border-4 border-card p-base bg-header-bg max-w-[90%] max-h-[90%] w-96 relative z-10;
}

.modal-header {
	@apply flex justify-between gap-x-sm;
}

.modal-title {
	@apply flex-grow font-serif text-3xl font-semibold leading-none text-header;
}

.modal-form {
	@apply flex flex-col flex-grow my-sm text-body gap-base;
}

.link-btn {
	@apply font-bold underline text-highlight;
}

/* -------------------------------------------------------------------------- */
/*                                lite-youtube                                */
/* -------------------------------------------------------------------------- */

lite-youtube {
	background-color: #000;
	position: relative;
	display: block;
	contain: content;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
	max-width: 100%;
}

/* gradient */
lite-youtube::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	background-position: top;
	background-repeat: repeat-x;
	height: 60px;
	padding-bottom: 50px;
	width: 100%;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
	content: "";
	display: block;
	padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
	width: 68px;
	height: 48px;
	position: absolute;
	cursor: pointer;
	transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
	z-index: 1;
	background-color: transparent;
	/* YT's actual play button svg */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
	filter: grayscale(100%);
	transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
	border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
	filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
	cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
	opacity: 0;
	pointer-events: none;
}

.lyt-visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* -------------------------- Give Lively CSS Fixes ------------------------- */
.gl-widget svg {
	display: inline-block;
}
.gl-widget__google-pay-button img {
	margin-bottom: 0;
}

/* ----------------------- Donate nav item CSS styles ----------------------- */
#main-nav > a[href^="/donate"] {
	@apply p-0;
}
#main-nav > a[href^="/donate"] span {
	@apply inline-block transition-colors border-2 rounded-md bg-card border-highlight hover:bg-highlight hover:text-header-bg underline-offset-4 decoration-highlight px-sm py-2xs;
}

/* -------------------------------------------------------------------------- */
/*                                FOrm Testing                                */
/* -------------------------------------------------------------------------- */

/* --------------------------- TODO: REMOVE LATER --------------------------- */
/* input:invalid {
	outline: 2px solid red;
	outline-offset: 2px;
} */

/* -------------------------------------------------------------------------- */
/*                                 Action Form                                */
/* -------------------------------------------------------------------------- */

label:has(~ [required])::after,
[required] + label::after,
label.required::after {
	content: "*";
	@apply font-bold text-highlight ml-2xs;
}

af-error {
	visibility: hidden;
}

af-error[invalid] {
	visibility: visible;
}

af-error {
	--error-text: var(--highlight);
	color: var(--error-text, red);
	font-weight: bold;
	display: inline-block;
	padding: 0.2em;
}

af-progress {
	margin-block: 1em;
	--step-border-size: 0.22em;
	--step-bg: var(--header-bg);
	--step-text: inherit;
	--inactive: var(--header-bg-3);
	--active: var(--title);
	--incomplete: var(--highlight);
	--valid: var(--active);
	--valid-bg: var(--active);
	--valid-text: var(--header-bg-3);
}

.js af-step {
	display: none;
}
.js af-step.active {
	display: grid;
}

af-step {
	display: block;
	padding: 1em;
	border-radius: 1em;
	border: 0.22em solid var(--header-bg-3);
	--button-valid-bg: var(--highlight);
}

af-step > fieldset {
	margin-block: 0;
}

af-step::part(step-nav),
af-step [part="step-nav"] {
	display: flex;
	justify-content: space-between;
	padding-block: 1.6em 0;
}
af-step::part(step-btn),
af-step .af-step-nav button {
	@apply text-sm font-bold uppercase transition-colors duration-200 border-2 rounded shadow text-header-bg bg-title hover:bg-highlight-2 hover:border-highlight py-xs px-sm sm:px-base border-header;
}

af-step[valid] .af-step-next,
af-step[valid]::part(next) {
	background-color: var(--highlight);
	border-color: var(--highlight-2);
	transition: color;
}
.af-step-next::after,
af-step::part(next)::after {
	content: var(--next-icon, "\2192");
	margin-inline-start: 0.5em;
}
.af-step-prev::before,
af-step::part(prev)::before {
	content: var(--prev-icon, "\2190");
	margin-inline-end: 0.5em;
}

.no-steps af-step {
	display: block;
	margin-block: 1em;
}

.no-steps af-step .af-step-nav,
.no-steps af-step::part(step-nav) {
	display: none;
}

.no-steps af-progress {
	display: none;
}

/* -------------------------------------------------------------------------- */
/*                              Action Form Misc                              */
/* -------------------------------------------------------------------------- */

fieldset .directions {
	@apply mt-0 text-sm mb-sm text-body;
}

input[readonly] {
	background: transparent;
	border: none;
	padding: 0;
}
/* -------------------------------------------------------------------------- */
/*                         Run An Event Form Specific                         */
/* -------------------------------------------------------------------------- */

.form-group-cols-1:not([hidden]) {
	@apply grid gap-sm;
}

.form-group-cols-2:not([hidden]) {
	@apply grid md:grid-cols-2 gap-sm;
}

.form-group-cols-3:not([hidden]) {
	@apply grid grid-cols-2 md:grid-cols-3 gap-sm;
}

.form-group-cols-4:not([hidden]) {
	@apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-sm;
}

.no-preference:has(input[type="checkbox"]) {
	@apply mb-base;
}

af-step-toggle::part(button) {
	@apply font-bold uppercase transition-colors duration-200 border-2 rounded shadow text-header-bg bg-highlight hover:bg-highlight-2 py-xs px-sm sm:px-base border-highlight;
}

.label-error-wrapper {
	@apply flex justify-start gap-sm;
}
.label-error-wrapper af-error {
	@apply p-0;
}

.prose af-preview p {
	@apply my-xs;
}
