@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------- */
/*                               Color Variables                              */
/* -------------------------------------------------------------------------- */

:root, .light, [data-theme='light'] {
  /* ---------------------------- Base Light Theme ---------------------------- */
  --primary: #e1eac4;
  --primary-2: #c4d0a0;
  --primary-3: #94a268;
  --primary-4: #849357;
  --secondary: #843232;
  --highlight: #e65800;
  --highlight-2: #f22600;
  --card: rgba(255, 255, 255, 0.6);
  --body: #313a3c;
  --body-highlight: #003312;
  --header: var(--secondary);
  --subheader: #304a3b;
  --menu-icon: #6f693f;
  --sky: #baedff;
  --mountain: #83a0ad;
  --sunmoon: #fff965;
  --tree: #86815f;
  --tree-2: #aca57e;
  --main-gradient-top: #AFCFDD;
  --main-gradient-bottom: #E4EFF2;
  --bg-form: #fcf8f3;
  --hr: #6E897C;
  --fill-highlight: url(#highlight-gradient) var(--highlight);
  --backdrop: rgba(16, 52, 55, 0.58);
}

/* ------------------------------- Dark Theme ------------------------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #171b30;
    --primary-2: #122436;
    --primary-3: #142F40;
    --primary-4: #254152;
    --secondary: #ffd800;
    --highlight: #ffb53b;
    --highlight-2: #ff7f00;
    --card: rgba(37, 5, 46, 0.4);
    --body: #d5e3ed;
    --body-highlight: #fff;
    --header: var(--secondary);
    --subheader: #bdcfd5;
    --menu-icon: #9dbfd5;
    --sky: #97A0BF;
    --mountain: #7F84A5;
    --sunmoon: #F5F9FF;
    --tree: #282A3F;
    --tree-2: #4F536C;
    --main-gradient-top: #274555;
    --main-gradient-bottom: #1E1C3F;
    --bg-form: #2f2d31;
    --hr: #6C89A6;
    --backdrop: rgba(90, 100, 120, 0.6);
  }
}

.dark, [data-theme='dark'] {
  --primary: #171b30;
  --primary-2: #122436;
  --primary-3: #142F40;
  --primary-4: #254152;
  --secondary: #ffd800;
  --highlight: #ffb53b;
  --highlight-2: #ff7f00;
  --card: rgba(37, 5, 46, 0.4);
  --body: #d5e3ed;
  --body-highlight: #fff;
  --header: var(--secondary);
  --subheader: #dddddd;
  --menu-icon: #9dbfd5;
  --sky: #97A0BF;
  --mountain: #7F84A5;
  --sunmoon: #F5F9FF;
  --tree: #282A3F;
  --tree-2: #4F536C;
  --main-gradient-top: #274555;
  --main-gradient-bottom: #1E1C3F;
  --bg-form: #2f2d31;
  --hr: #6C89A6;
  --backdrop: rgba(90, 100, 120, 0.6);
}

/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Fonts --------------------------------- */
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans'),
       url('/static/fonts/open-sans-v23-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v23-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       url('/static/fonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans'),
       url('/static/fonts/open-sans-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans'),
       url('/static/fonts/open-sans-v23-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v23-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rokkitt-500 - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 500;
  src: local('Rokkitt'),
       url('/static/fonts/rokkitt-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/rokkitt-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rokkitt-700 - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: local('Rokkitt'),
       url('/static/fonts/rokkitt-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/rokkitt-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  /* ------------------------------- Root Settings ------------------------------- */

  --sans: 'Open Sans', 'Hevetica', 'sans-serif';
  --serif: 'Rokkitt', 'serif';

  /* Fluid font size from Utopia */
  font-size: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
  /* Safari Resize fix */
  min-height: 1vw;
}

/* -------------------------------------------------------------------------- */
/*                                    Forms                                   */
/* -------------------------------------------------------------------------- */

input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="tel"], input[type="url"] {
  @apply px-sm py-xs border rounded-md bg-form border-body text-body focus:ring-highlight focus:border-highlight;
}

label {
  @apply block font-bold text-body mb-2xs;
}

select {
  @apply rounded bg-form text-body border-body focus:ring-highlight focus:border-highlight;
}

button[type="submit"], input[type="file"], .button {
  @apply font-bold uppercase transition-colors duration-200 rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-base border border-highlight;
}

button[type="submit"]:disabled .button:disabled {
  @apply bg-slate-500;
}

.button-sm {
  @apply font-bold uppercase transition-colors duration-200 rounded shadow text-form text-sm bg-highlight hover:bg-highlight-2 py-2xs px-sm border border-highlight;
}

button:disabled {
  @apply opacity-70 bg-hr hover:bg-hr border-hr cursor-default;
}

textarea {
  @apply w-full px-4 py-2 border rounded-md border-body bg-form text-body focus:ring-highlight focus:border-highlight;
}

fieldset {
  @apply border-t-4 border-solid border-hr pt-base my-md space-y-4 transition-opacity;
}

fieldset > legend + * {
@apply !mt-0
}

legend {
  @apply font-serif text-3xl font-bold pr-base text-header;
}

input[type="checkbox"] {
  @apply rounded mr-xs;
}

input[type="checkbox"] ~ label {
  @apply inline-block font-normal m-0 leading-[1.1rem];
}

.required > label {
  @apply after:content-['*'] after:text-highlight after:font-bold after:ml-2xs;
}

.error-required {
  @apply bg-card p-sm rounded-md;
}
.error-required:after {
  @apply ml-xs text-highlight italic font-bold;
  content: 'required';
}
/* If specific data error text specified use that instead */
.error-required[data-error]:after {
  content: attr(data-error);
}
[data-error] {
  @apply bg-card p-sm rounded-md;
}
[data-error]:after {
  @apply ml-xs text-highlight italic font-bold;
  content: attr(data-error);
}

.error-msg {
  @apply ml-sm text-highlight italic font-bold;
}

/* Hide the error message for forms that use x-validate */
/* TODO: fix all forms and then get rid of this and remove the data-error:after */
.latest-validate [data-error]:after {
  content: "";
  @apply hidden;
}

/* Used on Run an Event Additional Info */
.checkbox-grid {
  @apply grid gap-x-sm gap-y-sm;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.fieldset-disabled {
  @apply pointer-events-none opacity-20;
}

/* -------------------------------------------------------------------------- */
/*                                  Alpine JS                                 */
/* -------------------------------------------------------------------------- */

[x-cloak] {
  display: none !important;
}
/* -------------------------------------------------------------------------- */
/*                                Other Styles                                */
/* -------------------------------------------------------------------------- */

.bbc-logo path {
  fill: var(--secondary);
}

.page-wrapper {
  grid-template-rows: min-content auto;
}

/* -------------------------- Light Dark Switch ----------------------------- */

.switch input[type="checkbox"]:checked ~ .thumb {
  @apply transform translate-x-full;
}

.switch input[type="checkbox"]:checked ~ .track {
  @apply transform transition-colors;
}

.switch input[type="checkbox"]:disabled ~ .track {
  @apply bg-gray-500;
}

.switch input[type="checkbox"]:disabled ~ .thumb {
  @apply bg-gray-100 border-gray-500;
}

.switch input[type="checkbox"]:focus + .track,
.switch input[type="checkbox"]:active + .track {
  /* @apply shadow-outline; */
}

/* --------------------------- Icon Link Shortcode -------------------------- */
.iconlink, .icon {
  @apply flex items-center space-x-sm text-highlight;
  text-decoration: none !important;
}
.iconlink:hover {
  text-decoration: underline !important;
}
.iconlink__icon,
.light .icon-link__icon {
  @apply w-6 h-6 flex-shrink-0;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(230, 255, 230, 0.4))
}
@media (prefers-color-scheme: dark) {
  .iconlink__icon {
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 50, 0.4))
  }
}
.dark .iconlink__icon {
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 50, 0.4))
}
.iconlink__title {
  @apply text-body-highlight font-serif;
  font-size: 1.3em;
  line-height: 0.9;
}
/* Needed for cards on homepage */
.prose p .iconlink {
  margin: -.4em 0 0;
}

.fill-highlight {
  fill: var(--highlight);
}

.fill-body {
  fill: var(--body);
}

/* ------------------------------ Icon Link V2 ------------------------------ */

[class^='icon-'] {
  @apply text-body-highlight font-serif no-underline flex items-center gap-sm;
  font-size: 1.3em;
  line-height: 0.9;
  text-decoration-color: var(--highlight);
}

a[class^='icon-']:hover {
  @apply underline;
}

[class^='icon-']:before {
  @apply block h-6 w-6 bg-highlight bg-gradient-to-br from-highlight via-highlight to-highlight-2;
  mask-repeat: no-repeat;
  content: " ";
}

.icon-add:before {
  mask-image: url(/static/svgs/add.svg)
}

.icon-art:before {
  mask-image: url(/static/svgs/art.svg)
}

.icon-badge:before {
  mask-image: url(/static/svgs/badge.svg)
}

.icon-book:before {
  mask-image: url(/static/svgs/book.svg)
}

.icon-booth:before {
  mask-image: url(/static/svgs/booth.svg)
}

.icon-bullhorn:before {
  mask-image: url(/static/svgs/bullhorn.svg)
}

.icon-calendar-clock:before {
  mask-image: url(/static/svgs/calendar-clock.svg)
}

.icon-calendar-star:before {
  mask-image: url(/static/svgs/calendar-star.svg)
}

.icon-close:before {
  mask-image: url(/static/svgs/close.svg)
}

.icon-dice:before {
  mask-image: url(/static/svgs/dice.svg)
}

.icon-discord:before {
  mask-image: url(/static/svgs/discord.svg)
}

.icon-envelope:before {
  mask-image: url(/static/svgs/envelope.svg)
}

.icon-faq:before {
  mask-image: url(/static/svgs/faq.svg)
}

.icon-games-on-demand:before {
  mask-image: url(/static/svgs/games-on-demand.svg)
}

.icon-gift:before {
  mask-image: url(/static/svgs/gift.svg)
}

.icon-hotel:before {
  mask-image: url(/static/svgs/hotel.svg)
}

.icon-image:before {
  mask-image: url(/static/svgs/image.svg)
}

.icon-itch-io:before {
  mask-image: url(/static/svgs/itch-io.svg)
}

.icon-kickstarter:before {
  mask-image: url(/static/svgs/kickstarter.svg)
}

.icon-library:before {
  mask-image: url(/static/svgs/library.svg)
}

.icon-light-bulb:before {
  mask-image: url(/static/svgs/light-bulb.svg)
}

.icon-list:before {
  mask-image: url(/static/svgs/list.svg)
}

.icon-menu:before {
  mask-image: url(/static/svgs/menu.svg)
}

.icon-moon:before {
  mask-image: url(/static/svgs/moon.svg)
}

.icon-parachute:before {
  mask-image: url(/static/svgs/parachute.svg)
}

.icon-party:before {
  mask-image: url(/static/svgs/party.svg)
}

.icon-paw:before {
  mask-image: url(/static/svgs/paw.svg)
}

.icon-pencil-square:before {
  mask-image: url(/static/svgs/pencil-square.svg)
}

.icon-pig:before {
  mask-image: url(/static/svgs/pig.svg)
}

.icon-price-tags:before {
  mask-image: url(/static/svgs/price-tags.svg)
}

.icon-scroll:before {
  mask-image: url(/static/svgs/scroll.svg)
}

.icon-settings:before {
  mask-image: url(/static/svgs/settings.svg)
}

.icon-shield:before {
  mask-image: url(/static/svgs/shield.svg)
}

.icon-star:before {
  mask-image: url(/static/svgs/star.svg)
}

.icon-sun:before {
  mask-image: url(/static/svgs/sun.svg)
}

.icon-trophy:before {
  mask-image: url(/static/svgs/trophy.svg)
}

.icon-twitch:before {
  mask-image: url(/static/svgs/twitch.svg)
}

.icon-twitter:before {
  mask-image: url(/static/svgs/twitter.svg)
}

.icon-website:before {
  mask-image: url(/static/svgs/website.svg)
}

.icon-wolf:before {
  mask-image: url(/static/svgs/wolf.svg)
}

.icon-youtube:before {
  mask-image: url(/static/svgs/youtube.svg)
}

/* ------------------------- Event / Volunteer List ------------------------- */

.events-table {
  @apply w-full text-sm text-body;
}

.events-table tr {
  @apply w-full flex flex-wrap sm:table-row mb-base relative pr-8 sm:pr-0 gap-x-xs;
}

.events-table td {
  @apply block sm:table-cell sm:py-sm sm:pr-sm;
}

.events-table .events-table-cell--name {
  @apply basis-full;
}

.events-table .events-table-cell--fav-star {
  @apply absolute sm:relative right-0 top-0;
}

.events-table .events-table-cell--categories {
  @apply bg-transparent relative top-[-.2rem];
}

.events-table .events-table-cell--system {
  @apply italic;
}

.events-table thead tr {
  @apply flex-row gap-sm;
}

.events-table th {
  @apply pb-xs text-subheader sm:pr-sm;
}

.fav-star {
  mask-image: url(/static/svgs/star.svg);
  mask-repeat: no-repeat;
  @apply block w-6 h-6 cursor-pointer opacity-30 hover:opacity-100 bg-body indent-96;
}

.fav-star-header {
  mask-image: url(/static/svgs/star.svg);
  mask-repeat: no-repeat;
  @apply block w-6 h-6 bg-body indent-96;
}

.fav-star--event-page, .fav-star--event-page .iconlink__icon  {
  @apply w-8 h-8;
}

/* Make sure favved are highlighted */
.fav-star.favved, .fav-star-header.favved {
  @apply opacity-100 bg-highlight
}

.filter-btn {
  @apply flex items-center transition-colors rounded gap-x-xs bg-main-gradient-bottom px-sm py-2xs hover:bg-primary;
}

.sort-btn {
  @apply border-b-2 border-transparent mb-[-2px] hover:border-body;
}

.sortable {
  @apply inline-flex justify-start gap-2xs items-end;
}

.active .sort-btn {
  @apply border-highlight
}

.ascending .active.sortable:after {
  content: "\279C";
  @apply text-hr rotate-90 block text-xs;
}

.descending .active.sortable:after {
  content: "\279C";
  @apply text-hr rotate-[-90deg] block text-xs;
}

/* -------------------------------------------------------------------------- */
/*                                lite-youtube                                */
/* -------------------------------------------------------------------------- */

lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 100%;
}

/* gradient */
lite-youtube::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
    width: 68px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    /* YT's actual play button svg */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
    filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
    cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}

.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }