@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-rows-min-content-auto {
        grid-template-rows: min-content auto;
    }
    .drop-shadow-bbc {
        filter: drop-shadow(.3rem .3rem 0 var(--shadow));
    }
}

/* -------------------------------------------------------------------------- */
/*                               Color Variables                              */
/* -------------------------------------------------------------------------- */

:root {
	--d-header-bg: #392755;
	--l-header-bg: #ffdad1;
	--d-header-bg-2: #2c174f;
	--l-header-bg-2: #fee7e2;
	--d-header-bg-3: #16072f;
	--l-header-bg-3: #fff9f8;
	--d-title: #4dd7bc;
	--l-title: #392755;
	--d-highlight: #f4c6e8;
	--d-highlight-2: #f0a8de;
	--l-highlight: #ff2c4f;
	--l-highlight-2: #df1c39;
	--d-header: #b5eadf;
	--l-header: #562670;
	--d-body: #d5e3ed;
	--l-body: #353e3f;
	--d-hr: #b7c6d0;
	--l-hr: #515c5d;
	--d-link: #ffffff;
	--l-link: #670139;
	--d-gradient-start: #004f6e;
	--d-gradient-mid: #063357;
	--d-gradient-end: #052038;
    --l-gradient-start: #C399D0;
	--l-gradient-mid: #E0C7E6;
	--l-gradient-end: #f4eaf7;
	--d-card: rgb(18 24 57 / 0.59);
	--l-card: rgb(255 255 255 / 0.59);
	--l-backdrop: rgba(33, 18, 57, 0.59);
	--d-backdrop: rgba(195, 243, 255, 0.59);
	--l-shadow: rgba(123, 106, 191, 0.9);
	--d-shadow: rgba(72, 68, 175, 0.9);
}

html,
[data-theme="light"] {
	/* ---------------------------- Base Light Theme ---------------------------- */
	--header-bg: var(--l-header-bg);
	--header-bg-2: var(--l-header-bg-2);
	--header-bg-3: var(--l-header-bg-3);
	--title: var(--l-title);
	--highlight: var(--l-highlight);
	--highlight-2: var(--l-highlight-2);
	--header: var(--l-header);
	--body: var(--l-body);
	--link: var(--l-link);
	--hr: var(--l-hr);
	--gradient-start: var(--l-gradient-start);
	--gradient-mid: var(--l-gradient-mid);
	--gradient-end: var(--l-gradient-end);
	--card: var(--l-card);
	--backdrop: var(--l-backdrop);
	--shadow: var(--l-shadow);
}

/* ------------------------------- Dark Theme ------------------------------- */
[data-theme="dark"] {
	--header-bg: var(--d-header-bg);
	--header-bg-2: var(--d-header-bg-2);
	--header-bg-3: var(--d-header-bg-3);
	--title: var(--d-title);
	--highlight: var(--d-highlight);
	--highlight-2: var(--d-highlight-2);
	--header: var(--d-header);
	--body: var(--d-body);
	--link: var(--d-link);
	--hr: var(--d-hr);
	--gradient-start: var(--d-gradient-start);
	--gradient-mid: var(--d-gradient-mid);
	--gradient-end: var(--d-gradient-end);
	--card: var(--d-card);
	--backdrop: var(--d-backdrop);
	--shadow: var(--d-shadow);
}

/* ---------------------- Dark Theme repeated for auto ---------------------- */
@media (prefers-color-scheme: dark) {
	html:not([data-theme="light"]) {
		--header-bg: var(--d-header-bg);
		--header-bg-2: var(--d-header-bg-2);
		--header-bg-3: var(--d-header-bg-3);
		--title: var(--d-title);
		--highlight: var(--d-highlight);
		--highlight-2: var(--d-highlight-2);
		--header: var(--d-header);
		--body: var(--d-body);
		--link: var(--d-link);
		--hr: var(--d-hr);
		--gradient-start: var(--d-gradient-start);
		--gradient-mid: var(--d-gradient-mid);
		--gradient-end: var(--d-gradient-end);
		--card: var(--d-card);
        --backdrop: var(--d-backdrop);
        --shadow: var(--d-shadow);
	}
}

/* -------------------------------------------------------------------------- */
/*                                Theme Switch                                */
/* -------------------------------------------------------------------------- */

:root {
	--theme-switch-knob: var(--highlight);
	--theme-switch-highlight: var(--highlight);
    --theme-switch-track: var(--card);
}

theme-switch::part(track) {
	border-radius: 9999px;
	box-shadow: 0.05em 0.1em 0.05em rgb(50 50 50 / 0.6) inset;
}

theme-switch::part(knob) {
	border-radius: 9999px;
	box-shadow: -0.05em -0.1em 0.05em rgb(50 50 50 / 0.6) inset, 0.1em 0.1em 0.05em rgb(50 50 50 / 0.6);
	border: 1px solid var(--track);
	box-sizing: border-box;
}



/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

:root {
	/* ------------------------------- Root Settings ------------------------------- */

	--sans: "Open Sans", "Hevetica", "sans-serif";
	--serif: "Rokkitt", "serif";

	/* Fluid font size from Utopia */
	font-size: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
	/* Safari Resize fix */
	min-height: 1vw;
}

/* -------------------------------------------------------------------------- */
/*                                    Forms                                   */
/* -------------------------------------------------------------------------- */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="tel"],
input[type="url"] {
	@apply border rounded-md px-sm py-xs bg-form border-body text-body focus:ring-highlight focus:border-highlight;
}

label {
	@apply block font-bold text-body mb-2xs;
}

select {
	@apply rounded bg-form text-body border-body focus:ring-highlight focus:border-highlight;
}

button[type="submit"],
input[type="submit"],
.button {
	@apply font-bold uppercase transition-colors duration-200 border rounded shadow text-form bg-highlight hover:bg-highlight-2 py-xs px-sm sm:px-base border-highlight;
}

input[type="file"] {
	@apply font-bold uppercase transition-colors duration-200 rounded shadow bg-card py-xs px-sm sm:px-base;
}

button[type="submit"]:disabled,
input[type="submit"]:disabled,
.button:disabled {
	@apply bg-slate-500;
}

.button-sm {
	@apply text-sm font-bold uppercase transition-colors duration-200 border rounded shadow text-form bg-highlight hover:bg-highlight-2 py-2xs px-sm border-highlight;
}

button:disabled {
	@apply cursor-default opacity-70 bg-hr hover:bg-hr border-hr;
}

textarea {
	@apply w-full px-4 py-2 border rounded-md border-body bg-form text-body focus:ring-highlight focus:border-highlight;
}

fieldset {
	@apply space-y-4 transition-opacity border-t-4 border-solid border-hr pt-base my-md;
}

fieldset > legend + * {
	@apply !mt-0;
}

legend {
	@apply font-serif text-3xl font-bold pr-base text-header;
}

input[type="checkbox"] {
	@apply rounded mr-xs;
}

input[type="checkbox"] ~ label {
	@apply inline-block font-normal m-0 leading-[1.1rem];
}

.required > label {
	@apply after:content-['*'] after:text-highlight after:font-bold after:ml-2xs;
}

.error-required {
	@apply rounded-md bg-card p-sm;
}
.error-required:after {
	@apply italic font-bold ml-xs text-highlight;
	content: "required";
}
/* If specific data error text specified use that instead */
.error-required[data-error]:after {
	content: attr(data-error);
}
[data-error] {
	@apply rounded-md bg-card p-sm;
}
[data-error]:after {
	@apply italic font-bold ml-xs text-highlight;
	content: attr(data-error);
}

.error-msg {
	@apply italic font-bold ml-sm text-highlight;
}

/* Hide the error message for forms that use x-validate */
/* TODO: fix all forms and then get rid of this and remove the [data-error]:after */
form[x-validate] [data-error]:after {
	content: "";
	@apply hidden;
}

/* Used on Run an Event Additional Info */
.checkbox-grid {
	@apply grid gap-x-sm gap-y-sm;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.fieldset-disabled {
	@apply pointer-events-none opacity-20;
}

/* -------------------------------------------------------------------------- */
/*                                  Alpine JS                                 */
/* -------------------------------------------------------------------------- */

[x-cloak] {
	display: none !important;
}
/* -------------------------------------------------------------------------- */
/*                                Other Styles                                */
/* -------------------------------------------------------------------------- */

.bbc-logo path {
	fill: var(--title);
}

/* -------------------------------------------------------------------------- */
/*                                    SVGS                                    */
/* -------------------------------------------------------------------------- */

.fill-highlight {
	fill: var(--highlight);
}

.fill-body {
	fill: var(--body);
}

/* -------------------------------------------------------------------------- */
/*                                 Icon Links                                 */
/* -------------------------------------------------------------------------- */

[class^="icon-"] {
	@apply inline-flex items-center font-serif no-underline text-link gap-sm;
	font-size: 1.3em;
	line-height: 0.9;
	text-decoration-color: var(--highlight);
}

a[class^="icon-"]:hover {
	@apply underline;
}

[class^="icon-"]:before {
	@apply block w-6 h-6 bg-highlight bg-gradient-to-br from-highlight via-highlight to-highlight-2 shrink-0;
	mask-repeat: no-repeat;
	content: " ";
}

/* all icon-svgname classes are dynamically generated in svg-icons.css from svg-icons-css.njk using all svgs in the static/icons folder */

/* -------------------------------------------------------------------------- */
/*                           Event / Volunteer List                           */
/* -------------------------------------------------------------------------- */

.events-table {
	@apply w-full text-sm text-body;
}

.events-table thead tr {
	@apply relative flex flex-wrap justify-between w-full border-b-2 sm:table-row border-card;
}

.events-table thead th {
	@apply text-left last:pr-0 py-sm;
}

.events-table .events-table-header--categories {
	@apply hidden sm:table-cell;
}

.events-table .events-table-header--spaces {
	@apply hidden text-center sm:table-cell;
}

.events-table .events-table-header--fav {
	@apply flex justify-end pb-sm justify-self-end;
}

.events-table tbody tr {
	/* pr-8 leaves room for absolute placed fav star in mobile */
	@apply relative flex flex-wrap w-full pr-8 border-b-2 sm:table-row py-sm sm:pr-0 gap-x-xs border-card;
}
.volunteer-shifts-table tbody tr {
	/* pr-8 leaves room for absolute placed fav star in mobile */
	@apply relative flex flex-wrap w-full border-b-2 sm:table-row py-sm pr-lg sm:pr-0 gap-x-xs border-card;
}

.events-table td {
	@apply block sm:table-cell sm:py-sm sm:pr-sm last:pr-0;
}
` .events-table .events-table-cell--name {
	@apply basis-full;
}

.events-table .events-table-cell--system {
	@apply italic basis-full;
}

.events-table .events-table-cell--date {
	@apply basis-full;
}

.events-table .events-table-cell--duration {
	@apply font-bold text-center;
}
.events-table .events-table-cell--categories {
}
.events-table .events-table-cell--spaces {
	@apply absolute bottom-0 right-0 text-center sm:static;
}
.volunteer-shifts-table .events-table-cell--spaces {
	@apply absolute text-center sm:static top-sm right-lg;
}
.events-table .events-table-cell--fav {
	@apply absolute right-0 sm:static top-sm;
}

.events-table thead tr {
	@apply flex-row gap-sm;
}

.events-table th {
	@apply pb-xs text-title sm:pr-sm;
}

.fav-star {
	mask-image: url(/static/icons/star.svg);
	mask-repeat: no-repeat;
	@apply block w-6 h-6 text-transparent cursor-pointer opacity-30 hover:opacity-100 bg-body;
}

.fav-star-header {
	mask-image: url(/static/icons/star.svg);
	mask-repeat: no-repeat;
	@apply block w-6 h-6 bg-body indent-96 hover:bg-highlight;
}

.fav-star--event-page,
.fav-star--event-page .iconlink__icon {
	@apply w-8 h-8;
}

/* Make sure favved are highlighted */
.fav-star.favved,
.fav-star-header.favved {
	@apply opacity-100 bg-highlight;
}

.filter-btn {
	@apply flex items-center transition-colors border rounded gap-x-xs bg-card px-sm py-2xs hover:bg-header-bg border-card;
}
.filter-btn svg {
	@apply w-4 h-4 fill-body;
}
.filter-btn:hover svg {
	@apply fill-highlight;
}
.filter-btn.active {
	@apply border-highlight;
}
.filter-btn.active svg {
	@apply fill-highlight;
}

[x-bind="sortable"] {
	@apply underline-offset-2 decoration-2 decoration-hr hover:underline whitespace-nowrap;
}
.active [x-bind="sortable"] {
	@apply underline decoration-highlight;
}
[x-bind="sortable"]:after {
	content: "\279C";
	@apply text-hr inline-block text-xs transition-transform ml-[.1rem] invisible;
}
.active [x-bind="sortable"]:after {
	@apply visible;
}
.active [x-bind="sortable"].ascending:after {
	@apply rotate-90;
}
.active [x-bind="sortable"].descending:after {
	@apply rotate-[-90deg];
}

/* -------------------------------------------------------------------------- */
/*                                 Event Pages                                */
/* -------------------------------------------------------------------------- */

.event-description h2 + br,
.event-description h3 + br,
.event-description li + br,
.event-description ul + br,
.event-description ul > br {
	display: none;
}
/* css to hide stuff */
.spoilers-transparent {
	@apply text-transparent;
}
.spoilers-transparent::selection {
	@apply text-body bg-card;
}

.spoilers-black {
	@apply text-transparent bg-black;
}
.spoilers-black::selection {
	@apply text-slate-50 bg-slate-900;
}

.event-image {
	animation: fadeInAnimation ease 500ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* -------------------------------------------------------------------------- */
/*                                    Modal                                   */
/* -------------------------------------------------------------------------- */

.modal-wrapper {
	@apply fixed inset-0 z-50 flex items-center justify-center bg-backdrop backdrop-blur;
}

.modal-panel {
	@apply flex flex-col transition-all rounded-md shadow p-base bg-header-bg max-w-[90%] max-h-[90%] w-96;
}

.modal-header {
	@apply flex justify-between gap-x-sm;
}

.modal-title {
	@apply flex-grow font-serif text-3xl font-semibold leading-none text-header;
}

.modal-form {
	@apply flex flex-col flex-grow my-sm text-body gap-base;
}

.link-btn {
	@apply font-bold underline text-highlight;
}

/* -------------------------------------------------------------------------- */
/*                                lite-youtube                                */
/* -------------------------------------------------------------------------- */

lite-youtube {
	background-color: #000;
	position: relative;
	display: block;
	contain: content;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
	max-width: 100%;
}

/* gradient */
lite-youtube::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	background-position: top;
	background-repeat: repeat-x;
	height: 60px;
	padding-bottom: 50px;
	width: 100%;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
	content: "";
	display: block;
	padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
	width: 68px;
	height: 48px;
	position: absolute;
	cursor: pointer;
	transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
	z-index: 1;
	background-color: transparent;
	/* YT's actual play button svg */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
	filter: grayscale(100%);
	transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
	border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
	filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
	cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
	opacity: 0;
	pointer-events: none;
}

.lyt-visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* -------------------------- Give Lively CSS Fixes ------------------------- */
.gl-widget svg {
	display: inline-block;
}
.gl-widget__google-pay-button img {
	margin-bottom: 0;
}

/* ----------------------- Donate nav item CSS styles ----------------------- */
#main-nav > a[href^="/donate"] {
	@apply p-0;
}
#main-nav > a[href^="/donate"] span {
	@apply inline-block transition-colors border-2 rounded-md bg-card border-highlight hover:bg-highlight hover:text-header-bg underline-offset-4 decoration-highlight px-sm py-2xs;
}
