---
layout: layouts/event.njk
pagination:
    data: eventData.events
    size: 1
    alias: event
permalink: "events/{{ event.eventSlug }}/"
eleventyComputed:
    title: "{{ event.eventName | safe }}"
    ogAPIImage: "https://v1.screenshot.11ty.dev/https%3A%2F%2Fwww.bigbadcon.com%2Fog%2Fevents%2F{{event.eventSlug}}%2F/opengraph/"
---
{% set categoryArray = event.categories %}

{% set src = "" %}
{% if (event.metadata.event_image) %}
  {# If it has a image than put it in place and replace it if a different image is available #}
  {% set src = "https://admin.bigbadcon.com:8091/images/" + event.metadata.event_image %}
  <div class="w-full rounded-md bg-card mb-base" style="aspect-ratio: 16/9;"
    x-data="{src: '{{src}}', defaultImg: '{{event.metadata.event_image}}'">
    <img src="{{src}}" class="object-cover w-full rounded-md event-image" style="aspect-ratio: 16/9;"
        x-init="if (event_image && event_image !== defaultImg) $el.setAttribute('src', 'https://admin.bigbadcon.com:8091/images/' + event_image)"
/>
  </div>
{% else %}
  {# If there is no image than make it hidden unless there is an image available #}
  <div class="w-full rounded-md bg-card mb-base" style="aspect-ratio: 16/9;"
    x-cloak x-show="event_image" x-transitition.opacity>
    <img class="object-cover w-full rounded-md event-image" style="aspect-ratio: 16/9;"
        x-init="if (event_image) $el.setAttribute('src', 'https://admin.bigbadcon.com:8091/images/' + event_image)"
/>
  </div>
{% endif %}

{# TODO: add time when it is ready #}

<div class="relative flex flex-col w-full prose border-t-2 border-b-2 mb-base text-body gap-sm border-hr pr-md py-sm">
  <div x-cloak x-show="isAuth" class="absolute right-0 top-sm">
    <span @click="toggleFav({{event.eventId}})" class="fav-star fav-star--event-page" :class="isFav({{event.eventId}}) && 'favved'">&starf;</span>
  </div>
  <div class="text-2xl font-semibold leading-snug text-body-highlight pr-base">
    {{ event.metadata.GM }}
  </div>
  <div class="not-prose">
    <ul class="flex justify-start text-sm gap-xs">
      {% for category in event.categories %}
        <li class="rounded-full px-sm py-[.15rem] bg-card text-body">{{ category }}</li>
      {% endfor %}
    </ul>
  </div>
  {% if event.metadata.Players %}
    <div>
      <strong>System:</strong>
      {{event.metadata.System}}</div>
  {% endif %}
  {# Event Day #}
  <div class="flex flex-wrap justify-between">
    <div>
      <strong>Date:</strong>
      {% include 'components/event-date-time-duration.njk' %}
    </div>
  </div>
  {% if event.metadata.Players %}
    <div class="">
      <strong>Spaces:</strong>
      <span x-text="(spacesOpen) ? spacesOpen + ' out of {{event.metadata.Players}}' : '{{event.metadata.Players}}'">{{event.metadata.Players}}</span>
    </div>
  {% endif %}
  <div>
    <strong>Attendee/Player Age:</strong>
    {{event.metadata.player_age}}</div>
  <div>
    <strong>Safety Tools:</strong>
    {{event.metadata.safety_tools}}</div>

</div>

{# Description #}
<div class="prose event-description">{{event.postContent | nl2br | safe }}</div>
{# Event Signup / Booking #}
{# TODO: make this visible for all when events open. Figure out a way to set this automatically. #}
{# TODO: when do we want event signups to start? 9/25 12pm PT #}
{# TODO: If this is a Small Press event then make sure they sign up on the form #}

{# Ad hoc form for PoC Dinner 3263 #}
{% set categoryArray = event.categories %}
{% if event.eventId == 3263 %}
  {% include 'components/poc-dinner-form.njk' %}
{% elif('Early Signup' in categoryArray) %}

  {% include 'components/event-booking-panel.njk' %}
{% elif('GoD' in categoryArray) %}
  <div class="prose rounded-md bg-card p-base mt-base">
    <h2>Games On Demand Booking</h2>
    <p>All seats are <a href="/games-on-demand-how-it-works/">assigned on site</a>, just show up to our Games on Demand room at least 10 minutes before the games start and you can get in!</p>
  </div>
{% elif(sitemeta.eventSignupDate | isPastDate) %}
  {% include 'components/event-booking-panel.njk' %}
{% endif %}
{# Event links #}
<div class="flex flex-wrap justify-between max-w-full prose border-t-2 border-b-2 mt-md border-hr py-sm gap-base">
  <div class="flex text-sm gap-xs">
    <strong>Add to calendar:</strong>
    {% set calendarDescription = "Big Bad Online 2022: " + event.eventName | safe + " https://www.bigbadcon.com/events/" + event.eventSlug %}
    <a href="{% calendarLink title, calendarDescription, event.eventStartDateTime, event.eventEndDateTime, 'google' %}">Google</a>
    <a href="{% calendarLink title, calendarDescription, event.eventStartDateTime, event.eventEndDateTime, 'ics' %}">iCal</a>
    <a href="{% calendarLink title, calendarDescription, event.eventStartDateTime, event.eventEndDateTime, 'outlook' %}">Outlook</a>
  </div>
  <div class="text-sm">
    {% set tweeturl = "https://twitter.com/intent/tweet?text=Check+out+this+event+at+BigBadCon!+https://www.bigbadcon.com/events/" + event.eventSlug %}

    <a class="icon-twitter" href="{{tweeturl}}">Tweet This!</a>
  </div>
  <div class="text-sm">
    <a href="{{ogAPIImage | ogCacheBuster }}" class="icon-image">Social Image Card</a>
  </div>
</div>
{# ADMIN ONLY SECTION #}
<div x-cloak x-show="isAdmin || (isAuth && user && user.id === gm.id)" class="max-w-full overflow-auto prose rounded my-base p-base bg-card">
  <h3>Image Upload</h3>
  <p class="italics">Only Available for Admins &amp; Event GM/Facilitator.</p>
  <form @submit.prevent="uploadImage">
    <input type="hidden" name="eventId" value="{{event.eventId}}">
    <label for="file">Event Image Upload Add/Replace</label>
    <p class="text-sm my-sm">Images are cropped automatically at 16/9 ratio and centered. Images should be mininum 760x428 px and maximum 1,520x856 px (or there abouts) and formatted with jpg or webp (png or gif accepted but generally the former compress better).</p>
    <input type="file" name="file" id="file" accept="image/*" class="w-full cursor-pointer mr-base" @change="showPreview">
    <img id="image-preview" class="hidden object-cover object-center w-full rounded-md my-base" x-ref="preview" style="aspect-ratio: 16/9"/>
    <button type="submit" class="hidden" id="upload-button">Upload</button>
  </form>
</div>
<div class="prose py-base">Back to <a href="/events/">List of Events</a>
</div>