---
layout: layouts/event.njk
pagination:
    data: eventData.events
    size: 1
    alias: event
permalink: "events/{{ event.eventSlug }}/"
eleventyComputed:
    title: "{{ event.eventName | safe }}"
    ogImage: "{{sitemeta.url}}/.netlify/functions/screenshot/{{event.eventSlug}}/"
    heroImage: "/event-images/{{ event.eventSlug }}.png"
    heroImageAlt: "Speaker headshots"
---

{# TODO: make this modular for more years #}
{# TODO: shift to events/2021/ folder structure  #}
{# TODO: make sure the redirects move to new folder structure #}
{# TODO: add more archive events. But use serverless eleventy #}

{# Speakers #}
{# Time #}
{# Time at their timezone #}
{# Panel or seminar #}
{# Image at what ratio? Make a Photoshop template for 1-6 speaker heads #}
{# Look into autogen twitter cards #}
{# Volunteer events need to be seperated from the rest #}
{# If possible set up booking for volunteer shifts #}

{# Categories and Facilitator/GM #}

<div class="text-lg prose border-t-2 border-b-2 text-body mb-base space-y-xs border-hr py-sm">
    {# Event Day #}
    <div class="flex flex-wrap justify-between">
        {# timezone data is in x-data="eventFilter" in wrapping div in base.njk #}
        {# formatEventDate is in .eleventy.js and returns html with date and time in separate span tags #}
        <div>
            <strong>Date:</strong>
            <span>{{ event | eventStartDateTime | formatEventDate | safe }} (PST)</span>
        </div>
    </div>
    {# Event Time #}
    <div class="">
        <strong>Duration:</strong>
        <span>{{ event | eventDuration | safe }}</span>
    </div>
</div>

<div class="prose mb-base mt-sm space-y-sm">
    <div class="text-2xl font-semibold leading-snug text-body-highlight">
        {{ event.metadata.GM }}
    </div>
</div>
{# Event Image: bit of a kludge. Must be added to event-images folder and named the same as the eventSlug #}
<div class="rounded-md bg-card mb-md">
    {% image heroImage,
    heroImageAlt %}
</div>
{# Description #}
<div class="prose">{{event.postContent | nl2br | safe }}</div>
{# Event links #}
<div class="flex flex-wrap justify-between max-w-full prose border-t-2 border-b-2 mt-md border-hr py-sm gap-base">
    <div class="text-sm">
        {% set tweeturl = "https://twitter.com/intent/tweet?text=Check+out+this+panel+at+#BigBadOnline+2021!+https://www.bigbadcon.com/events/" + event.eventSlug %}

        <a class="inline-flex items-center gap-sm" href="{{tweeturl}}">
            <svg class="w-4 h-4 fill-body">
                <use xlink:href="/static/images/icons.svg#twitter"></use>
            </svg>Tweet This!</a>
    </div>
    <div class="text-sm">
        <a href="{{sitemeta.url}}/.netlify/functions/screenshot/{{event.eventSlug}}/" class="inline-flex items-center gap-sm">
            <svg class="w-4 h-4 fill-body">
                <use xlink:href="/static/images/icons.svg#image"></use>
            </svg>Social Image Card</a>
    </div>
</div>
<div class="prose py-base">Back to <a href="/events/">List of Events</a>
</div>