---
layout: layouts/page.njk
pagination:
    data: eventsArchive.2022
    size: 1
    alias: event
permalink: "events/{{ event.eventSlug }}/"
eleventyComputed:
    title: "{{ event.eventName | safe }}"
    ogAPIImage: "https://v1.screenshot.11ty.dev/https%3A%2F%2Fwww.bigbadcon.com%2Fog%2Fevents%2F{{event.eventSlug}}%2F/opengraph/"
    heroImage: "/event-images/{{ event.eventSlug }}.png"
    heroImageAlt: "Speaker headshots"
---

{# TODO: make this modular for more years #}
{# TODO: add more archive events. But use serverless eleventy #}

<div class="text-lg prose border-t-2 border-b-2 text-body mb-base space-y-xs border-hr py-sm">
    {# Event Day #}
    <div class="flex flex-wrap justify-between">
        <div>
            <strong>Date:</strong>
            <span>{{ event | eventStartDateTime | formatEventDate | safe }} (PST)</span>
        </div>
    </div>
    {# Event Time #}
    <div class="">
        <strong>Duration:</strong>
        <span>{{ event | eventDuration | safe }}</span>
    </div>
</div>

<div class="prose mb-base mt-sm space-y-sm">
    <div class="text-2xl font-semibold leading-snug text-body-highlight">
        {% metaValue event.metadata,
        "GM" %}
    </div>
</div>
{# Event Image: bit of a kludge. Must be added to event-images folder and named the same as the eventSlug #}
<div class="rounded-md bg-card mb-md">
    {% image heroImage,
    heroImageAlt %}
</div>
{# Description #}
<div class="prose">{{event.postContent | decodeText | nl2br | safe }}</div>
{% if event.youtubeId %}
    <h2 class="h2">Panel Video</h2>
    <div class="my-base">
        <lite-youtube videoid="{{event.youtubeId}}" playlabel="Play"></lite-youtube>
    </div>
{% endif %}
{# Event links #}
<div class="flex flex-wrap justify-between max-w-full prose border-t-2 border-b-2 mt-md border-hr py-sm gap-base">
    <div class="text-sm">
        {% set tweeturl = "https://twitter.com/intent/tweet?text=Check+out+this+panel+at+#BigBadOnline+2021!+https://www.bigbadcon.com/events/" + event.eventSlug %}

        <a class="inline-flex items-center gap-sm" href="{{tweeturl}}">
            <svg class="w-4 h-4 fill-body">
                <use xlink:href="/static/images/icons.svg#twitter"></use>
            </svg>Tweet This!</a>
    </div>
    <div class="text-sm">
        <a href="{{ogAPIImage | ogCacheBuster}}" class="inline-flex items-center gap-sm">
            <svg class="w-4 h-4 fill-body">
                <use xlink:href="/static/images/icons.svg#image"></use>
            </svg>Social Image Card</a>
    </div>
</div>
<div class="prose py-base">Back to <a href="/past-events/big-bad-online-2021/">List of 2021 Online Events</a>
</div>