---
layout: layouts/plain.njk
pagination:
    data: eventData.volunteer
    size: 1
    alias: event
permalink: "volunteer/{{ event.eventSlug }}/"
eleventyComputed:
    title: "{{ event.eventName | safe }}"
---

{%- from "components/auth-macros.njk" import eventAuthPanel -%}

{# Date and Time #}
<div class="prose text-body mb-base">
    {# Event Day #}
    <div class="">
        <strong>Date:</strong>
        {{ event.eventStartDate }}</div>
    {# Event Time #}
    <div class="">
        <strong>Time:</strong>
        {{ event.eventStartTime | stripSeconds }} &ndash; {{ event.eventEndTime | stripSeconds }}</div>
</div>

{# Description #}

<div class="prose">{{event.postContent | safe }}</div>

{# Event Signup / Booking #}
{% include 'components/volunteerBookingPanel.njk'%}

<div class="prose border-t-2 my-base pt-base border-hr">Back to <a href="/volunteer-shifts/">List of Volunteer Shifts</a>
</div>