---
title: Contact Us
tags: footer
order: 0
status: draft
---

<form class="grid grid-cols-2 gap-y-2 gap-x-4 flex-grow">
    <div>
        <label for="name">Name <span class="font-bold">* <span class="sr-only">required</span></span></label>
        <input type="text" name="name" id="name" class="text-sm mt-xs mb-sm block w-full rounded-md bg-card border-primary-4 focus:border-highlight focus:bg-main-gradient-bottom focus:ring-0">
        <label for="email">Email <span class="font-bold">* <span class="sr-only">required</span></span></label>
        <input type="text" name="email" id="email" class="text-sm mt-xs mb-sm block w-full rounded-md bg-card border-primary-4 focus:border-highlight focus:bg-main-gradient-bottom focus:ring-0">
    </div>
    <div>
        <label for="messege">Message <span class="font-bold">* <span class="sr-only">required</span></span></label>
        <textarea type="messege" name="message" id="message" rows="4" class="text-sm mt-xs mb-sm block w-full rounded-md bg-card border-primary-4 focus:border-highlight focus:bg-main-gradient-bottom focus:ring-0"></textarea>
        </div>
    <div>
        <input type="submit" value="submit" class="bg-highlight hover:bg-secondary text-white font-bold py-2 px-4 border-b-4 border-highlight-2 hover:border-highlight rounded cursor-pointer">
    </div>
</form>